@charset "UTF-8";
/* line 1, ../../sass/reset/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 2, ../../sass/reset/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 3, ../../sass/reset/_reset.scss */
address, cite, dfn, em, var {
  font-style: normal;
}

/* line 4, ../../sass/reset/_reset.scss */
code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

/* line 6, ../../sass/reset/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 7, ../../sass/reset/_reset.scss */
a {
  text-decoration: none;
}

/* line 8, ../../sass/reset/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 9, ../../sass/reset/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../sass/reset/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 11, ../../sass/reset/_reset.scss */
legend {
  color: #000;
}

/* line 12, ../../sass/reset/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 13, ../../sass/reset/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 14, ../../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../../sass/reset/_reset.scss */
input[type="hidden" i], input[type="image" i], input[type="file" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

/* line 24, ../../sass/reset/_reset.scss */
input[type="hidden" i] {
  display: none;
}

/* line 27, ../../sass/reset/_reset.scss */
.form input[type=password] {
  font-family: Tahoma,Helvetica,Arial;
}

/* line 31, ../../sass/reset/_reset.scss */
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

/* line 44, ../../sass/reset/_reset.scss */
.btn-img, .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}

/* line 52, ../../sass/reset/_reset.scss */
.fll {
  float: left;
}

/* line 55, ../../sass/reset/_reset.scss */
.flr {
  float: right;
}

/* line 58, ../../sass/reset/_reset.scss */
.link-a {
  color: #07a9c7;
  cursor: pointer;
  margin: 0 3px;
}
/* line 62, ../../sass/reset/_reset.scss */
.link-a:hover {
  text-decoration: underline;
}

/* line 66, ../../sass/reset/_reset.scss */
body {
  background: #f5f5f5;
}

/* line 4, ../../sass/layout/_header2.scss */
.page-auto {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/* line 10, ../../sass/layout/_header2.scss */
.header-top {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 12px;
}
/* line 16, ../../sass/layout/_header2.scss */
.header-top .header-top-adress {
  float: left;
  padding-left: 40px;
}
/* line 19, ../../sass/layout/_header2.scss */
.header-top .header-top-adress li {
  float: left;
  margin-right: 20px;
}
/* line 21, ../../sass/layout/_header2.scss */
.header-top .header-top-nav {
  float: right;
}
/* line 23, ../../sass/layout/_header2.scss */
.header-top .header-top-nav li {
  margin-left: 30px;
  float: left;
  cursor: pointer;
}
/* line 28, ../../sass/layout/_header2.scss */
.header-top .header-top-nav .duan {
  height: 16px;
  line-height: 16px;
  display: inline-block;
  padding: 0 8px;
  background-color: #aaa6a6;
  border-radius: 8px;
  color: #fff;
}

/* line 38, ../../sass/layout/_header2.scss */
.header {
  width: 100%;
  height: 100px;
  background-color: #f5222d;
}
/* line 42, ../../sass/layout/_header2.scss */
.header .logoleft {
  float: left;
}
/* line 44, ../../sass/layout/_header2.scss */
.header .logoleft .logo {
  float: left;
}
/* line 48, ../../sass/layout/_header2.scss */
.header .header-nav {
  position: absolute;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  left: 240px;
  top: 0;
  color: #fff;
}
/* line 56, ../../sass/layout/_header2.scss */
.header .header-nav > li {
  float: left;
  height: 100%;
  padding: 0 30px;
  cursor: pointer;
  margin: 0 5px;
  position: relative;
}
/* line 63, ../../sass/layout/_header2.scss */
.header .header-nav > li i {
  margin-left: 10px;
}
/* line 66, ../../sass/layout/_header2.scss */
.header .header-nav > li .bubble-news {
  transform: translate(-3px, -15px);
}
/* line 70, ../../sass/layout/_header2.scss */
.header .header-nav > li:hover {
  font-weight: bold;
  background-color: #fd7171;
  font-weight: bold;
}
/* line 74, ../../sass/layout/_header2.scss */
.header .header-nav > li:hover .header-nav-detailed {
  display: block;
}
/* line 76, ../../sass/layout/_header2.scss */
.header .header-nav > .selected {
  background-color: #fd7171;
  font-weight: bold;
}
/* line 80, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 9;
  background-color: #fd7171;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}
/* line 91, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed li {
  height: 36px;
  line-height: 36px;
  padding-left: 30px;
  box-sizing: border-box;
}
/* line 96, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed li:hover {
  background-color: #f5222d;
}
/* line 102, ../../sass/layout/_header2.scss */
.header .header-search {
  position: absolute;
  right: 0;
  top: 36px;
  width: 300px;
  height: 36px;
  line-height: 36px;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  padding-left: 30px;
}
/* line 113, ../../sass/layout/_header2.scss */
.header .header-search .header-search-icon {
  position: absolute;
  left: 20px;
  top: 0;
  font-size: 18px;
  cursor: pointer;
}
/* line 120, ../../sass/layout/_header2.scss */
.header .header-search input {
  border: none;
  outline: none;
  background-color: #fff;
  height: 36px;
  line-height: 36px;
  padding: 0 10px 0 20px;
  float: left;
}
/* line 129, ../../sass/layout/_header2.scss */
.header .header-search .header-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: center;
  background-color: #999999;
  color: #fff;
  cursor: pointer;
}

/* line 1, ../../sass/layout/_left-nav.scss */
.navigation {
  width: 200px;
  background-color: #fff;
  padding: 40px 0 40px 50px;
  box-sizing: border-box;
}
/* line 6, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item {
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 9, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li {
  font-size: 14px;
  color: #888;
  line-height: 36px;
}
/* line 13, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li.selected {
  color: #f5222d;
}
/* line 16, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li:hover {
  color: #ff4d4f;
}
/* line 19, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li span {
  cursor: pointer;
}
/* line 23, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item .navigation-item-title {
  font-size: 16px;
  color: #000;
  line-height: 40px;
}

/* line 32, ../../sass/layout/_left-nav.scss */
.reddot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #f5222d;
  border-radius: 50%;
  vertical-align: text-top;
}

/* line 1, ../../sass/reset/_common.scss */
.fll {
  float: left;
}

/* line 4, ../../sass/reset/_common.scss */
.flr {
  float: right;
}

/* line 7, ../../sass/reset/_common.scss */
.bold {
  font-weight: bold;
}

/*版心*/
/* line 11, ../../sass/reset/_common.scss */
.page-auto {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*其他版心定义 以w开头*/
/* line 18, ../../sass/reset/_common.scss */
.w99 {
  width: 990px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*清除浮动*/
/* line 25, ../../sass/reset/_common.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 33, ../../sass/reset/_common.scss */
.clearfix {
  zoom: 1;
}

/*多余字符串省略号代替*/
/* line 37, ../../sass/reset/_common.scss */
.box-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*文字链接样式*/
/* line 43, ../../sass/reset/_common.scss */
.link-a {
  color: #4184e8;
  cursor: pointer;
  margin: 0 3px;
}

/* line 48, ../../sass/reset/_common.scss */
.link-a:hover {
  text-decoration: underline;
}

/*文字字号*/
/* line 53, ../../sass/reset/_common.scss */
.f18 {
  font-size: 18px;
}

/* line 56, ../../sass/reset/_common.scss */
.f22 {
  font-size: 22px;
}

/* line 59, ../../sass/reset/_common.scss */
.f26 {
  font-size: 26px;
}

/*文字常用颜色 以fc起头*/
/* line 63, ../../sass/reset/_common.scss */
.fc01 {
  color: red;
}

/*气泡提示消息样式*/
/* line 68, ../../sass/reset/_common.scss */
.bubble-news {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 0 4px;
  border-radius: 50% 40% 40% 0;
  background-color: #fff;
  color: #000;
  font-weight: 500 !important;
}

/* line 80, ../../sass/reset/_common.scss */
.bubble-tips {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 1px 5px;
  border-radius: 35%;
  background-color: #c94a4a;
  color: #fff;
  font-weight: 500 !important;
}

/* line 91, ../../sass/reset/_common.scss */
.bubble-tips2 {
  font-size: 12px;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  padding: 1px 2px;
  border-radius: 8px;
  background-color: #fff;
  color: #c94a4a;
  font-weight: 500 !important;
  border: 1px solid #c94a4a;
}

/* line 103, ../../sass/reset/_common.scss */
.tips {
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: #f5222d;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
}

/* line 115, ../../sass/reset/_common.scss */
.coupon-label {
  width: 282px;
  height: 121px;
}
/* line 118, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top {
  width: 100%;
  height: 89px;
  padding-top: 24px;
  background: url(../../images/public/coupon-up.png);
  box-sizing: border-box;
  color: #fff;
  position: relative;
}
/* line 126, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val {
  float: left;
  width: 108px;
  text-align: center;
}
/* line 130, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val span:nth-child(1) {
  font-size: 38px;
}
/* line 133, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val span:nth-child(2) {
  font-size: 22px;
}
/* line 137, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time {
  line-height: 20px;
  font-size: 12px;
}
/* line 140, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time p:nth-child(1) {
  font-weight: bold;
}
/* line 143, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time > span {
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
  background-color: #fff;
  color: #a95147;
}
/* line 151, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-type {
  position: absolute;
  top: 2px;
  left: 10px;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #ce5649;
  color: #fff;
}
/* line 162, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom {
  width: 100%;
  height: 32px;
  line-height: 30px;
  background: url(../../images/public/coupon-down.png);
  color: #dd7781;
}
/* line 168, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom p {
  padding-left: 18px;
  padding-right: 40px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 175, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom p .iconfont {
  position: absolute;
  top: 1px;
  right: 16px;
  font-size: 14px;
  cursor: pointer;
}

/* line 2, ../../sass/layout/_grid.scss */
.bare-grid {
  border: 1px solid #ccc;
}
/* line 4, ../../sass/layout/_grid.scss */
.bare-grid .bare-grid-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  background-color: #dddddd;
  font-size: 14px;
  color: #999999;
}
/* line 12, ../../sass/layout/_grid.scss */
.bare-grid > ul {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
/* line 15, ../../sass/layout/_grid.scss */
.bare-grid > ul > li {
  float: left;
  width: 10%;
  text-align: center;
  color: #666;
}

/* line 23, ../../sass/layout/_grid.scss */
.simple-grid {
  font-size: 12px;
}
/* line 25, ../../sass/layout/_grid.scss */
.simple-grid .simple-grid-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  color: #999999;
}
/* line 31, ../../sass/layout/_grid.scss */
.simple-grid > ul {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
/* line 34, ../../sass/layout/_grid.scss */
.simple-grid > ul > li {
  float: left;
  width: 10%;
  text-align: center;
  color: #666;
}

/*表单系列样式*/
/* line 4, ../../sass/layout/_form.scss */
.normal-check {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}
/* line 12, ../../sass/layout/_form.scss */
.normal-check.checked .icon-Group- {
  display: block;
}
/* line 17, ../../sass/layout/_form.scss */
.normal-check .sim-checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: solid 1px #dddddd;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 26, ../../sass/layout/_form.scss */
.normal-check .icon-Group- {
  display: none;
  position: absolute;
  left: 2px;
  top: 2px;
  font-weight: bold;
  color: green;
  line-height: 16px !important;
}
/* line 35, ../../sass/layout/_form.scss */
.normal-check input {
  position: absolute;
  left: 0;
  display: none;
  outline: none;
  outline: none;
}

/* line 46, ../../sass/layout/_form.scss */
.btn {
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 30px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* line 59, ../../sass/layout/_form.scss */
.btn-normal {
  background: #f5222d;
}

/* line 62, ../../sass/layout/_form.scss */
.btn-register {
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  color: #fff;
  background: #f5222d;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

/* line 75, ../../sass/layout/_form.scss */
.btn-text-group {
  display: inline-block;
  width: 260px;
  height: 34px;
  line-height: 34px;
  padding-right: 58px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
/* line 86, ../../sass/layout/_form.scss */
.btn-text-group input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0 none;
  outline: none;
  float: left;
  padding: 0 5px;
  color: #666;
}
/* line 96, ../../sass/layout/_form.scss */
.btn-text-group .group-btn {
  width: 58px;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

/* line 106, ../../sass/layout/_form.scss */
.btn-square-red {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 30px;
  background-color: #f5222d;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

/* line 121, ../../sass/layout/_form.scss */
.btn-square-gray {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  background-color: #cccccc;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

/* line 1, ../../sass/layout/_tab-list.scss */
.tab-list {
  font-size: 15px;
  margin-bottom: 20px;
}
/* line 5, ../../sass/layout/_tab-list.scss */
.tab-list li {
  float: left;
  border-bottom: 2px solid #eaeaea;
  padding: 0 30px;
  line-height: 45px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
/* line 13, ../../sass/layout/_tab-list.scss */
.tab-list li.tab-list-detail:hover {
  color: #ff4d4f;
}
/* line 17, ../../sass/layout/_tab-list.scss */
.tab-list li.line {
  color: #eaeaea;
  padding: 0;
  font-weight: normal;
}
/* line 22, ../../sass/layout/_tab-list.scss */
.tab-list li.current {
  border-color: #f5222d;
}

/* line 30, ../../sass/layout/_tab-list.scss */
.tab-group .tab-nav ul {
  width: 100%;
  height: 40px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  position: relative;
  clear: both;
}
/* line 38, ../../sass/layout/_tab-list.scss */
.tab-group .tab-nav ul li {
  float: left;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
  margin-left: -1px;
  cursor: pointer;
}
/* line 50, ../../sass/layout/_tab-list.scss */
.tab-group .tab-nav ul .selected {
  border-top: 4px solid red;
  border-bottom: 4px solid #fff;
  line-height: 32px;
  background-color: #fff;
  color: red;
  z-index: 9;
}
/* line 60, ../../sass/layout/_tab-list.scss */
.tab-group .tab-items {
  min-height: 300px;
}
/* line 62, ../../sass/layout/_tab-list.scss */
.tab-group .tab-items .tab-item {
  display: none;
}
/* line 65, ../../sass/layout/_tab-list.scss */
.tab-group .tab-items .selected {
  display: block;
}

/* line 70, ../../sass/layout/_tab-list.scss */
.tab-group-border {
  border: 1px solid #e8e8e8;
  border-top: 0 none;
}

/* line 12, ../../sass/page/account.scss */
.container {
  padding-top: 20px;
}

/* line 16, ../../sass/page/account.scss */
.left-nav {
  float: left;
}

/* line 20, ../../sass/page/account.scss */
.right-content {
  float: right;
  width: 980px;
  min-height: 400px;
  background-color: #fff;
  padding: 10px 20px 50px;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
}

/* line 31, ../../sass/page/account.scss */
.user-content {
  border-bottom: 1px dashed #ccc;
}

/* line 35, ../../sass/page/account.scss */
.user-list {
  height: 70px;
}
/* line 38, ../../sass/page/account.scss */
.user-list > label {
  width: 100px;
  text-align: center;
  line-height: 70px;
  float: left;
}
/* line 45, ../../sass/page/account.scss */
.user-list img {
  width: 68px;
  height: 68px;
  border-radius: 60px;
  float: left;
}
/* line 52, ../../sass/page/account.scss */
.user-list .user-detail {
  line-height: 70px;
  padding-left: 20px;
  float: left;
}
/* line 58, ../../sass/page/account.scss */
.user-list input[type="text"] {
  height: 32px;
  border: solid 1px #dddddd;
  padding-left: 10px;
}
/* line 64, ../../sass/page/account.scss */
.user-list input[type="radio"] {
  margin: 0 5px 0 10px;
}
/* line 68, ../../sass/page/account.scss */
.user-list select {
  /*将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100px;
  height: 26px;
  line-height: 26px;
  padding-left: 5px;
  border: solid 1px #dddddd;
}
/* line 80, ../../sass/page/account.scss */
.user-list select::-ms-expand {
  display: none;
}
/* line 81, ../../sass/page/account.scss */
.user-list .selectdiv {
  position: relative;
  width: 120px;
  line-height: 26px;
  margin-top: 25px;
}
/* line 86, ../../sass/page/account.scss */
.user-list .selectdiv i {
  position: absolute;
  right: 24px;
  top: 0px;
}

/* line 96, ../../sass/page/account.scss */
.btnbox {
  text-align: center;
}
/* line 99, ../../sass/page/account.scss */
.btnbox .btn-normal {
  padding: 0 50px;
}

/* line 104, ../../sass/page/account.scss */
.head-portrait {
  padding: 20px;
}
/* line 107, ../../sass/page/account.scss */
.head-portrait > p {
  height: 40px;
  line-height: 40px;
}

/* line 113, ../../sass/page/account.scss */
.check-list {
  border-bottom: 1px dashed #ccc;
}

/* line 118, ../../sass/page/account.scss */
.check-list li {
  float: left;
  margin: 15px 20px;
}
/* line 122, ../../sass/page/account.scss */
.check-list li > div {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
