@charset "UTF-8";
/* line 1, ../../sass/reset/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 2, ../../sass/reset/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 3, ../../sass/reset/_reset.scss */
address, cite, dfn, em, var {
  font-style: normal;
}

/* line 4, ../../sass/reset/_reset.scss */
code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

/* line 6, ../../sass/reset/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 7, ../../sass/reset/_reset.scss */
a {
  text-decoration: none;
}

/* line 8, ../../sass/reset/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 9, ../../sass/reset/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../sass/reset/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 11, ../../sass/reset/_reset.scss */
legend {
  color: #000;
}

/* line 12, ../../sass/reset/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 13, ../../sass/reset/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 14, ../../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../../sass/reset/_reset.scss */
input[type="hidden" i], input[type="image" i], input[type="file" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

/* line 24, ../../sass/reset/_reset.scss */
input[type="hidden" i] {
  display: none;
}

/* line 27, ../../sass/reset/_reset.scss */
.form input[type=password] {
  font-family: Tahoma,Helvetica,Arial;
}

/* line 31, ../../sass/reset/_reset.scss */
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

/* line 44, ../../sass/reset/_reset.scss */
.btn-img, .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}

/* line 52, ../../sass/reset/_reset.scss */
.fll {
  float: left;
}

/* line 55, ../../sass/reset/_reset.scss */
.flr {
  float: right;
}

/* line 58, ../../sass/reset/_reset.scss */
.link-a {
  color: #07a9c7;
  cursor: pointer;
  margin: 0 3px;
}
/* line 62, ../../sass/reset/_reset.scss */
.link-a:hover {
  text-decoration: underline;
}

/* line 66, ../../sass/reset/_reset.scss */
body {
  background: #f5f5f5;
}

/* line 69, ../../sass/reset/_reset.scss */
select {
  /*将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 75, ../../sass/reset/_reset.scss */
select::-ms-expand {
  display: none;
}

/* line 1, ../../sass/reset/_common.scss */
.fll {
  float: left;
}

/* line 5, ../../sass/reset/_common.scss */
.flr {
  float: right;
}

/* line 9, ../../sass/reset/_common.scss */
.bold {
  font-weight: bold;
}

/*版心*/
/* line 14, ../../sass/reset/_common.scss */
.page-auto {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*其他版心定义 以w开头*/
/* line 22, ../../sass/reset/_common.scss */
.w99 {
  width: 990px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*清除浮动*/
/* line 30, ../../sass/reset/_common.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 38, ../../sass/reset/_common.scss */
.clearfix {
  zoom: 1;
}

/*多余字符串省略号代替*/
/* line 43, ../../sass/reset/_common.scss */
.box-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*文字链接样式*/
/* line 50, ../../sass/reset/_common.scss */
.link-a {
  color: #4184e8;
  cursor: pointer;
  margin: 0 3px;
}

/* line 56, ../../sass/reset/_common.scss */
.link-a:hover {
  text-decoration: underline;
}

/*灰色连接*/
/* line 61, ../../sass/reset/_common.scss */
.link-b {
  color: #656565;
  cursor: pointer;
  margin: 0 3px;
}

/* line 67, ../../sass/reset/_common.scss */
.link-b:hover {
  text-decoration: underline;
}

/*文字字号*/
/* line 72, ../../sass/reset/_common.scss */
.f18 {
  font-size: 18px;
}

/* line 76, ../../sass/reset/_common.scss */
.f22 {
  font-size: 22px;
}

/* line 80, ../../sass/reset/_common.scss */
.f26 {
  font-size: 26px;
}

/*文字常用颜色 以fc起头*/
/* line 85, ../../sass/reset/_common.scss */
.fc01 {
  color: red;
}

/*气泡提示消息样式*/
/* line 90, ../../sass/reset/_common.scss */
.bubble-news {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 0 4px;
  border-radius: 50% 40% 40% 0;
  background-color: #fff;
  color: #000;
  font-weight: 500 !important;
}

/* line 103, ../../sass/reset/_common.scss */
.bubble-tips {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 1px 5px;
  border-radius: 35%;
  background-color: #c94a4a;
  color: #fff;
  font-weight: 500 !important;
}

/* line 116, ../../sass/reset/_common.scss */
.bubble-tips2 {
  font-size: 12px;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  padding: 1px 2px;
  border-radius: 8px;
  background-color: #fff;
  color: #c94a4a;
  font-weight: 500 !important;
  border: 1px solid #c94a4a;
}

/* line 130, ../../sass/reset/_common.scss */
.tips {
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: #f5222d;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
}

/* line 144, ../../sass/reset/_common.scss */
.coupon-label {
  width: 282px;
  height: 121px;
}
/* line 148, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top {
  width: 100%;
  height: 89px;
  padding-top: 24px;
  background: url(../../images/public/coupon-up.png);
  box-sizing: border-box;
  color: #fff;
  position: relative;
}
/* line 157, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val {
  float: left;
  width: 108px;
  text-align: center;
}
/* line 162, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val span:nth-child(1) {
  font-size: 38px;
}
/* line 166, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val span:nth-child(2) {
  font-size: 22px;
}
/* line 171, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time {
  line-height: 20px;
  font-size: 12px;
}
/* line 175, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time p:nth-child(1) {
  font-weight: bold;
}
/* line 179, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time > span {
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
  background-color: #fff;
  color: #a95147;
}
/* line 188, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-type {
  position: absolute;
  top: 2px;
  left: 10px;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #ce5649;
  color: #fff;
}
/* line 200, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom {
  width: 100%;
  height: 32px;
  line-height: 30px;
  background: url(../../images/public/coupon-down.png);
  color: #dd7781;
}
/* line 207, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom p {
  padding-left: 18px;
  padding-right: 40px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 215, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom p .iconfont {
  position: absolute;
  top: 1px;
  right: 16px;
  font-size: 14px;
  cursor: pointer;
}

/* line 227, ../../sass/reset/_common.scss */
.triangle {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 233, ../../sass/reset/_common.scss */
.triangle:before,
.triangle .before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #f5222d transparent;
}

/* line 250, ../../sass/reset/_common.scss */
.triangle:after,
.triangle .after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 7px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 1px;
  top: 2px;
}

/* line 268, ../../sass/reset/_common.scss */
.triangle.white:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
}

/* line 283, ../../sass/reset/_common.scss */
.triangle.gray:before,
.triangle.gray .before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #cccccc transparent;
}

/*
<div class="iconforbr">
<span class="current">iphone7/8<i class="iconfont icon-youxiajiaogouxuan"></i></span>
<span>iphone7/8</span>
</div>*/
/* line 307, ../../sass/reset/_common.scss */
.iconforbr span {
  display: inline-block;
  height: 26px;
  border: 1px solid #cccccc;
  line-height: 26px;
  padding: 0 5px;
  cursor: pointer;
}
/* line 315, ../../sass/reset/_common.scss */
.iconforbr span.sell-out {
  border: 1px dashed #cccccc;
}
/* line 319, ../../sass/reset/_common.scss */
.iconforbr span.current {
  position: relative;
  border: 2px solid #b3a078;
}
/* line 322, ../../sass/reset/_common.scss */
.iconforbr span.current i {
  position: absolute;
  right: 0;
  bottom: -1px;
  font-size: 12px;
  line-height: 12px;
  color: #b3a078;
}
/* line 331, ../../sass/reset/_common.scss */
.iconforbr span.nocurrent {
  background: #ebebeb;
  border-color: #ebebeb;
  color: #cccccc;
}

/* line 1, ../../sass/layout/_header.scss */
body {
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff;
}

/* line 9, ../../sass/layout/_header.scss */
.header {
  height: 100px;
  background: #fff;
  box-shadow: 0 0 10px #b4b4b4;
}
/* line 13, ../../sass/layout/_header.scss */
.header .logoheader {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}
/* line 18, ../../sass/layout/_header.scss */
.header .logoheader .logoleft {
  overflow: hidden;
  height: 100px;
  float: left;
}
/* line 23, ../../sass/layout/_header.scss */
.header .logoheader .logoleft img {
  margin-top: 25px;
}
/* line 27, ../../sass/layout/_header.scss */
.header .logoheader .logoleft .logo {
  float: left;
}
/* line 31, ../../sass/layout/_header.scss */
.header .logoheader .logoleft .logo-title {
  font-size: 24px;
  margin-left: 36px;
  float: left;
  line-height: 100px;
}
/* line 40, ../../sass/layout/_header.scss */
.header .w {
  width: 990px;
  margin: 0 auto;
}
/* line 45, ../../sass/layout/_header.scss */
.header .have-account {
  font-size: 16px;
  color: #999;
  float: right;
  line-height: 100px;
}
/* line 51, ../../sass/layout/_header.scss */
.header .have-account a {
  color: #e22;
}
/* line 57, ../../sass/layout/_header.scss */
.header .q-link {
  position: relative;
  color: #999;
  float: right;
  top: 30px;
}
/* line 63, ../../sass/layout/_header.scss */
.header .q-link b {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 18px;
  height: 14px;
  margin: 0 5px;
  background: url(../../images/header/q-icon.png) no-repeat;
  overflow: hidden;
  vertical-align: middle;
}

/* line 1, ../../sass/layout/_footer.scss */
.footer {
  font-size: 12px;
  text-align: center;
  color: #999;
  padding-bottom: 30px;
  background: #fff;
}
/* line 7, ../../sass/layout/_footer.scss */
.footer .links {
  border-top: solid 1px #e6e6e6;
  width: 1200px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0 auto;
}
/* line 14, ../../sass/layout/_footer.scss */
.footer a {
  color: #999;
  margin: 0 10px;
}

/* line 2, ../../sass/layout/_detail-header.scss */
.detail.header {
  box-shadow: none;
}
/* line 5, ../../sass/layout/_detail-header.scss */
.detail.header .header_right {
  width: 700px;
  float: right;
  height: 70px;
  margin-top: 25px;
}
/* line 12, ../../sass/layout/_detail-header.scss */
.detail.header .serchbox {
  float: left;
  width: 512px;
  position: relative;
}
/* line 17, ../../sass/layout/_detail-header.scss */
.detail.header .serchbox .icon-xiazai17 {
  position: absolute;
  left: 17px;
  top: 12px;
  color: #d1d1d1;
}
/* line 25, ../../sass/layout/_detail-header.scss */
.detail.header .serch {
  height: 38px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #f5222d;
}
/* line 31, ../../sass/layout/_detail-header.scss */
.detail.header .serch input {
  border: none;
  height: 38px;
  line-height: 38px;
  float: left;
  width: 382px;
  padding-left: 40px;
  background: transparent;
  font-size: 14px;
}
/* line 42, ../../sass/layout/_detail-header.scss */
.detail.header .serch button {
  float: right;
  width: 90px;
  background: #f5222d;
  border: none;
  box-shadow: none;
  color: #fff;
  height: 38px;
  border-radius: 0 20px 20px 0;
  text-align: center;
  font-size: 14px;
}
/* line 56, ../../sass/layout/_detail-header.scss */
.detail.header .ahreflist {
  height: 19px;
  padding-top: 8px;
  padding-left: 32px;
  overflow: hidden;
}
/* line 62, ../../sass/layout/_detail-header.scss */
.detail.header .ahreflist a {
  text-decoration: none;
  margin-right: 10px;
  line-height: 19px;
  font-size: 12px;
  color: #aaa;
  margin-left: 5px;
}
/* line 71, ../../sass/layout/_detail-header.scss */
.detail.header .ahreflist a:hover {
  color: #ff4d4f;
}
/* line 76, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox {
  position: relative;
  float: right;
  width: 122px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #f5222d;
  font-size: 14px;
  position: relative;
}
/* line 85, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox:hover .shopingdetail {
  display: block;
}
/* line 89, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox a {
  color: #f5222d;
  text-decoration: none;
  position: absolute;
  left: 16px;
  top: 10px;
}
/* line 97, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox .iconfont {
  color: #b79f79;
  float: left;
  margin-right: 5px;
}
/* line 103, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox .num {
  background: #f5222d;
  border-radius: 10px;
  color: #fff;
  padding: 0 5px;
}
/* line 111, ../../sass/layout/_detail-header.scss */
.detail.header .shopingdetail {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 330px;
  height: 340px;
  z-index: 2;
  background: #fff;
}
/* line 123, ../../sass/layout/_detail-header.scss */
.detail.header .trianglebox {
  position: relative;
  height: 15px;
}
/* line 128, ../../sass/layout/_detail-header.scss */
.detail.header .triangle {
  position: absolute;
  right: 200px;
}
/* line 133, ../../sass/layout/_detail-header.scss */
.detail.header .triangle:before,
.detail.header .triangle .before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 150px;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #f5222d transparent;
}
/* line 150, ../../sass/layout/_detail-header.scss */
.detail.header .triangle:after,
.detail.header .triangle .after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 7px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 151px;
  top: 2px;
}
/* line 167, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist {
  border: 1px solid #f5222d;
  height: 326px;
}
/* line 172, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist ul {
  height: 230px;
  padding: 15px;
}
/* line 178, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li {
  position: relative;
  cursor: pointer;
}
/* line 181, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .shoppingprice {
  font-size: 12px;
  color: #f5222d;
  line-height: 35px;
  margin-left: 10px;
  float: left;
}
/* line 189, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .listdetail {
  float: left;
  width: 140px;
  margin-left: 10px;
}
/* line 193, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .listdetail p {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 35px;
}
/* line 200, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .listdetail div span {
  font-size: 12px;
  color: #9b9b9b;
  margin-right: 3px;
}
/* line 207, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li img {
  width: 60px;
  float: left;
}
/* line 212, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .icon-cuowu1 {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
/* line 221, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom {
  height: 36px;
  background: #fff1f0;
  padding: 15px;
}
/* line 225, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom .leftprice {
  float: left;
}
/* line 228, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom p {
  font-size: 13px;
  color: #9b9b9b;
}
/* line 232, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom .totalprice {
  color: #f5222d;
}
/* line 235, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom .btn-register {
  float: right;
}
/* line 238, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom .btn {
  background: #f5222d;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
}

/* line 253, ../../sass/layout/_detail-header.scss */
.detail.header.fixed {
  width: 100%;
  text-align: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
}
/* line 263, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .logoheader,
.detail.header.fixed .logoleft {
  height: 60px;
}
/* line 268, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .logoleft img {
  margin-top: 0;
}
/* line 272, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .header_right {
  height: 40px;
  margin-top: 10px;
}
/* line 277, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .serchbox {
  width: 675px;
}
/* line 281, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .serch input {
  width: 530px;
}
/* line 285, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .ahreflist,
.detail.header.fixed .shoppingbox {
  display: none;
}

/* line 291, ../../sass/layout/_detail-header.scss */
.header-top {
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5;
  clear: both;
}
/* line 296, ../../sass/layout/_detail-header.scss */
.header-top > div {
  width: 1200px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  color: #999;
  position: relative;
}
/* line 305, ../../sass/layout/_detail-header.scss */
.header-top .fl {
  float: left;
}
/* line 309, ../../sass/layout/_detail-header.scss */
.header-top .iconfont {
  float: left;
}
/* line 313, ../../sass/layout/_detail-header.scss */
.header-top li {
  float: left;
  cursor: pointer;
}
/* line 318, ../../sass/layout/_detail-header.scss */
.header-top a {
  color: #999;
  text-decoration: none;
}
/* line 323, ../../sass/layout/_detail-header.scss */
.header-top a:hover {
  color: #ff4d4f;
}
/* line 327, ../../sass/layout/_detail-header.scss */
.header-top .cw-icon {
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  border: 1px solid #e3e4e5;
}
/* line 336, ../../sass/layout/_detail-header.scss */
.header-top .cw-icon a {
  float: left;
}
/* line 341, ../../sass/layout/_detail-header.scss */
.header-top .dt {
  padding-left: 7px;
  padding-right: 7px;
}
/* line 346, ../../sass/layout/_detail-header.scss */
.header-top .dd {
  width: 300px;
  padding: 10px;
  line-height: 24px;
}
/* line 352, ../../sass/layout/_detail-header.scss */
.header-top .dorpdown-layer,
.header-top .dropdown-layer {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}
/* line 362, ../../sass/layout/_detail-header.scss */
.header-top .dropdown-layer {
  top: 30px;
  display: none;
  z-index: 9999;
}
/* line 368, ../../sass/layout/_detail-header.scss */
.header-top .item {
  float: left;
  width: 60px;
  padding: 2px 0;
}
/* line 374, ../../sass/layout/_detail-header.scss */
.header-top .item a {
  float: left;
  padding: 0 8px;
  text-decoration: none;
}
/* line 380, ../../sass/layout/_detail-header.scss */
.header-top .item a.selected {
  background-color: #f5222d;
  color: #fff;
}
/* line 385, ../../sass/layout/_detail-header.scss */
.header-top .ui-areamini-content-wrap {
  overflow: hidden;
}
/* line 390, ../../sass/layout/_detail-header.scss */
.header-top .fr {
  float: right;
}
/* line 394, ../../sass/layout/_detail-header.scss */
.header-top .shortcut_btn {
  z-index: 21;
}
/* line 398, ../../sass/layout/_detail-header.scss */
.header-top .fore1 {
  margin-right: 8px;
  z-index: 20;
}
/* line 403, ../../sass/layout/_detail-header.scss */
.header-top .style-red {
  color: #f5222d;
}
/* line 407, ../../sass/layout/_detail-header.scss */
.header-top li.spacer {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
/* line 415, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter {
  margin: 10px 0 10px 10px;
  overflow: hidden;
}
/* line 420, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_item {
  width: 145px;
  height: 26px;
  line-height: 26px;
}
/* line 426, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_split {
  width: 262px;
  height: 0;
  border-bottom: dotted 1px #eee;
}
/* line 432, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_desc {
  margin: 9px 0;
  color: #8f8f8f;
}
/* line 437, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter {
  margin: 10px 0 10px 10px;
}
/* line 441, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_list {
  overflow: hidden;
}
/* line 445, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_ico {
  float: left;
  position: relative;
  top: 7px;
  margin-right: 8px;
  width: 15px;
  height: 10px;
  border: solid 1px transparent;
  background: #f5222d;
}
/* line 457, ../../sass/layout/_detail-header.scss */
.header-top .shortcut_btn:hover .cw-icon {
  padding-bottom: 2px;
  border-color: #ccc;
  border-bottom: none;
  background-color: #fff;
}
/* line 465, ../../sass/layout/_detail-header.scss */
.header-top .shortcut_btn:hover .dropdown-layer {
  display: block;
}
/* line 472, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .item-business,
.header-top .fore8 .item-client {
  padding-left: 15px;
  font-weight: 700;
  color: #666;
  overflow: hidden;
}
/* line 480, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .dd {
  right: 166px;
  width: 170px;
  padding: 10px 0;
}
/* line 486, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .item-business {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px dotted #eee;
}
/* line 492, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 70px;
  padding-left: 15px;
}
/* line 500, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .item a {
  float: left;
  padding: 0;
  text-decoration: none;
}
/* line 508, ../../sass/layout/_detail-header.scss */
.header-top .fore9 .dd {
  right: 0;
  width: 1178px;
}
/* line 513, ../../sass/layout/_detail-header.scss */
.header-top .fore9 dt {
  margin-bottom: 5px;
  font-weight: 700;
  color: #666;
}
/* line 519, ../../sass/layout/_detail-header.scss */
.header-top .fore9 dl {
  float: left;
  width: 255px;
  padding-left: 15px;
  border-left: 1px solid #eee;
}
/* line 526, ../../sass/layout/_detail-header.scss */
.header-top .fore9 .item {
  overflow: hidden;
  float: left;
  width: 85px;
  white-space: nowrap;
}
/* line 533, ../../sass/layout/_detail-header.scss */
.header-top .fore9 dl.fore1 {
  border-left: none;
  width: 340px;
}
/* line 541, ../../sass/layout/_detail-header.scss */
.header-top .fore10:hover .mobile_static {
  display: block;
}
/* line 545, ../../sass/layout/_detail-header.scss */
.header-top .fore10:hover .dt {
  border: 1px solid #ccc;
  background-color: #fff;
  border-bottom: none;
}
/* line 553, ../../sass/layout/_detail-header.scss */
.header-top .fore10 .mobile_txt {
  border: 1px solid transparent;
  border-bottom: none;
}
/* line 558, ../../sass/layout/_detail-header.scss */
.header-top .fore10 .mobile_static {
  display: none;
  right: 0px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  z-index: 999;
}
/* line 568, ../../sass/layout/_detail-header.scss */
.header-top .fore10 img {
  width: 130px;
}
/* line 572, ../../sass/layout/_detail-header.scss */
.header-top .fore10 p {
  text-align: center;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  line-height: 20px;
}
/* line 580, ../../sass/layout/_detail-header.scss */
.header-top .fore10 .redtxt {
  color: #f5222d;
}

/* line 588, ../../sass/layout/_detail-header.scss */
.header-content {
  background: #fff;
}

/* line 592, ../../sass/layout/_detail-header.scss */
.header_nav {
  width: 1200px;
  margin: 0 auto;
  height: 38px;
  line-height: 38px;
}
/* line 598, ../../sass/layout/_detail-header.scss */
.header_nav > div {
  float: left;
}
/* line 602, ../../sass/layout/_detail-header.scss */
.header_nav .header_nav_left_title {
  width: 170px;
  background: #f5222d;
  color: #fff;
  height: 38px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding-left: 20px;
}

/* line 616, ../../sass/layout/_detail-header.scss */
.nav-list li {
  float: left;
  padding: 0 15px;
  font-size: 16px;
  overflow: hidden;
  height: 100%;
}
/* line 623, ../../sass/layout/_detail-header.scss */
.nav-list li a {
  color: #333;
  text-decoration: none;
}
/* line 628, ../../sass/layout/_detail-header.scss */
.nav-list li a:hover {
  color: #ff4d4f;
}

/* line 2, ../../sass/layout/_detail-footer.scss */
.detail.footer .wrap {
  margin: 0 auto;
  width: 1200px;
}
/* line 6, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service {
  height: 67px;
}
/* line 9, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
}
/* line 14, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a {
  float: left;
  display: block;
  _display: inline;
  width: 220px;
  overflow: hidden;
  margin: 0 51px;
  margin-right: 105px;
  margin-left: 0px;
  cursor: default;
}
/* line 25, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a:last-child {
  margin-right: 0;
}
/* line 28, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a img {
  float: left;
  display: block;
  _display: inline;
  width: 66px;
  height: 66px;
  margin-right: 15px;
}
/* line 37, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a b {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  float: left;
}
/* line 45, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a span {
  font-size: 14px;
  color: #999;
  line-height: 26px;
  float: left;
}
/* line 51, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link {
  padding: 20px 0 20px;
  overflow: hidden;
}
/* line 55, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_help_list {
  float: left;
  padding-left: 15px;
}
/* line 59, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_code_wrap {
  width: 280px;
  overflow: hidden;
  float: left;
  margin-right: -50px;
}
/* line 65, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link dl {
  float: left;
  display: block;
  _display: inline;
  width: 195px;
  text-align: left;
}
/* line 72, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link dl dt {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  color: #666;
  font-weight: bold;
}
/* line 83, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link dl dd {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  overflow: hidden;
  white-space: normal;
  font-size: 12px;
}
/* line 90, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link dl dd a {
  margin: 0;
}
/* line 94, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_code_wrap .ft_mobile_code {
  float: left;
  margin-right: 50px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
/* line 102, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_code_wrap .ft_mobile_code:last-child {
  margin: 0;
}
/* line 105, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_code_wrap .ft_mobile_code a {
  width: 90px;
  height: 90px;
  display: inline-block;
  background: red;
  color: #fff;
}

/* line 10, ../../sass/page/index.scss */
body {
  background: #f5f5f5;
}

/* line 14, ../../sass/page/index.scss */
.content {
  width: 1200px;
  margin: 0 auto 30px;
}
/* line 18, ../../sass/page/index.scss */
.content.list {
  height: 480px;
}
/* line 22, ../../sass/page/index.scss */
.content .list-nav {
  width: 190px;
  float: left;
  height: 470px;
  padding: 5px 0;
  background: #fff;
  position: relative;
}
/* line 30, ../../sass/page/index.scss */
.content .list-nav .cate_menu_item {
  height: 26px;
  line-height: 26px;
  padding-left: 18px;
}
/* line 35, ../../sass/page/index.scss */
.content .list-nav .cate_menu_item a {
  font-size: 14px;
  color: #626262;
}
/* line 39, ../../sass/page/index.scss */
.content .list-nav .cate_menu_item a:hover {
  color: #ff4d4f;
}
/* line 44, ../../sass/page/index.scss */
.content .list-nav .cate_menu_item:hover {
  background: #d9d9d9;
}
/* line 52, ../../sass/page/index.scss */
.content .list-nav:hover .cate_pop {
  display: block;
}
/* line 57, ../../sass/page/index.scss */
.content .cate_pop {
  display: none;
  background-color: #fff;
  position: absolute;
  left: 191px;
  top: 0;
  width: 1005px;
  min-height: 478px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: top .25s ease;
  -o-transition: top .25s ease;
  -moz-transition: top .25s ease;
  transition: top .25s ease;
  z-index: 9999;
}
/* line 77, ../../sass/page/index.scss */
.content .cate_pop_left {
  width: 800px;
}
/* line 81, ../../sass/page/index.scss */
.content .cate_channel {
  overflow: hidden;
  padding-left: 20px;
  height: 24px;
  margin-top: 18px;
}
/* line 87, ../../sass/page/index.scss */
.content .cate_channel a {
  *cursor: pointer;
  float: left;
  margin-right: 10px;
  padding: 0 10px;
  height: 24px;
  background-color: #333;
  line-height: 24px;
  color: #fff;
}
/* line 97, ../../sass/page/index.scss */
.content .cate_channel a:hover {
  background-color: #5c5251;
  color: #fff;
}
/* line 103, ../../sass/page/index.scss */
.content .cate_channel i {
  font-size: 10px;
}
/* line 108, ../../sass/page/index.scss */
.content .cate_detail {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0 0 20px;
}
/* line 113, ../../sass/page/index.scss */
.content .cate_detail a {
  color: #666;
  text-decoration: none;
}
/* line 118, ../../sass/page/index.scss */
.content .cate_detail a:hover {
  color: #ff4d4f;
}
/* line 123, ../../sass/page/index.scss */
.content .cate_detail_item {
  position: relative;
  padding-left: 80px;
}
/* line 127, ../../sass/page/index.scss */
.content .cate_detail_item .iconfont {
  font-size: 10px;
  margin-left: 5px;
}
/* line 133, ../../sass/page/index.scss */
.content .cate_detail_tit {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 6px;
  width: 70px;
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 146, ../../sass/page/index.scss */
.content .cate_detail_con {
  overflow: hidden;
  *zoom: 1;
  padding: 5px 0;
}
/* line 153, ../../sass/page/index.scss */
.content .cate_detail_con_lk {
  float: left;
  margin: 3px 0;
  padding: 0 10px;
  height: 16px;
  border-left: 1px solid #e0e0e0;
  line-height: 16px;
  white-space: nowrap;
}
/* line 163, ../../sass/page/index.scss */
.content .cate_pop_right {
  float: left;
  width: 198px;
  margin-top: 18px;
}
/* line 168, ../../sass/page/index.scss */
.content .cate_pop_right .top {
  margin: auto;
  width: 168px;
  font-size: 0;
  overflow: hidden;
}
/* line 175, ../../sass/page/index.scss */
.content .cate_pop_right .top a {
  overflow: hidden;
  display: inline-block;
  width: 83px;
  height: 35px;
  margin: 0 0 1px 1px;
  background-color: #e7e7e7;
  float: left;
}
/* line 185, ../../sass/page/index.scss */
.content .cate_pop_right .bottom {
  margin: 10px auto 0;
  width: 168px;
  overflow: hidden;
}
/* line 190, ../../sass/page/index.scss */
.content .cate_pop_right .bottom img {
  width: 168px;
}
/* line 195, ../../sass/page/index.scss */
.content .cate_pop_right .bottom a {
  display: block;
  margin-bottom: 1px;
  height: 134px;
  background-color: #e7e7e7;
  float: left;
}
/* line 205, ../../sass/page/index.scss */
.content .bannercontent {
  width: 780px;
  float: left;
  height: 100%;
}
/* line 210, ../../sass/page/index.scss */
.content .bannercontent .banner {
  width: 760px;
  height: 470px;
  margin: 10px 10px 0;
}
/* line 215, ../../sass/page/index.scss */
.content .bannercontent .banner img {
  height: 470px;
}
/* line 221, ../../sass/page/index.scss */
.content .list-right {
  width: 200px;
  padding: 15px;
  height: 440px;
  margin-top: 10px;
  float: right;
  background: #fff;
}
/* line 229, ../../sass/page/index.scss */
.content .list-right .userdetail {
  height: 84px;
  padding-top: 20px;
  border-bottom: solid 1px #dddddd;
}
/* line 234, ../../sass/page/index.scss */
.content .list-right .userdetail img {
  width: 52px;
  height: 52px;
  float: left;
}
/* line 240, ../../sass/page/index.scss */
.content .list-right .userdetail .details {
  float: left;
  margin-left: 5px;
}
/* line 244, ../../sass/page/index.scss */
.content .list-right .userdetail .details, .content .list-right .userdetail .details a {
  color: #000;
  line-height: 24px;
}
/* line 253, ../../sass/page/index.scss */
.content .list-right .kuaibao {
  position: relative;
  height: 162px;
  padding-top: 10px;
  border-bottom: solid 1px #dddddd;
  z-index: 1;
}
/* line 260, ../../sass/page/index.scss */
.content .list-right .kuaibao .title {
  height: 25px;
  font-size: 13px;
  line-height: 25px;
}
/* line 265, ../../sass/page/index.scss */
.content .list-right .kuaibao .title h5 {
  display: inline-block;
  margin-left: 15px;
  color: #1e1e1e;
  font-weight: bold;
}
/* line 272, ../../sass/page/index.scss */
.content .list-right .kuaibao .title a {
  float: right;
  font-size: 12px;
  color: #999;
}
/* line 279, ../../sass/page/index.scss */
.content .list-right .kuaibao ul {
  padding-top: 8px;
  margin: 0 15px;
  height: 88px;
}
/* line 286, ../../sass/page/index.scss */
.content .list-right .kuaibao li {
  line-height: 21px;
  max-width: 160px;
  _width: 160px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #999;
}
/* line 296, ../../sass/page/index.scss */
.content .list-right .kuaibao li .newtag {
  display: inline-block;
  position: relative;
  font-size: 12px;
  height: 16px;
  width: 35px;
  line-height: 16px;
  text-align: center;
  vertical-align: 0;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  background-color: #f5222d;
  margin-right: 6px;
}
/* line 316, ../../sass/page/index.scss */
.content .list-right .others {
  padding-top: 20px;
}
/* line 319, ../../sass/page/index.scss */
.content .list-right .others li {
  width: 56px;
  height: 56px;
  float: left;
  margin: 5px;
  text-align: center;
}
/* line 326, ../../sass/page/index.scss */
.content .list-right .others li i {
  font-size: 30px;
  margin: 0 auto;
}
/* line 331, ../../sass/page/index.scss */
.content .list-right .others li p {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

/* line 341, ../../sass/page/index.scss */
.content.list2 {
  height: 450px;
}
/* line 344, ../../sass/page/index.scss */
.content.list2 .box {
  width: 393px;
  height: 100%;
  float: left;
  background: #fff;
}
/* line 350, ../../sass/page/index.scss */
.content.list2 .box.center {
  margin: 0 10px;
}
/* line 355, ../../sass/page/index.scss */
.content.list2 .title {
  text-decoration: none;
  display: block;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
}
/* line 362, ../../sass/page/index.scss */
.content.list2 .title h3 {
  float: left;
  font-weight: normal;
  font-size: 22px;
  color: #222;
  line-height: 60px;
}
/* line 370, ../../sass/page/index.scss */
.content.list2 .title i {
  float: left;
  font-size: 23px;
  color: #f5222d;
  position: relative;
  top: 0px;
  left: 4px;
}
/* line 379, ../../sass/page/index.scss */
.content.list2 .title .box-subtit {
  float: left;
  font-size: 14px;
  color: #999;
  height: 60px;
  line-height: 60px;
  margin: 0 0 0 10px;
}
/* line 389, ../../sass/page/index.scss */
.content.list2 .box-bottom {
  width: 100%;
  position: relative;
}
/* line 393, ../../sass/page/index.scss */
.content.list2 .box-bottom.first {
  height: 355px;
}
/* line 397, ../../sass/page/index.scss */
.content.list2 .box-bottom.second {
  height: 390px;
}
/* line 401, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-header {
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #f7f7f7;
}
/* line 407, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-header a {
  float: left;
  width: 78px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  color: #666;
  text-decoration: none;
}
/* line 416, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-header a:hover {
  color: #ff4d4f;
}
/* line 422, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-body {
  position: relative;
  height: 355px;
}
/* line 426, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-body > div {
  border-bottom: 1px solid #f5f5f5;
}
/* line 430, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-body .slider-list {
  height: 107px;
  margin: 0 20px;
}
/* line 435, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-body .slider-list .slider-list-img {
  float: left;
  width: 80px;
  height: 80px;
  margin-top: 15px;
}
/* line 442, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-body .slider-list-num {
  color: #f5222d;
  float: left;
  width: 30px;
  height: 40px;
  margin: 36px 0 0 10px;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  font-family: 'impact', sans-serif;
}
/* line 454, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-body .slider-list-name {
  display: block;
  margin-left: 125px;
  padding-top: 40px;
  height: 32px;
  line-height: 16px;
  font-size: 12px;
  overflow: hidden;
  cursor: pointer;
}
/* line 464, ../../sass/page/index.scss */
.content.list2 .box-bottom .tab-body .slider-list-name:hover {
  color: #ff4d4f;
}
/* line 471, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider_point {
  width: 32px;
  height: 16px;
  position: absolute;
  left: 188px;
  bottom: 10px;
}
/* line 478, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider_point .point {
  width: 16px;
  height: 16px;
  float: left;
  background: url(../../images/index/point.png) no-repeat;
}
/* line 485, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider_point .current.point {
  width: 16px;
  height: 16px;
  background: url(../../images/index/cpoint.png) no-repeat;
}
/* line 493, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img1 {
  width: 350px;
  height: 128px;
  background: #fff1f0;
  margin: 0 auto 20px;
}
/* line 500, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img2 {
  width: 350px;
  margin: 0 auto;
}
/* line 504, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img2 .imgbox {
  height: 105px;
}
/* line 508, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img2 .imgbox span {
  float: left;
  width: 105px;
  height: 105px;
  background: #fff1f0;
}
/* line 515, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img2 .imgbox span.center {
  margin: 0 17.5px;
}
/* line 519, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img2 h3 {
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  text-align: center;
  color: #222;
}
/* line 527, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img2 .subtit {
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  margin: 0 auto 0;
  text-align: center;
  overflow: hidden;
  color: #666;
}
/* line 538, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 {
  width: 350px;
  height: 101px;
  background: #fff1f0;
  margin: 0 auto 20px;
}
/* line 544, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 > div {
  float: left;
}
/* line 548, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 > span {
  float: left;
  margin: 6px 0 0 10px;
  width: 70px;
  height: 70px;
  padding: 10px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: opacity ease 0.2s;
  -o-transition: opacity ease 0.2s;
  -moz-transition: opacity ease 0.2s;
  transition: opacity ease 0.2s;
  background: #fff;
  transition: opacity ease 0.2s;
}
/* line 564, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .mod_price {
  font-size: 14px;
  color: #f5222d;
  font-family: 'impact', sans-serif;
  display: block;
  height: 38px;
  line-height: 38px;
}
/* line 572, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .mod_price a {
  margin-right: 3px;
  font-family: arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
/* line 580, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .mod_price span {
  font-size: 34px;
}
/* line 585, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .coupon_limit {
  color: #b1b3b0;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
/* line 600, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .coupon_desc {
  cursor: pointer;
  color: #767b77;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 615, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .coupon_info {
  padding-top: 10px;
  margin: 0 63px 0 12px;
}
/* line 620, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .coupon_more_inner {
  width: 1px;
  line-height: 15px;
  vertical-align: middle;
  margin-top: 7px;
  cursor: pointer;
}
/* line 627, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .coupon_more_inner:hover {
  color: #ff4d4f;
}
/* line 632, ../../sass/page/index.scss */
.content.list2 .box-bottom .slider-list.img3 .coupon_more {
  float: right;
  height: 100%;
  line-height: 118px;
  margin-right: 34px;
  font-size: 12px;
}

/* line 644, ../../sass/page/index.scss */
.content.list3 {
  height: auto;
  overflow: hidden;
  background: #fff;
}
/* line 649, ../../sass/page/index.scss */
.content.list3 .box {
  float: left;
  width: 1029px;
  height: 100%;
}
/* line 655, ../../sass/page/index.scss */
.content.list3 .box.right {
  position: relative;
  float: right;
  width: 170px;
  border-left: 1px solid #f5f5f5;
  height: 100%;
  position: relative;
}
/* line 663, ../../sass/page/index.scss */
.content.list3 .box.right > img {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
}
/* line 671, ../../sass/page/index.scss */
.content.list3 .box.right p {
  margin-left: 20.5px;
  font-size: 14px;
  color: #999;
  margin-top: 7px;
  width: 130px;
  height: 21px;
  overflow: hidden;
  white-space: nowrap;
}
/* line 682, ../../sass/page/index.scss */
.content.list3 .box.right .qua_top_font {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
}
/* line 688, ../../sass/page/index.scss */
.content.list3 .box.right .qua_top_slideCon {
  height: 317px;
  width: 90px;
  margin: 0 auto;
}
/* line 694, ../../sass/page/index.scss */
.content.list3 .box.right .qua_top_imgCon {
  width: 90px;
  height: 90px;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
  margin-bottom: 11px;
  cursor: pointer;
}
/* line 705, ../../sass/page/index.scss */
.content.list3 .box.right .qua_top_imgCon img {
  width: 90px;
}
/* line 710, ../../sass/page/index.scss */
.content.list3 .box.right .qua_top_imgCon .qua_imgCon_font {
  position: absolute;
  background: url(../../images/index/top1.png) no-repeat;
  font-size: 12px;
  color: #fff;
  width: 40px;
  height: 16px;
  text-align: center;
  font-family: Tahoma;
  font-weight: bold;
}
/* line 722, ../../sass/page/index.scss */
.content.list3 .box.right .qua_top_slideCon_ul {
  margin-top: 13px;
}
/* line 726, ../../sass/page/index.scss */
.content.list3 .box.right .qua_left,
.content.list3 .box.right .qua_right {
  background-color: #ebebeb !important;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  width: 16px;
  height: 16px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #ebebeb;
  color: #fff;
  bottom: 20px;
  text-align: center;
  line-height: 16px;
  background: #d5d5d5;
  cursor: pointer;
}
/* line 745, ../../sass/page/index.scss */
.content.list3 .box.right .qua_left {
  left: 60px;
}
/* line 749, ../../sass/page/index.scss */
.content.list3 .box.right .qua_right {
  left: 94px;
}
/* line 756, ../../sass/page/index.scss */
.content.list3 .qua_tit {
  height: 67px;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 763, ../../sass/page/index.scss */
.content.list3 .qua_tit_spanFirst {
  height: 35px;
  margin-left: 20px;
  line-height: 35px;
  font-size: 26px;
  color: #92a700;
  display: inline-block;
  cursor: pointer;
  max-width: 190px;
  overflow: hidden;
}
/* line 775, ../../sass/page/index.scss */
.content.list3 .qua_tit_spanLast {
  margin-left: 8px;
  font-size: 16px;
  color: #b6c166;
  color: rgba(133, 152, 0, 0.7);
  margin-top: 27px;
  height: 21px;
  cursor: pointer;
  display: inline-block;
  max-width: 208px;
  overflow: hidden;
  position: relative;
  top: -3px;
}
/* line 791, ../../sass/page/index.scss */
.content.list3 .box.left .qua_nav {
  height: 30px;
  position: absolute;
  left: 300px;
  top: 25px;
  font-size: 13px;
}
/* line 798, ../../sass/page/index.scss */
.content.list3 .box.left .qua_nav li {
  padding: 0 12px;
  float: left;
  color: #999;
}
/* line 806, ../../sass/page/index.scss */
.content.list3 .box.left .que_more {
  position: absolute;
  right: 10px;
  top: 25px;
  color: #999;
}
/* line 814, ../../sass/page/index.scss */
.content.list3 .box.left .qua_show_con {
  position: relative;
  padding-left: 20px;
  overflow: hidden;
  padding-bottom: 26px;
}
/* line 820, ../../sass/page/index.scss */
.content.list3 .box.left .qua_show_con > img {
  width: 189px;
  height: 334px;
  float: left;
}
/* line 827, ../../sass/page/index.scss */
.content.list3 .box.left .qua_left_font_con {
  font-size: 14px;
  color: #fff;
  position: absolute;
  width: 176px;
  height: 90px;
  margin-left: 14px;
  top: 16px;
}
/* line 838, ../../sass/page/index.scss */
.content.list3 .box.left .qua_left_f_con_font {
  background: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.61) !important;
  width: 74px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
}
/* line 853, ../../sass/page/index.scss */
.content.list3 .box.left .qua_show_con_right {
  width: 800px;
  height: 334px;
  float: left;
}
/* line 859, ../../sass/page/index.scss */
.content.list3 .box.left .import_snacks div {
  margin-left: 30px;
  font-size: 14px;
}
/* line 864, ../../sass/page/index.scss */
.content.list3 .box.left .import_snacks {
  width: 400px;
  height: 167px;
  position: relative;
  float: left;
  background-color: #faf7f6;
  text-decoration: none;
}
/* line 873, ../../sass/page/index.scss */
.content.list3 .box.left .import_tit {
  margin-top: 40px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 150px;
  margin-left: 30px;
  font-size: 14px;
  color: #3c8020;
}
/* line 885, ../../sass/page/index.scss */
.content.list3 .box.left .voucher_tit {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 150px;
  color: #69b14b;
  margin-left: 30px;
  font-size: 14px;
}
/* line 897, ../../sass/page/index.scss */
.content.list3 .box.left .buy_btn {
  width: 78px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid rgba(114, 191, 37, 0.5);
  color: #72BF25;
}
/* line 910, ../../sass/page/index.scss */
.content.list3 .box.left .bursting {
  float: left;
  position: relative;
  width: 199px;
  height: 167px;
  cursor: pointer;
  border-right: 1px solid #f6f6f6;
}
/* line 919, ../../sass/page/index.scss */
.content.list3 .box.left .bursting p {
  margin-left: 15px;
  font-size: 14px;
  color: #666;
  margin-top: -1px;
  overflow: hidden;
  height: 14px;
  width: 102px;
  line-height: 1;
  margin-bottom: 7px;
  color: #666 !important;
  margin-top: 15px !important;
}
/* line 933, ../../sass/page/index.scss */
.content.list3 .box.left .eat_money {
  font-weight: Bold;
  font-size: 14px;
  color: #2a2a2a;
  margin-left: 13px !important;
  font-family: Tahoma, "Microsoft YaHei";
}
/* line 941, ../../sass/page/index.scss */
.content.list3 .box.left .bursting img {
  position: absolute;
  width: 90px;
  height: 90px;
  bottom: 10px;
  right: 10px;
  margin-top: 15px;
  margin-left: 15px;
}
/* line 951, ../../sass/page/index.scss */
.content.list3 .box.left .import_snacks img {
  position: absolute;
  right: 30px;
  bottom: 27px;
  cursor: pointer;
  width: 110px;
  height: 110px;
}
/* line 962, ../../sass/page/index.scss */
.content.list3 .title2 {
  color: #7d75c8 !important;
  height: 60px;
  line-height: 60px;
}
/* line 968, ../../sass/page/index.scss */
.content.list3 .loves {
  width: 1160px;
  padding: 0 20px;
  height: 100%;
}
/* line 973, ../../sass/page/index.scss */
.content.list3 .loves li {
  float: left;
  width: 244px;
  margin-right: 60px;
}
/* line 978, ../../sass/page/index.scss */
.content.list3 .loves li img {
  width: 244px;
}
/* line 984, ../../sass/page/index.scss */
.content.list3 .loves li:last-child {
  margin-right: 0px;
}
/* line 988, ../../sass/page/index.scss */
.content.list3 .loves .imgdetail {
  text-align: center;
  padding: 0 40px 25px;
  margin-top: 5px;
}
/* line 993, ../../sass/page/index.scss */
.content.list3 .loves .imgdetail p {
  color: #000;
  font-weight: bold;
}
/* line 998, ../../sass/page/index.scss */
.content.list3 .loves .imgdetail .price {
  font-weight: normal;
  color: #f5222d;
  border-bottoM: solid 1px #dddddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
/* line 1005, ../../sass/page/index.scss */
.content.list3 .loves .imgdetail .price span {
  color: #8c8c8c;
  text-decoration: line-through;
}
/* line 1011, ../../sass/page/index.scss */
.content.list3 .loves .imgdetail .detail {
  color: #8c8c8c;
  font-size: 12px;
}
/* line 1017, ../../sass/page/index.scss */
.content.list3 .loves .xianshi {
  font-size: 12px;
  background: #f5222d;
  padding: 1px 3px;
  display: block;
  width: 50px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

/* line 1032, ../../sass/page/index.scss */
.mui-lift {
  position: fixed;
  bottom: 50px;
  left: 50%;
  z-index: 9999;
  width: 35px;
  text-align: center;
  margin-left: -650px;
}

/* line 1042, ../../sass/page/index.scss */
.mui-lift .mui-lift-nav {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1px;
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  font-size: 12px;
}

/* line 1059, ../../sass/page/index.scss */
.mui-lift .mui-lift-nav.nav-header,
.mui-lift .mui-lift-nav.nav-header:hover {
  background-color: #f5222d;
}

/* line 1064, ../../sass/page/index.scss */
.mui-lift .mui-lift-nav .mui-lift-nav-name {
  line-height: 12px;
  width: 24px;
  height: 28px;
  margin: 6px auto;
}

/* line 1071, ../../sass/page/index.scss */
.mui-lift .mui-lift-nav.nav-back {
  line-height: 13px;
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 1077, ../../sass/page/index.scss */
.mui-lift .mui-lift-nav:hover {
  background-color: #ff4d4f;
}

/* line 1082, ../../sass/page/index.scss */
.content.list4 {
  overflow: hidden;
  background: #f5f5f5;
  position: relative;
}
/* line 1087, ../../sass/page/index.scss */
.content.list4 li {
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  width: 119px;
  height: 104px;
  position: relative;
}
/* line 1096, ../../sass/page/index.scss */
.content.list4 img {
  width: 119px;
}
/* line 1100, ../../sass/page/index.scss */
.content.list4 .brand-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #595959;
  background-color: rgba(89, 89, 89, 0.8);
  transition: all .3s ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 1114, ../../sass/page/index.scss */
.content.list4 li:hover .brand-mask {
  opacity: 1;
}
/* line 1118, ../../sass/page/index.scss */
.content.list4 .brand-mask .coupon {
  color: #fff;
  text-align: center;
  line-height: 90px;
  height: 60px;
}
/* line 1125, ../../sass/page/index.scss */
.content.list4 .brand-mask .coupon span {
  display: block;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 1133, ../../sass/page/index.scss */
.content.list4 .brand-mask .enter {
  text-align: center;
  height: 32px;
}
/* line 1138, ../../sass/page/index.scss */
.content.list4 .brand-mask .enter span {
  display: inline-block;
  color: #fff;
  width: 63px;
  height: 18px;
  font-size: 12px;
  line-height: 15px;
  background-color: #f5222d;
  border-radius: 9px;
}
/* line 1149, ../../sass/page/index.scss */
.content.list4 .refresh-btn {
  width: 119px;
  height: 104px;
  display: block;
  color: #999;
  background-color: #fff;
  position: absolute;
  bottom: 1px;
  right: 1px;
  overflow: hidden;
  transition: all .3s ease-out;
  z-index: 500;
  float: left;
  text-decoration: none;
  text-align: center;
}
/* line 1165, ../../sass/page/index.scss */
.content.list4 .refresh-btn .iconfont {
  position: absolute;
  top: 24px;
  left: 40px;
  font-size: 34px;
}
/* line 1174, ../../sass/page/index.scss */
.content.list4 .refresh-btn:hover {
  color: #fff;
  background-color: #f5222d;
}
/* line 1179, ../../sass/page/index.scss */
.content.list4 .refresh-btn .btn-text {
  display: block;
  font-size: 14px;
  line-height: 136px;
  text-align: center;
}
/* line 1186, ../../sass/page/index.scss */
.content.list4 .refresh-btn .rotate-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -30px;
  font-size: 30px;
  text-align: center;
  line-height: 38px;
  border-radius: 20px;
}
