@charset "UTF-8";
/* line 1, ../../sass/reset/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 2, ../../sass/reset/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 3, ../../sass/reset/_reset.scss */
address, cite, dfn, em, var {
  font-style: normal;
}

/* line 4, ../../sass/reset/_reset.scss */
code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

/* line 6, ../../sass/reset/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 7, ../../sass/reset/_reset.scss */
a {
  text-decoration: none;
}

/* line 8, ../../sass/reset/_reset.scss */
a:hover {
  text-decoration: underline;
}

/* line 9, ../../sass/reset/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../sass/reset/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 11, ../../sass/reset/_reset.scss */
legend {
  color: #000;
}

/* line 12, ../../sass/reset/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 13, ../../sass/reset/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 14, ../../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../../sass/reset/_reset.scss */
input[type="hidden" i], input[type="image" i], input[type="file" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

/* line 24, ../../sass/reset/_reset.scss */
input[type="hidden" i] {
  display: none;
}

/* line 27, ../../sass/reset/_reset.scss */
.form input[type=password] {
  font-family: Tahoma,Helvetica,Arial;
}

/* line 31, ../../sass/reset/_reset.scss */
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

/* line 44, ../../sass/reset/_reset.scss */
.btn-img, .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}

/* line 52, ../../sass/reset/_reset.scss */
.fll {
  float: left;
}

/* line 55, ../../sass/reset/_reset.scss */
.flr {
  float: right;
}

/* line 58, ../../sass/reset/_reset.scss */
.link-a {
  color: #07a9c7;
  cursor: pointer;
  margin: 0 3px;
}
/* line 62, ../../sass/reset/_reset.scss */
.link-a:hover {
  text-decoration: underline;
}

/* line 66, ../../sass/reset/_reset.scss */
body {
  background: #f5f5f5;
}

/* line 2, ../../sass/layout/_header2.scss */
.bubble-news {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 0 4px;
  border-radius: 50% 40% 40% 0;
  background-color: #fff;
  color: #000;
  font-weight: 500 !important;
  transform: translate(-3px, -15px);
}

/* line 15, ../../sass/layout/_header2.scss */
.page-auto {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/* line 21, ../../sass/layout/_header2.scss */
.header-top {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 12px;
}
/* line 27, ../../sass/layout/_header2.scss */
.header-top .header-top-adress {
  float: left;
  padding-left: 40px;
}
/* line 30, ../../sass/layout/_header2.scss */
.header-top .header-top-adress li {
  float: left;
  margin-right: 20px;
}
/* line 32, ../../sass/layout/_header2.scss */
.header-top .header-top-nav {
  float: right;
}
/* line 34, ../../sass/layout/_header2.scss */
.header-top .header-top-nav li {
  margin-left: 30px;
  float: left;
}
/* line 38, ../../sass/layout/_header2.scss */
.header-top .header-top-nav .duan {
  height: 16px;
  line-height: 16px;
  display: inline-block;
  padding: 0 8px;
  background-color: #aaa6a6;
  border-radius: 8px;
  color: #fff;
}

/* line 48, ../../sass/layout/_header2.scss */
.header {
  width: 100%;
  height: 90px;
  background-color: red;
}
/* line 52, ../../sass/layout/_header2.scss */
.header .logoleft {
  float: left;
}
/* line 54, ../../sass/layout/_header2.scss */
.header .logoleft .logo {
  float: left;
}
/* line 58, ../../sass/layout/_header2.scss */
.header .header-nav {
  position: absolute;
  height: 89px;
  line-height: 89px;
  font-size: 16px;
  left: 240px;
  top: 0;
  color: #fff;
}
/* line 66, ../../sass/layout/_header2.scss */
.header .header-nav > li {
  float: left;
  height: 100%;
  padding: 0 30px;
  cursor: pointer;
  margin: 0 5px;
  position: relative;
}
/* line 73, ../../sass/layout/_header2.scss */
.header .header-nav > li i {
  margin-left: 10px;
}
/* line 77, ../../sass/layout/_header2.scss */
.header .header-nav > li:hover {
  font-weight: bold;
  background-color: #fd7171;
  font-weight: bold;
}
/* line 81, ../../sass/layout/_header2.scss */
.header .header-nav > li:hover .header-nav-detailed {
  display: block;
}
/* line 83, ../../sass/layout/_header2.scss */
.header .header-nav > .selected {
  background-color: #fd7171;
  font-weight: bold;
}
/* line 87, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 9;
  background-color: #fd7171;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}
/* line 98, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed li {
  height: 36px;
  line-height: 36px;
  padding-left: 30px;
  box-sizing: border-box;
}
/* line 103, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed li:hover {
  background-color: red;
}
/* line 109, ../../sass/layout/_header2.scss */
.header .header-search {
  position: absolute;
  right: 0;
  top: 36px;
  width: 300px;
  height: 36px;
  line-height: 36px;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  padding-left: 30px;
}
/* line 120, ../../sass/layout/_header2.scss */
.header .header-search .header-search-icon {
  position: absolute;
  left: 20px;
  top: 0;
  font-size: 18px;
  cursor: pointer;
}
/* line 127, ../../sass/layout/_header2.scss */
.header .header-search input {
  border: none;
  outline: none;
  background-color: #fff;
  height: 36px;
  line-height: 36px;
  padding: 0 10px 0 20px;
  float: left;
}
/* line 136, ../../sass/layout/_header2.scss */
.header .header-search .header-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: center;
  background-color: #999999;
  color: #fff;
  cursor: pointer;
}

/* line 1, ../../sass/layout/_left-nav.scss */
.navigation {
  width: 200px;
  background-color: #fff;
  padding: 40px 0 40px 50px;
  box-sizing: border-box;
}
/* line 6, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item {
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 9, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li {
  font-size: 14px;
  color: #888;
  line-height: 36px;
}
/* line 13, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li.selected {
  color: red;
}
/* line 16, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li span {
  cursor: pointer;
}
/* line 20, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item .navigation-item-title {
  font-size: 16px;
  color: #000;
  line-height: 40px;
}

/* line 29, ../../sass/layout/_left-nav.scss */
.reddot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #c30a0a;
  border-radius: 50%;
  vertical-align: text-top;
}

/* line 1, ../../sass/reset/_common.scss */
.fll {
  float: left;
}

/* line 4, ../../sass/reset/_common.scss */
.flr {
  float: right;
}

/* line 7, ../../sass/reset/_common.scss */
.bold {
  font-weight: bold;
}

/*版心*/
/* line 11, ../../sass/reset/_common.scss */
.page-auto {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*其他版心定义 以w开头*/
/* line 18, ../../sass/reset/_common.scss */
.w99 {
  width: 990px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*清除浮动*/
/* line 25, ../../sass/reset/_common.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 33, ../../sass/reset/_common.scss */
.clearfix {
  zoom: 1;
}

/*多余字符串省略号代替*/
/* line 37, ../../sass/reset/_common.scss */
.box-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*文字链接样式*/
/* line 43, ../../sass/reset/_common.scss */
.link-a {
  color: #07a9c7;
  cursor: pointer;
  margin: 0 3px;
}

/* line 48, ../../sass/reset/_common.scss */
.link-a:hover {
  text-decoration: underline;
}

/*文字字号*/
/* line 53, ../../sass/reset/_common.scss */
.f18 {
  font-size: 18px;
}

/* line 56, ../../sass/reset/_common.scss */
.f22 {
  font-size: 22px;
}

/* line 59, ../../sass/reset/_common.scss */
.f26 {
  font-size: 26px;
}

/*文字常用颜色 以fc起头*/
/* line 63, ../../sass/reset/_common.scss */
.fc01 {
  color: red;
}

/* line 1, ../../sass/layout/_grid.scss */
.bare-grid {
  border: 1px solid #ccc;
}
/* line 3, ../../sass/layout/_grid.scss */
.bare-grid .bare-grid-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  background-color: #dddddd;
  font-size: 14px;
  color: #999999;
}
/* line 11, ../../sass/layout/_grid.scss */
.bare-grid > ul {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
/* line 14, ../../sass/layout/_grid.scss */
.bare-grid > ul > li {
  float: left;
  width: 10%;
  text-align: center;
  color: #666;
}

/* line 1, ../../sass/layout/_tab-list.scss */
.tab-list {
  font-size: 15px;
  margin-bottom: 20px;
}
/* line 5, ../../sass/layout/_tab-list.scss */
.tab-list li {
  float: left;
  border-bottom: 2px solid #eaeaea;
  padding: 0 30px;
  line-height: 45px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
/* line 13, ../../sass/layout/_tab-list.scss */
.tab-list li.tab-list-detail:hover {
  color: #ff4d4f;
}
/* line 17, ../../sass/layout/_tab-list.scss */
.tab-list li.line {
  color: #eaeaea;
  padding: 0;
  font-weight: normal;
}
/* line 22, ../../sass/layout/_tab-list.scss */
.tab-list li.current {
  border-color: #f5222d;
}

/* line 12, ../../sass/page/order.scss */
.container {
  padding-top: 20px;
}

/* line 16, ../../sass/page/order.scss */
.left-nav {
  float: left;
}

/* line 20, ../../sass/page/order.scss */
.right-content {
  float: right;
  width: 980px;
  min-height: 400px;
  background-color: #fff;
  padding: 10px 20px 50px;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
}
/* line 30, ../../sass/page/order.scss */
.right-content .receiving-address-info {
  margin-bottom: 20px;
}
/* line 35, ../../sass/page/order.scss */
.right-content .receiving-address .td-a {
  width: 10%;
}
/* line 41, ../../sass/page/order.scss */
.right-content .receiving-address .td-b {
  width: 38%;
  text-align: left;
}
/* line 48, ../../sass/page/order.scss */
.right-content .receiving-address .td-c {
  width: 20%;
}
/* line 54, ../../sass/page/order.scss */
.right-content .receiving-address .td-d {
  width: 16%;
}
/* line 60, ../../sass/page/order.scss */
.right-content .receiving-address .td-e {
  width: 16%;
}
/* line 64, ../../sass/page/order.scss */
.right-content .receiving-address .bare-grid-title li {
  text-align: center;
}

/* line 71, ../../sass/page/order.scss */
.tips {
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: #f5222d;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  margin-left: 5px;
}

/* line 84, ../../sass/page/order.scss */
.tab-search {
  width: 300px;
  position: absolute;
  right: 20px;
  top: 25px;
  height: 30px;
}
/* line 91, ../../sass/page/order.scss */
.tab-search input {
  width: 230px;
  height: 28px;
  border: solid 1px #d9d9d9;
  float: left;
  font-size: 12px;
  padding-left: 10px;
}
/* line 100, ../../sass/page/order.scss */
.tab-search button {
  width: 56px;
  height: 30px;
  border: solid 1px #d9d9d9;
  text-align: center;
}

/* line 109, ../../sass/page/order.scss */
.titlegray {
  height: 42px;
  border: solid 1px #d9d9d9;
  background: #f5f5f5;
  font-size: 13px;
  color: #666;
  line-height: 42px;
}

/* line 118, ../../sass/page/order.scss */
.tab-list-nav {
  margin-bottom: 15px;
}
/* line 121, ../../sass/page/order.scss */
.tab-list-nav li {
  float: left;
  text-align: center;
  cursor: pointer;
}
/* line 127, ../../sass/page/order.scss */
.tab-list-nav li a {
  color: #666;
  text-decoration: none;
}
/* line 134, ../../sass/page/order.scss */
.tab-list-nav li:nth-child(1) {
  width: 130px;
}
/* line 138, ../../sass/page/order.scss */
.tab-list-nav li:nth-child(2) {
  width: 360px;
}
/* line 142, ../../sass/page/order.scss */
.tab-list-nav li:nth-child(3) {
  width: 133px;
}
/* line 146, ../../sass/page/order.scss */
.tab-list-nav li:nth-child(4) {
  width: 140px;
}
/* line 150, ../../sass/page/order.scss */
.tab-list-nav li:nth-child(5) {
  width: 130px;
}
/* line 154, ../../sass/page/order.scss */
.tab-list-nav .icon-xiangshang1 {
  display: none;
  color: #ff4d4f;
}
/* line 160, ../../sass/page/order.scss */
.tab-list-nav li:hover a {
  color: #ff4d4f;
}
/* line 164, ../../sass/page/order.scss */
.tab-list-nav li:hover .tab-list-dropdown {
  display: block;
}
/* line 168, ../../sass/page/order.scss */
.tab-list-nav li:hover .icon-xiangxia1 {
  display: none;
}
/* line 172, ../../sass/page/order.scss */
.tab-list-nav li:hover .icon-xiangshang1 {
  display: inline-block;
}
/* line 177, ../../sass/page/order.scss */
.tab-list-nav .tab-list-dropdown {
  display: none;
  width: 70px;
  padding: 15px;
  line-height: 24px;
  box-shadow: 0 0 10px #ccc;
  text-align: left;
  position: absolute;
  background: #fff;
}
/* line 187, ../../sass/page/order.scss */
.tab-list-nav .tab-list-dropdown .triangle {
  float: left;
  margin-top: -30px;
}
/* line 192, ../../sass/page/order.scss */
.tab-list-nav .tab-list-dropdown .triangle:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
}
/* line 206, ../../sass/page/order.scss */
.tab-list-nav .tab-list-dropdown a {
  font-size: 13px;
  color: #666;
  text-decoration: none;
  display: block;
}
/* line 213, ../../sass/page/order.scss */
.tab-list-nav .tab-list-dropdown a:hover,
.tab-list-nav .tab-list-dropdown a.current {
  color: #ff4d4f;
}

/* line 220, ../../sass/page/order.scss */
.order-time p {
  float: left;
  margin-right: 20px;
  padding-left: 20px;
}

/* line 226, ../../sass/page/order.scss */
.order-detail {
  border: solid 1px #d9d9d9;
  border-top: none;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 234, ../../sass/page/order.scss */
.order > ul {
  float: left;
  width: 535px;
  border-right: solid 1px #d9d9d9;
}
/* line 240, ../../sass/page/order.scss */
.order .price {
  float: left;
  width: 140px;
  border-right: solid 1px #d9d9d9;
}
/* line 246, ../../sass/page/order.scss */
.order .evaluate {
  float: left;
  width: 130px;
  border-right: solid 1px #d9d9d9;
}
/* line 252, ../../sass/page/order.scss */
.order .check-detail {
  float: left;
  width: 88px;
}

/* line 258, ../../sass/page/order.scss */
.order li {
  height: 100px;
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}
/* line 262, ../../sass/page/order.scss */
.order li img {
  width: 100px;
  float: left;
}
/* line 267, ../../sass/page/order.scss */
.order li > p {
  width: 200px;
  margin-left: 10px;
  height: 100px;
  float: left;
  line-height: 25px;
}
/* line 274, ../../sass/page/order.scss */
.order li > span {
  float: left;
  width: 94px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
/* line 281, ../../sass/page/order.scss */
.order li .order-type {
  width: 130px;
  float: left;
  margin-top: 40px;
  text-align: center;
}

/* line 288, ../../sass/page/order.scss */
.order li:last-child {
  border: none;
}

/* line 291, ../../sass/page/order.scss */
.order .price {
  text-align: center;
  height: 100px;
}
/* line 294, ../../sass/page/order.scss */
.order .price p {
  font-weight: bold;
  margin-top: 30px;
}
/* line 298, ../../sass/page/order.scss */
.order .price div a, .order .price div {
  color: #3e3e3e;
  text-decoration: none;
}
/* line 302, ../../sass/page/order.scss */
.order .price a:hover {
  color: #ff4d4f;
}

/* line 306, ../../sass/page/order.scss */
.evaluate {
  text-align: center;
  height: 70px;
  padding-top: 30px;
}
/* line 311, ../../sass/page/order.scss */
.evaluate button {
  height: 24px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  padding: 0 20px;
  font-size: 12px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* line 321, ../../sass/page/order.scss */
.evaluate a {
  color: #3e3e3e;
  text-decoration: none;
}
/* line 325, ../../sass/page/order.scss */
.evaluate a:hover {
  color: #ff4d4f;
}

/* line 329, ../../sass/page/order.scss */
.order > a {
  line-height: 100px;
  text-align: center;
}
