@charset "UTF-8";
/* line 1, ../../sass/reset/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 2, ../../sass/reset/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 3, ../../sass/reset/_reset.scss */
address, cite, dfn, em, var {
  font-style: normal;
}

/* line 4, ../../sass/reset/_reset.scss */
code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

/* line 6, ../../sass/reset/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 7, ../../sass/reset/_reset.scss */
a {
  text-decoration: none;
}

/* line 8, ../../sass/reset/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 9, ../../sass/reset/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../sass/reset/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 11, ../../sass/reset/_reset.scss */
legend {
  color: #000;
}

/* line 12, ../../sass/reset/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 13, ../../sass/reset/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 14, ../../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../../sass/reset/_reset.scss */
input[type="hidden" i], input[type="image" i], input[type="file" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

/* line 24, ../../sass/reset/_reset.scss */
input[type="hidden" i] {
  display: none;
}

/* line 27, ../../sass/reset/_reset.scss */
.form input[type=password] {
  font-family: Tahoma,Helvetica,Arial;
}

/* line 31, ../../sass/reset/_reset.scss */
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

/* line 44, ../../sass/reset/_reset.scss */
.btn-img, .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}

/* line 52, ../../sass/reset/_reset.scss */
.fll {
  float: left;
}

/* line 55, ../../sass/reset/_reset.scss */
.flr {
  float: right;
}

/* line 58, ../../sass/reset/_reset.scss */
.link-a {
  color: #07a9c7;
  cursor: pointer;
  margin: 0 3px;
}
/* line 62, ../../sass/reset/_reset.scss */
.link-a:hover {
  text-decoration: underline;
}

/* line 66, ../../sass/reset/_reset.scss */
body {
  background: #f5f5f5;
}

/* line 69, ../../sass/reset/_reset.scss */
select {
  /*将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 75, ../../sass/reset/_reset.scss */
select::-ms-expand {
  display: none;
}

/* line 4, ../../sass/layout/_header2.scss */
.page-auto {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/* line 10, ../../sass/layout/_header2.scss */
.header-top {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 12px;
}
/* line 16, ../../sass/layout/_header2.scss */
.header-top .header-top-adress {
  float: left;
  padding-left: 40px;
}
/* line 19, ../../sass/layout/_header2.scss */
.header-top .header-top-adress li {
  float: left;
  margin-right: 20px;
}
/* line 21, ../../sass/layout/_header2.scss */
.header-top .header-top-nav {
  float: right;
}
/* line 23, ../../sass/layout/_header2.scss */
.header-top .header-top-nav li {
  margin-left: 30px;
  float: left;
  cursor: pointer;
}
/* line 28, ../../sass/layout/_header2.scss */
.header-top .header-top-nav .duan {
  height: 16px;
  line-height: 16px;
  display: inline-block;
  padding: 0 8px;
  background-color: #aaa6a6;
  border-radius: 8px;
  color: #fff;
}

/* line 38, ../../sass/layout/_header2.scss */
.header {
  width: 100%;
  height: 100px;
  background-color: #f5222d;
}
/* line 42, ../../sass/layout/_header2.scss */
.header .logoleft {
  float: left;
}
/* line 44, ../../sass/layout/_header2.scss */
.header .logoleft .logo {
  float: left;
}
/* line 48, ../../sass/layout/_header2.scss */
.header .header-nav {
  position: absolute;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  left: 240px;
  top: 0;
  color: #fff;
}
/* line 56, ../../sass/layout/_header2.scss */
.header .header-nav > li {
  float: left;
  height: 100%;
  padding: 0 30px;
  cursor: pointer;
  margin: 0 5px;
  position: relative;
}
/* line 63, ../../sass/layout/_header2.scss */
.header .header-nav > li i {
  margin-left: 10px;
}
/* line 66, ../../sass/layout/_header2.scss */
.header .header-nav > li .bubble-news {
  transform: translate(-3px, -15px);
}
/* line 70, ../../sass/layout/_header2.scss */
.header .header-nav > li:hover {
  font-weight: bold;
  background-color: #fd7171;
  font-weight: bold;
}
/* line 74, ../../sass/layout/_header2.scss */
.header .header-nav > li:hover .header-nav-detailed {
  display: block;
}
/* line 76, ../../sass/layout/_header2.scss */
.header .header-nav > .selected {
  background-color: #fd7171;
  font-weight: bold;
}
/* line 80, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed {
  display: none;
  position: absolute;
  left: 0;
  top: 99%;
  width: 100%;
  z-index: 9;
  background-color: #fd7171;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}
/* line 91, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed li {
  height: 36px;
  line-height: 36px;
  padding-left: 30px;
  box-sizing: border-box;
}
/* line 96, ../../sass/layout/_header2.scss */
.header .header-nav .header-nav-detailed li:hover {
  background-color: #f5222d;
}
/* line 102, ../../sass/layout/_header2.scss */
.header .header-search {
  position: absolute;
  right: 0;
  top: 36px;
  width: 300px;
  height: 36px;
  line-height: 36px;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  padding-left: 30px;
}
/* line 113, ../../sass/layout/_header2.scss */
.header .header-search .header-search-icon {
  position: absolute;
  left: 20px;
  top: 0;
  font-size: 18px;
  cursor: pointer;
}
/* line 120, ../../sass/layout/_header2.scss */
.header .header-search input {
  border: none;
  outline: none;
  background-color: #fff;
  height: 36px;
  line-height: 36px;
  padding: 0 10px 0 20px;
  float: left;
}
/* line 129, ../../sass/layout/_header2.scss */
.header .header-search .header-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: center;
  background-color: #999999;
  color: #fff;
  cursor: pointer;
}

/* line 1, ../../sass/reset/_common.scss */
.fll {
  float: left;
}

/* line 5, ../../sass/reset/_common.scss */
.flr {
  float: right;
}

/* line 9, ../../sass/reset/_common.scss */
.bold {
  font-weight: bold;
}

/*版心*/
/* line 14, ../../sass/reset/_common.scss */
.page-auto {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*其他版心定义 以w开头*/
/* line 22, ../../sass/reset/_common.scss */
.w99 {
  width: 990px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*清除浮动*/
/* line 30, ../../sass/reset/_common.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 38, ../../sass/reset/_common.scss */
.clearfix {
  zoom: 1;
}

/*多余字符串省略号代替*/
/* line 43, ../../sass/reset/_common.scss */
.box-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*文字链接样式*/
/* line 50, ../../sass/reset/_common.scss */
.link-a {
  color: #4184e8;
  cursor: pointer;
  margin: 0 3px;
}

/* line 56, ../../sass/reset/_common.scss */
.link-a:hover {
  text-decoration: underline;
}

/*灰色连接*/
/* line 61, ../../sass/reset/_common.scss */
.link-b {
  color: #656565;
  cursor: pointer;
  margin: 0 3px;
}

/* line 67, ../../sass/reset/_common.scss */
.link-b:hover {
  text-decoration: underline;
}

/*文字字号*/
/* line 72, ../../sass/reset/_common.scss */
.f18 {
  font-size: 18px;
}

/* line 76, ../../sass/reset/_common.scss */
.f22 {
  font-size: 22px;
}

/* line 80, ../../sass/reset/_common.scss */
.f26 {
  font-size: 26px;
}

/*文字常用颜色 以fc起头*/
/* line 85, ../../sass/reset/_common.scss */
.fc01 {
  color: red;
}

/*气泡提示消息样式*/
/* line 90, ../../sass/reset/_common.scss */
.bubble-news {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 0 4px;
  border-radius: 50% 40% 40% 0;
  background-color: #fff;
  color: #000;
  font-weight: 500 !important;
}

/* line 103, ../../sass/reset/_common.scss */
.bubble-tips {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 1px 5px;
  border-radius: 35%;
  background-color: #c94a4a;
  color: #fff;
  font-weight: 500 !important;
}

/* line 116, ../../sass/reset/_common.scss */
.bubble-tips2 {
  font-size: 12px;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  padding: 1px 2px;
  border-radius: 8px;
  background-color: #fff;
  color: #c94a4a;
  font-weight: 500 !important;
  border: 1px solid #c94a4a;
}

/* line 130, ../../sass/reset/_common.scss */
.tips {
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: #f5222d;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
}

/* line 144, ../../sass/reset/_common.scss */
.coupon-label {
  width: 282px;
  height: 121px;
}
/* line 148, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top {
  width: 100%;
  height: 89px;
  padding-top: 24px;
  background: url(../../images/public/coupon-up.png);
  box-sizing: border-box;
  color: #fff;
  position: relative;
}
/* line 157, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val {
  float: left;
  width: 108px;
  text-align: center;
}
/* line 162, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val span:nth-child(1) {
  font-size: 38px;
}
/* line 166, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val span:nth-child(2) {
  font-size: 22px;
}
/* line 171, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time {
  line-height: 20px;
  font-size: 12px;
}
/* line 175, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time p:nth-child(1) {
  font-weight: bold;
}
/* line 179, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time > span {
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
  background-color: #fff;
  color: #a95147;
}
/* line 188, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-type {
  position: absolute;
  top: 2px;
  left: 10px;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #ce5649;
  color: #fff;
}
/* line 200, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom {
  width: 100%;
  height: 32px;
  line-height: 30px;
  background: url(../../images/public/coupon-down.png);
  color: #dd7781;
}
/* line 207, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom p {
  padding-left: 18px;
  padding-right: 40px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 215, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom p .iconfont {
  position: absolute;
  top: 1px;
  right: 16px;
  font-size: 14px;
  cursor: pointer;
}

/* line 227, ../../sass/reset/_common.scss */
.triangle {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 233, ../../sass/reset/_common.scss */
.triangle:before,
.triangle .before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #f5222d transparent;
}

/* line 250, ../../sass/reset/_common.scss */
.triangle:after,
.triangle .after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 7px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 1px;
  top: 2px;
}

/* line 268, ../../sass/reset/_common.scss */
.triangle.white:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
}

/* line 283, ../../sass/reset/_common.scss */
.triangle.gray:before,
.triangle.gray .before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #cccccc transparent;
}

/*
<div class="iconforbr">
<span class="current">iphone7/8<i class="iconfont icon-youxiajiaogouxuan"></i></span>
<span>iphone7/8</span>
</div>*/
/* line 307, ../../sass/reset/_common.scss */
.iconforbr span {
  display: inline-block;
  height: 26px;
  border: 1px solid #cccccc;
  line-height: 26px;
  padding: 0 5px;
  cursor: pointer;
}
/* line 315, ../../sass/reset/_common.scss */
.iconforbr span.sell-out {
  border: 1px dashed #cccccc;
}
/* line 319, ../../sass/reset/_common.scss */
.iconforbr span.current {
  position: relative;
  border: 2px solid #b3a078;
}
/* line 322, ../../sass/reset/_common.scss */
.iconforbr span.current i.icon-youxiajiaogouxuan {
  position: absolute;
  right: 0;
  bottom: -1px;
  font-size: 12px;
  line-height: 12px;
  color: #b3a078;
}
/* line 331, ../../sass/reset/_common.scss */
.iconforbr span.nocurrent {
  background: #ebebeb;
  border-color: #ebebeb;
  color: #cccccc;
}

/* line 1, ../../sass/layout/_left-nav.scss */
.navigation {
  width: 200px;
  background-color: #fff;
  padding: 40px 0 40px 50px;
  box-sizing: border-box;
}
/* line 6, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item {
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 9, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li {
  font-size: 14px;
  color: #888;
  line-height: 36px;
}
/* line 13, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li.selected {
  color: #f5222d;
}
/* line 16, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li:hover {
  color: #ff4d4f;
}
/* line 19, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item li span {
  cursor: pointer;
}
/* line 23, ../../sass/layout/_left-nav.scss */
.navigation .navigation-item .navigation-item-title {
  font-size: 16px;
  color: #000;
  line-height: 40px;
}

/* line 32, ../../sass/layout/_left-nav.scss */
.reddot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #f5222d;
  border-radius: 50%;
  vertical-align: text-top;
}

/* line 2, ../../sass/layout/_grid.scss */
.bare-grid {
  border: 1px solid #ccc;
}
/* line 4, ../../sass/layout/_grid.scss */
.bare-grid .bare-grid-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  background-color: #dddddd;
  font-size: 14px;
  color: #999999;
}
/* line 12, ../../sass/layout/_grid.scss */
.bare-grid > ul {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
/* line 15, ../../sass/layout/_grid.scss */
.bare-grid > ul > li {
  float: left;
  width: 10%;
  text-align: center;
  color: #666;
}

/* line 23, ../../sass/layout/_grid.scss */
.simple-grid {
  font-size: 12px;
}
/* line 25, ../../sass/layout/_grid.scss */
.simple-grid .simple-grid-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  color: #999999;
}
/* line 31, ../../sass/layout/_grid.scss */
.simple-grid > ul {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
/* line 34, ../../sass/layout/_grid.scss */
.simple-grid > ul > li {
  float: left;
  width: 10%;
  text-align: center;
  color: #666;
}

/* line 43, ../../sass/layout/_grid.scss */
.titlegray {
  height: 42px;
  border: solid 1px #dddddd;
  background: #f5f5f5;
  font-size: 13px;
  color: #666;
  line-height: 42px;
}

/* line 10, ../../sass/page/personal-data.scss */
.module-title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

/* line 19, ../../sass/page/personal-data.scss */
body {
  background-color: #f1f1f1;
}

/* line 22, ../../sass/page/personal-data.scss */
.container {
  padding-top: 20px;
  padding-bottom: 50px;
  overflow: hidden;
}

/* line 27, ../../sass/page/personal-data.scss */
.left-nav {
  float: left;
}

/* line 30, ../../sass/page/personal-data.scss */
.right-content {
  float: right;
  width: 980px;
  min-height: 400px;
  box-sizing: border-box;
  font-size: 12px;
}

/* line 38, ../../sass/page/personal-data.scss */
.my-Wallet {
  position: relative;
  height: 230px;
  padding-left: 250px;
  background-color: #fff;
  margin-bottom: 20px;
}
/* line 44, ../../sass/page/personal-data.scss */
.my-Wallet .wallet-info {
  padding-top: 30px;
  padding-left: 20px;
}
/* line 47, ../../sass/page/personal-data.scss */
.my-Wallet .wallet-info > li {
  float: left;
  margin-right: 60px;
}
/* line 52, ../../sass/page/personal-data.scss */
.my-Wallet .wallet-info .submodule-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 57, ../../sass/page/personal-data.scss */
.my-Wallet .wallet-info .submodule-name {
  height: 54px;
}
/* line 59, ../../sass/page/personal-data.scss */
.my-Wallet .wallet-info .submodule-name span {
  display: block;
  margin-bottom: 5px;
}
/* line 62, ../../sass/page/personal-data.scss */
.my-Wallet .wallet-info .submodule-name span:nth-child(2) {
  color: #999;
}

/* line 70, ../../sass/page/personal-data.scss */
.member {
  width: 250px;
  height: 240px;
  position: absolute;
  top: -5px;
  left: 0;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: #ea6161;
  text-align: center;
}
/* line 80, ../../sass/page/personal-data.scss */
.member .member-portrait {
  margin-bottom: 10px;
}
/* line 83, ../../sass/page/personal-data.scss */
.member .member-plus {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 88, ../../sass/page/personal-data.scss */
.member .member-plus span:nth-child(2) {
  font-size: 14px;
  display: inline-block;
  color: #e2e247;
  background-color: #333;
  padding: 0 3px;
}
/* line 96, ../../sass/page/personal-data.scss */
.member .member-integral {
  margin-bottom: 16px;
}
/* line 98, ../../sass/page/personal-data.scss */
.member .member-integral span {
  display: inline-block;
  padding: 2px 8px;
  color: #333;
  border: 1px solid #333;
  border-radius: 10px;
}
/* line 106, ../../sass/page/personal-data.scss */
.member .member-good {
  height: 55px;
  line-height: 55px;
  background-color: #333;
  font-size: 14px;
  color: #e2e247;
}
/* line 112, ../../sass/page/personal-data.scss */
.member .member-good .toshops {
  line-height: 1.5;
  display: inline-block;
  padding: 2px 8px;
  margin-left: 28px;
  border: 1px solid #333;
  border-radius: 18px;
  background-color: #e2e247;
  color: #333;
}

/* line 124, ../../sass/page/personal-data.scss */
.my-other-info {
  overflow: hidden;
}
/* line 126, ../../sass/page/personal-data.scss */
.my-other-info .my-info-left {
  float: left;
  width: 690px;
  background-color: #fff;
}
/* line 131, ../../sass/page/personal-data.scss */
.my-other-info .my-info-right {
  float: right;
  width: 270px;
}

/* line 138, ../../sass/page/personal-data.scss */
.my-order .order-operation {
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
}
/* line 141, ../../sass/page/personal-data.scss */
.my-order .order-operation li {
  float: left;
  width: 20%;
  height: 120px;
  text-align: center;
  position: relative;
}
/* line 147, ../../sass/page/personal-data.scss */
.my-order .order-operation li .bubble-tips {
  position: absolute;
  left: 73px;
  top: 30px;
}
/* line 153, ../../sass/page/personal-data.scss */
.my-order .order-operation .iconfont {
  display: inline-block;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
/* line 162, ../../sass/page/personal-data.scss */
.my-order .order-info ul {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
/* line 167, ../../sass/page/personal-data.scss */
.my-order .order-info ul:nth-last-child(1) {
  border-bottom: none;
}
/* line 170, ../../sass/page/personal-data.scss */
.my-order .order-info ul li {
  float: left;
  box-sizing: border-box;
}
/* line 174, ../../sass/page/personal-data.scss */
.my-order .order-info ul .li-a {
  padding-top: 10px;
  width: 15%;
  text-align: center;
}
/* line 179, ../../sass/page/personal-data.scss */
.my-order .order-info ul .li-a img {
  width: 60px;
  height: 60px;
  background-color: aqua;
}
/* line 185, ../../sass/page/personal-data.scss */
.my-order .order-info ul .li-b {
  width: 62%;
  line-height: 20px;
  color: #666;
  padding-top: 20px;
}
/* line 190, ../../sass/page/personal-data.scss */
.my-order .order-info ul .li-b p {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 196, ../../sass/page/personal-data.scss */
.my-order .order-info ul .li-c {
  width: 23%;
  line-height: 80px;
  color: #999;
  text-align: right;
  padding-right: 15px;
}
/* line 202, ../../sass/page/personal-data.scss */
.my-order .order-info ul .li-c a {
  margin: 10px;
  color: #333;
}

/* line 211, ../../sass/page/personal-data.scss */
.my-concern {
  margin-bottom: 20px;
  background-color: #fff;
}
/* line 214, ../../sass/page/personal-data.scss */
.my-concern ul {
  overflow: hidden;
  padding: 20px 0 0 20px;
  height: 100px;
  box-sizing: border-box;
}
/* line 220, ../../sass/page/personal-data.scss */
.my-concern li {
  float: left;
  width: 33.3%;
}
/* line 224, ../../sass/page/personal-data.scss */
.my-concern li p {
  line-height: 30px;
  font-size: 12px;
  color: #666;
}
/* line 229, ../../sass/page/personal-data.scss */
.my-concern li .concern-num {
  font-size: 14px;
}
/* line 231, ../../sass/page/personal-data.scss */
.my-concern li .concern-num .bubble-tips2 {
  transform: translate(-3px, -15px);
}

/* line 238, ../../sass/page/personal-data.scss */
.shopping-list {
  background-color: #fff;
}
/* line 240, ../../sass/page/personal-data.scss */
.shopping-list .more-link {
  font-size: 12px;
  color: #999;
}
/* line 241, ../../sass/page/personal-data.scss */
.shopping-list .shopping-imgs {
  position: relative;
  padding: 30px 20px 30px;
}
/* line 244, ../../sass/page/personal-data.scss */
.shopping-list .shopping-imgs li {
  float: left;
  width: 25%;
  padding: 0 5px;
  box-sizing: border-box;
}
/* line 249, ../../sass/page/personal-data.scss */
.shopping-list .shopping-imgs li img {
  width: 100%;
}
/* line 251, ../../sass/page/personal-data.scss */
.shopping-list .shopping-imgs .shopping-imgs-btn {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 5px;
  text-align: center;
}
/* line 258, ../../sass/page/personal-data.scss */
.shopping-list .shopping-imgs .shopping-imgs-btn span {
  display: inline-block;
  margin: 0 5px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 269, ../../sass/page/personal-data.scss */
.shopping-list .shopping-imgs .shopping-imgs-btn .active {
  background-color: #aaaaaa;
}
