@charset "UTF-8";
/* line 1, ../../sass/reset/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 2, ../../sass/reset/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 3, ../../sass/reset/_reset.scss */
address, cite, dfn, em, var {
  font-style: normal;
}

/* line 4, ../../sass/reset/_reset.scss */
code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

/* line 6, ../../sass/reset/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 7, ../../sass/reset/_reset.scss */
a {
  text-decoration: none;
}

/* line 8, ../../sass/reset/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 9, ../../sass/reset/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../sass/reset/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 11, ../../sass/reset/_reset.scss */
legend {
  color: #000;
}

/* line 12, ../../sass/reset/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 13, ../../sass/reset/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 14, ../../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../../sass/reset/_reset.scss */
input[type="hidden" i], input[type="image" i], input[type="file" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

/* line 24, ../../sass/reset/_reset.scss */
input[type="hidden" i] {
  display: none;
}

/* line 27, ../../sass/reset/_reset.scss */
.form input[type=password] {
  font-family: Tahoma,Helvetica,Arial;
}

/* line 31, ../../sass/reset/_reset.scss */
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

/* line 44, ../../sass/reset/_reset.scss */
.btn-img, .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}

/* line 52, ../../sass/reset/_reset.scss */
.fll {
  float: left;
}

/* line 55, ../../sass/reset/_reset.scss */
.flr {
  float: right;
}

/* line 58, ../../sass/reset/_reset.scss */
.link-a {
  color: #07a9c7;
  cursor: pointer;
  margin: 0 3px;
}
/* line 62, ../../sass/reset/_reset.scss */
.link-a:hover {
  text-decoration: underline;
}

/* line 66, ../../sass/reset/_reset.scss */
body {
  background: #f5f5f5;
}

/* line 1, ../../sass/layout/_header.scss */
body {
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff;
}

/* line 9, ../../sass/layout/_header.scss */
.header {
  height: 100px;
  background: #fff;
  box-shadow: 0 0 10px #b4b4b4;
}
/* line 13, ../../sass/layout/_header.scss */
.header .logoheader {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}
/* line 18, ../../sass/layout/_header.scss */
.header .logoheader .logoleft {
  overflow: hidden;
  height: 100px;
  float: left;
}
/* line 23, ../../sass/layout/_header.scss */
.header .logoheader .logoleft img {
  margin-top: 25px;
}
/* line 27, ../../sass/layout/_header.scss */
.header .logoheader .logoleft .logo {
  float: left;
}
/* line 31, ../../sass/layout/_header.scss */
.header .logoheader .logoleft .logo-title {
  font-size: 24px;
  margin-left: 36px;
  float: left;
  line-height: 100px;
}
/* line 40, ../../sass/layout/_header.scss */
.header .w {
  width: 990px;
  margin: 0 auto;
}
/* line 45, ../../sass/layout/_header.scss */
.header .have-account {
  font-size: 16px;
  color: #999;
  float: right;
  line-height: 100px;
}
/* line 51, ../../sass/layout/_header.scss */
.header .have-account a {
  color: #e22;
}
/* line 57, ../../sass/layout/_header.scss */
.header .q-link {
  position: relative;
  color: #999;
  float: right;
  top: 30px;
}
/* line 63, ../../sass/layout/_header.scss */
.header .q-link b {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 18px;
  height: 14px;
  margin: 0 5px;
  background: url(../../images/header/q-icon.png) no-repeat;
  overflow: hidden;
  vertical-align: middle;
}

/* line 1, ../../sass/layout/_footer.scss */
.footer {
  font-size: 12px;
  text-align: center;
  color: #999;
  padding-bottom: 30px;
  background: #fff;
}
/* line 7, ../../sass/layout/_footer.scss */
.footer .links {
  border-top: solid 1px #e6e6e6;
  width: 1200px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0 auto;
}
/* line 14, ../../sass/layout/_footer.scss */
.footer a {
  color: #999;
  margin: 0 10px;
}

/*表单系列样式*/
/* line 4, ../../sass/layout/_form.scss */
.normal-check {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}
/* line 13, ../../sass/layout/_form.scss */
.normal-check.checked .icon-Group- {
  display: block;
}
/* line 19, ../../sass/layout/_form.scss */
.normal-check .sim-checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: solid 1px #dddddd;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 29, ../../sass/layout/_form.scss */
.normal-check .icon-Group- {
  display: none;
  position: absolute;
  left: 2px;
  top: 2px;
  font-weight: bold;
  color: green;
  line-height: 16px !important;
}
/* line 39, ../../sass/layout/_form.scss */
.normal-check input {
  position: absolute;
  left: 0;
  display: none;
  outline: none;
  outline: none;
}

/* line 50, ../../sass/layout/_form.scss */
.btn {
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 30px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* line 63, ../../sass/layout/_form.scss */
.btn-normal {
  background: #f5222d;
}

/* line 67, ../../sass/layout/_form.scss */
.btn-register {
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  color: #fff;
  background: #f5222d;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

/* line 80, ../../sass/layout/_form.scss */
.btn-text-group {
  display: inline-block;
  width: 260px;
  height: 34px;
  line-height: 34px;
  padding-right: 58px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
/* line 92, ../../sass/layout/_form.scss */
.btn-text-group input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0 none;
  outline: none;
  float: left;
  padding: 0 5px;
  color: #666;
}
/* line 103, ../../sass/layout/_form.scss */
.btn-text-group .group-btn {
  width: 58px;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

/* line 113, ../../sass/layout/_form.scss */
.btn-square-red {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 30px;
  background-color: #f5222d;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* line 128, ../../sass/layout/_form.scss */
.btn-square-gray {
  border: none;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  background-color: #cccccc;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

/* line 143, ../../sass/layout/_form.scss */
.btn-square-pink {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #f9d7d7;
  border: 1px solid #f5222d;
  color: #f5222d;
}

/* line 155, ../../sass/layout/_form.scss */
.btn-square-graybg {
  height: 30px;
  border: 1px solid #cccccc;
  background: #f5f5f5;
  padding: 0 20px;
  font-size: 12px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* line 166, ../../sass/layout/_form.scss */
.minbtn-red {
  height: 24px;
  background: #f5222d;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 0 5px;
}

/* line 175, ../../sass/layout/_form.scss */
.minbtn-white {
  height: 24px;
  background-color: #fff;
  font-size: 12px;
  line-height: 24px;
  width: auto;
  padding: 0 10px;
  border: 1px solid #f5222d;
  color: #f5222d;
}

/* line 8, ../../sass/page/register.scss */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* line 14, ../../sass/page/register.scss */
.progress-bar {
  position: relative;
  margin: 80px auto 0;
  width: 400px;
  display: flex;
  height: 52px;
  overflow: hidden;
}
/* line 22, ../../sass/page/register.scss */
.progress-bar .pro-step {
  position: absolute;
  text-align: center;
}
/* line 27, ../../sass/page/register.scss */
.progress-bar .pro-line,
.progress-bar .pro-step .step-index {
  background: url(../../images/register/reg-icon.png) no-repeat;
}
/* line 32, ../../sass/page/register.scss */
.progress-bar .pro-line {
  position: absolute;
  top: 7px;
  width: 74px;
  height: 10px;
  background-position: 0 -40px;
}
/* line 41, ../../sass/page/register.scss */
.progress-bar .pro-step .step-index {
  margin: 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-position: -45px -200px;
  font-size: 12px;
  font-weight: 700;
  color: #ccc;
}
/* line 53, ../../sass/page/register.scss */
.progress-bar .pro-step .step-desc {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
/* line 61, ../../sass/page/register.scss */
.progress-bar .cur-step .step-index {
  background-position: 1px -200px;
  color: #fff;
}
/* line 66, ../../sass/page/register.scss */
.progress-bar .cur-step .step-desc {
  color: #3b4;
}
/* line 72, ../../sass/page/register.scss */
.progress-bar .done-step .step-index {
  background-position: 0 0px;
  color: transparent;
}
/* line 77, ../../sass/page/register.scss */
.progress-bar .done-step .step-desc {
  color: #3b4;
}

/* line 84, ../../sass/page/register.scss */
.pro-step2 {
  left: 105px;
}

/* line 88, ../../sass/page/register.scss */
.pro-step3 {
  left: 215px;
}

/* line 92, ../../sass/page/register.scss */
.pro-step4 {
  right: 10px;
}

/* line 96, ../../sass/page/register.scss */
.pro-line1 {
  left: 50px;
}

/* line 100, ../../sass/page/register.scss */
.pro-line2 {
  left: 160px;
}

/* line 104, ../../sass/page/register.scss */
.pro-line3 {
  left: 270px;
}

/* main */
/* line 110, ../../sass/page/register.scss */
.main {
  margin: 50px auto 186px;
  width: 400px;
}

/* line 115, ../../sass/page/register.scss */
.reg-other {
  margin-top: 28px;
}
/* line 118, ../../sass/page/register.scss */
.reg-other a {
  color: #333;
  cursor: pointer;
  font-size: 14px;
}
/* line 124, ../../sass/page/register.scss */
.reg-other a:hover {
  color: #ff4d4f;
}
/* line 128, ../../sass/page/register.scss */
.reg-other .iconfont {
  font-size: 26px;
  color: #adadad;
  float: left;
  margin-right: 8px;
}

/* line 137, ../../sass/page/register.scss */
.input-tip,
.agree-tip {
  color: #c5c5c5;
}

/* line 142, ../../sass/page/register.scss */
.input-tip {
  color: #c5c5c5;
  height: 27px;
  font-size: 12px;
  padding-top: 5px;
  clear: both;
}

/* line 150, ../../sass/page/register.scss */
.form-item {
  position: relative;
  border: solid 1px #dddddd;
  width: 398px;
  height: 52px;
  z-index: 0;
}
/* line 156, ../../sass/page/register.scss */
.form-item:hover {
  border-color: #999 !important;
}
/* line 158, ../../sass/page/register.scss */
.form-item:hover .select-country, .form-item:hover .item-input-wrap {
  border-color: #999999 !important;
}
/* line 162, ../../sass/page/register.scss */
.form-item label {
  float: left;
  width: 87px;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
/* line 169, ../../sass/page/register.scss */
.form-item .item-input-wrap {
  float: left;
  width: 288px;
  height: 50px;
  border: solid 1px #dddddd;
}
/* line 175, ../../sass/page/register.scss */
.form-item .field {
  border: 0 none;
  font-size: 14px;
  width: 200px;
  height: 19px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-top: 16px;
}

/* line 185, ../../sass/page/register.scss */
.item-phone-wrap {
  height: 86px;
  position: relative;
  z-index: 2;
}

/* line 190, ../../sass/page/register.scss */
.item-phonecode-wrap {
  display: none;
  height: 86px;
}

/* line 195, ../../sass/page/register.scss */
.form-item-phone {
  border: none;
}
/* line 197, ../../sass/page/register.scss */
.form-item-phone .select-country {
  border: solid 1px #dddddd;
  border-right: none;
  padding: 0 0 0 20px;
  color: #666;
}

/* line 218, ../../sass/page/register.scss */
.form-item-getcode {
  line-height: 52px;
  text-align: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  z-index: 2;
}
/* line 225, ../../sass/page/register.scss */
.form-item-getcode:hover {
  border-color: #999999 !important;
  cursor: pointer;
}

/* line 230, ../../sass/page/register.scss */
.form-agreen {
  position: relative;
  margin-bottom: 20px;
  color: #333;
  font-size: 12px;
  word-wrap: break-word;
  white-space: nowrap;
}

/* line 238, ../../sass/page/register.scss */
.form-item .field::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

/* line 246, ../../sass/page/register.scss */
.i-company, .i-def, .i-error1, .i-global, .i-info, .i-pwd-medium, .i-pwd-strong, .i-pwd-weak, .i-suc, .voiceVerifyDialog .ico {
  background: url(../../images/form/icon.png) no-repeat;
}

/* line 249, ../../sass/page/register.scss */
.i-error {
  color: #c5c5c5;
}

/* line 252, ../../sass/page/register.scss */
.i-cancel {
  color: #c8c8c8;
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

/* line 260, ../../sass/page/register.scss */
.i-status {
  position: absolute;
  top: 18px;
  right: 20px;
  color: green;
  font-size: 20px;
}
