@charset "UTF-8";
/* line 1, ../../sass/reset/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 2, ../../sass/reset/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 3, ../../sass/reset/_reset.scss */
address, cite, dfn, em, var {
  font-style: normal;
}

/* line 4, ../../sass/reset/_reset.scss */
code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

/* line 6, ../../sass/reset/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 7, ../../sass/reset/_reset.scss */
a {
  text-decoration: none;
}

/* line 8, ../../sass/reset/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 9, ../../sass/reset/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../sass/reset/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 11, ../../sass/reset/_reset.scss */
legend {
  color: #000;
}

/* line 12, ../../sass/reset/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 13, ../../sass/reset/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 14, ../../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../../sass/reset/_reset.scss */
input[type="hidden" i], input[type="image" i], input[type="file" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

/* line 24, ../../sass/reset/_reset.scss */
input[type="hidden" i] {
  display: none;
}

/* line 27, ../../sass/reset/_reset.scss */
.form input[type=password] {
  font-family: Tahoma,Helvetica,Arial;
}

/* line 31, ../../sass/reset/_reset.scss */
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

/* line 44, ../../sass/reset/_reset.scss */
.btn-img, .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}

/* line 52, ../../sass/reset/_reset.scss */
.fll {
  float: left;
}

/* line 55, ../../sass/reset/_reset.scss */
.flr {
  float: right;
}

/* line 58, ../../sass/reset/_reset.scss */
.link-a {
  color: #07a9c7;
  cursor: pointer;
  margin: 0 3px;
}
/* line 62, ../../sass/reset/_reset.scss */
.link-a:hover {
  text-decoration: underline;
}

/* line 66, ../../sass/reset/_reset.scss */
body {
  background: #f5f5f5;
}

/* line 69, ../../sass/reset/_reset.scss */
select {
  /*将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 75, ../../sass/reset/_reset.scss */
select::-ms-expand {
  display: none;
}

/* line 1, ../../sass/reset/_common.scss */
.fll {
  float: left;
}

/* line 5, ../../sass/reset/_common.scss */
.flr {
  float: right;
}

/* line 9, ../../sass/reset/_common.scss */
.bold {
  font-weight: bold;
}

/*版心*/
/* line 14, ../../sass/reset/_common.scss */
.page-auto {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*其他版心定义 以w开头*/
/* line 22, ../../sass/reset/_common.scss */
.w99 {
  width: 990px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

/*清除浮动*/
/* line 30, ../../sass/reset/_common.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 38, ../../sass/reset/_common.scss */
.clearfix {
  zoom: 1;
}

/*多余字符串省略号代替*/
/* line 43, ../../sass/reset/_common.scss */
.box-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*文字链接样式*/
/* line 50, ../../sass/reset/_common.scss */
.link-a {
  color: #4184e8;
  cursor: pointer;
  margin: 0 3px;
}

/* line 56, ../../sass/reset/_common.scss */
.link-a:hover {
  text-decoration: underline;
}

/*灰色连接*/
/* line 61, ../../sass/reset/_common.scss */
.link-b {
  color: #656565;
  cursor: pointer;
  margin: 0 3px;
}

/* line 67, ../../sass/reset/_common.scss */
.link-b:hover {
  text-decoration: underline;
}

/*文字字号*/
/* line 72, ../../sass/reset/_common.scss */
.f18 {
  font-size: 18px;
}

/* line 76, ../../sass/reset/_common.scss */
.f22 {
  font-size: 22px;
}

/* line 80, ../../sass/reset/_common.scss */
.f26 {
  font-size: 26px;
}

/*文字常用颜色 以fc起头*/
/* line 85, ../../sass/reset/_common.scss */
.fc01 {
  color: red;
}

/*气泡提示消息样式*/
/* line 90, ../../sass/reset/_common.scss */
.bubble-news {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 0 4px;
  border-radius: 50% 40% 40% 0;
  background-color: #fff;
  color: #000;
  font-weight: 500 !important;
}

/* line 103, ../../sass/reset/_common.scss */
.bubble-tips {
  font-size: 12px;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  padding: 1px 5px;
  border-radius: 35%;
  background-color: #c94a4a;
  color: #fff;
  font-weight: 500 !important;
}

/* line 116, ../../sass/reset/_common.scss */
.bubble-tips2 {
  font-size: 12px;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  padding: 1px 2px;
  border-radius: 8px;
  background-color: #fff;
  color: #c94a4a;
  font-weight: 500 !important;
  border: 1px solid #c94a4a;
}

/* line 130, ../../sass/reset/_common.scss */
.tips {
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: #f5222d;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
}

/* line 144, ../../sass/reset/_common.scss */
.coupon-label {
  width: 282px;
  height: 121px;
}
/* line 148, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top {
  width: 100%;
  height: 89px;
  padding-top: 24px;
  background: url(../../images/public/coupon-up.png);
  box-sizing: border-box;
  color: #fff;
  position: relative;
}
/* line 157, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val {
  float: left;
  width: 108px;
  text-align: center;
}
/* line 162, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val span:nth-child(1) {
  font-size: 38px;
}
/* line 166, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-val span:nth-child(2) {
  font-size: 22px;
}
/* line 171, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time {
  line-height: 20px;
  font-size: 12px;
}
/* line 175, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time p:nth-child(1) {
  font-weight: bold;
}
/* line 179, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-effective-time > span {
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
  background-color: #fff;
  color: #a95147;
}
/* line 188, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-top .coupon-type {
  position: absolute;
  top: 2px;
  left: 10px;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #ce5649;
  color: #fff;
}
/* line 200, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom {
  width: 100%;
  height: 32px;
  line-height: 30px;
  background: url(../../images/public/coupon-down.png);
  color: #dd7781;
}
/* line 207, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom p {
  padding-left: 18px;
  padding-right: 40px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 215, ../../sass/reset/_common.scss */
.coupon-label .coupon-label-bottom p .iconfont {
  position: absolute;
  top: 1px;
  right: 16px;
  font-size: 14px;
  cursor: pointer;
}

/* line 227, ../../sass/reset/_common.scss */
.triangle {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 233, ../../sass/reset/_common.scss */
.triangle:before,
.triangle .before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #f5222d transparent;
}

/* line 250, ../../sass/reset/_common.scss */
.triangle:after,
.triangle .after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 7px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 1px;
  top: 2px;
}

/* line 268, ../../sass/reset/_common.scss */
.triangle.white:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
}

/* line 283, ../../sass/reset/_common.scss */
.triangle.gray:before,
.triangle.gray .before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #cccccc transparent;
}

/*
<div class="iconforbr">
<span class="current">iphone7/8<i class="iconfont icon-youxiajiaogouxuan"></i></span>
<span>iphone7/8</span>
</div>*/
/* line 307, ../../sass/reset/_common.scss */
.iconforbr span {
  display: inline-block;
  height: 26px;
  border: 1px solid #cccccc;
  line-height: 26px;
  padding: 0 5px;
  cursor: pointer;
}
/* line 315, ../../sass/reset/_common.scss */
.iconforbr span.sell-out {
  border: 1px dashed #cccccc;
}
/* line 319, ../../sass/reset/_common.scss */
.iconforbr span.current {
  position: relative;
  border: 2px solid #b3a078;
}
/* line 322, ../../sass/reset/_common.scss */
.iconforbr span.current i.icon-youxiajiaogouxuan {
  position: absolute;
  right: 0;
  bottom: -1px;
  font-size: 12px;
  line-height: 12px;
  color: #b3a078;
}
/* line 331, ../../sass/reset/_common.scss */
.iconforbr span.nocurrent {
  background: #ebebeb;
  border-color: #ebebeb;
  color: #cccccc;
}

/* line 1, ../../sass/layout/_header.scss */
body {
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff;
}

/* line 9, ../../sass/layout/_header.scss */
.header {
  height: 100px;
  background: #fff;
  box-shadow: 0 0 10px #b4b4b4;
}
/* line 13, ../../sass/layout/_header.scss */
.header .logoheader {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}
/* line 18, ../../sass/layout/_header.scss */
.header .logoheader .logoleft {
  overflow: hidden;
  height: 100px;
  float: left;
}
/* line 23, ../../sass/layout/_header.scss */
.header .logoheader .logoleft img {
  margin-top: 25px;
}
/* line 27, ../../sass/layout/_header.scss */
.header .logoheader .logoleft .logo {
  float: left;
}
/* line 31, ../../sass/layout/_header.scss */
.header .logoheader .logoleft .logo-title {
  font-size: 24px;
  margin-left: 36px;
  float: left;
  line-height: 100px;
}
/* line 40, ../../sass/layout/_header.scss */
.header .w {
  width: 990px;
  margin: 0 auto;
}
/* line 45, ../../sass/layout/_header.scss */
.header .have-account {
  font-size: 16px;
  color: #999;
  float: right;
  line-height: 100px;
}
/* line 51, ../../sass/layout/_header.scss */
.header .have-account a {
  color: #e22;
}
/* line 57, ../../sass/layout/_header.scss */
.header .q-link {
  position: relative;
  color: #999;
  float: right;
  top: 30px;
}
/* line 63, ../../sass/layout/_header.scss */
.header .q-link b {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 18px;
  height: 14px;
  margin: 0 5px;
  background: url(../../images/header/q-icon.png) no-repeat;
  overflow: hidden;
  vertical-align: middle;
}

/* line 1, ../../sass/layout/_footer.scss */
.footer {
  font-size: 12px;
  text-align: center;
  color: #999;
  padding-bottom: 30px;
  background: #fff;
}
/* line 7, ../../sass/layout/_footer.scss */
.footer .links {
  border-top: solid 1px #e6e6e6;
  width: 1200px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0 auto;
}
/* line 14, ../../sass/layout/_footer.scss */
.footer a {
  color: #999;
  margin: 0 10px;
}

/* line 2, ../../sass/layout/_detail-header.scss */
.detail.header {
  box-shadow: none;
}
/* line 5, ../../sass/layout/_detail-header.scss */
.detail.header .header_right {
  width: 700px;
  float: right;
  height: 70px;
  margin-top: 25px;
}
/* line 12, ../../sass/layout/_detail-header.scss */
.detail.header .serchbox {
  float: left;
  width: 512px;
  position: relative;
}
/* line 17, ../../sass/layout/_detail-header.scss */
.detail.header .serchbox .icon-xiazai17 {
  position: absolute;
  left: 17px;
  top: 12px;
  color: #d1d1d1;
}
/* line 25, ../../sass/layout/_detail-header.scss */
.detail.header .serch {
  height: 38px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #f5222d;
}
/* line 31, ../../sass/layout/_detail-header.scss */
.detail.header .serch input {
  border: none;
  height: 38px;
  line-height: 38px;
  float: left;
  width: 382px;
  padding-left: 40px;
  background: transparent;
  font-size: 14px;
}
/* line 42, ../../sass/layout/_detail-header.scss */
.detail.header .serch button {
  float: right;
  width: 90px;
  background: #f5222d;
  border: none;
  box-shadow: none;
  color: #fff;
  height: 38px;
  border-radius: 0 20px 20px 0;
  text-align: center;
  font-size: 14px;
}
/* line 56, ../../sass/layout/_detail-header.scss */
.detail.header .ahreflist {
  height: 19px;
  padding-top: 8px;
  padding-left: 32px;
  overflow: hidden;
}
/* line 62, ../../sass/layout/_detail-header.scss */
.detail.header .ahreflist a {
  text-decoration: none;
  margin-right: 10px;
  line-height: 19px;
  font-size: 12px;
  color: #aaa;
  margin-left: 5px;
}
/* line 71, ../../sass/layout/_detail-header.scss */
.detail.header .ahreflist a:hover {
  color: #ff4d4f;
}
/* line 76, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox {
  position: relative;
  float: right;
  width: 122px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #f5222d;
  font-size: 14px;
  position: relative;
}
/* line 85, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox:hover .shopingdetail {
  display: block;
}
/* line 89, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox a {
  color: #f5222d;
  text-decoration: none;
  position: absolute;
  left: 16px;
  top: 10px;
}
/* line 97, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox .iconfont {
  color: #b79f79;
  float: left;
  margin-right: 5px;
}
/* line 103, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbox .num {
  background: #f5222d;
  border-radius: 10px;
  color: #fff;
  padding: 0 5px;
}
/* line 111, ../../sass/layout/_detail-header.scss */
.detail.header .shopingdetail {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 330px;
  height: 340px;
  z-index: 2;
  background: #fff;
}
/* line 123, ../../sass/layout/_detail-header.scss */
.detail.header .trianglebox {
  position: relative;
  height: 15px;
}
/* line 128, ../../sass/layout/_detail-header.scss */
.detail.header .triangle {
  position: absolute;
  right: 200px;
}
/* line 133, ../../sass/layout/_detail-header.scss */
.detail.header .triangle:before,
.detail.header .triangle .before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 150px;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #f5222d transparent;
}
/* line 150, ../../sass/layout/_detail-header.scss */
.detail.header .triangle:after,
.detail.header .triangle .after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 7px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: 151px;
  top: 2px;
}
/* line 167, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist {
  border: 1px solid #f5222d;
  height: 326px;
}
/* line 172, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist ul {
  height: 230px;
  padding: 15px;
}
/* line 178, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li {
  position: relative;
  cursor: pointer;
}
/* line 181, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .shoppingprice {
  font-size: 12px;
  color: #f5222d;
  line-height: 35px;
  margin-left: 10px;
  float: left;
}
/* line 189, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .listdetail {
  float: left;
  width: 140px;
  margin-left: 10px;
}
/* line 193, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .listdetail p {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 35px;
}
/* line 200, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .listdetail div span {
  font-size: 12px;
  color: #9b9b9b;
  margin-right: 3px;
}
/* line 207, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li img {
  width: 60px;
  float: left;
}
/* line 212, ../../sass/layout/_detail-header.scss */
.detail.header .shoppinglist li .icon-cuowu1 {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
/* line 221, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom {
  height: 36px;
  background: #fff1f0;
  padding: 15px;
}
/* line 225, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom .leftprice {
  float: left;
}
/* line 228, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom p {
  font-size: 13px;
  color: #9b9b9b;
}
/* line 232, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom .totalprice {
  color: #f5222d;
}
/* line 235, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom .btn-register {
  float: right;
}
/* line 238, ../../sass/layout/_detail-header.scss */
.detail.header .shoppingbottom .btn {
  background: #f5222d;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
}

/* line 253, ../../sass/layout/_detail-header.scss */
.detail.header.fixed {
  width: 100%;
  text-align: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
}
/* line 263, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .logoheader,
.detail.header.fixed .logoleft {
  height: 60px;
}
/* line 268, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .logoleft img {
  margin-top: 0;
}
/* line 272, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .header_right {
  height: 40px;
  margin-top: 10px;
}
/* line 277, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .serchbox {
  width: 675px;
}
/* line 281, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .serch input {
  width: 530px;
}
/* line 285, ../../sass/layout/_detail-header.scss */
.detail.header.fixed .ahreflist,
.detail.header.fixed .shoppingbox {
  display: none;
}

/* line 291, ../../sass/layout/_detail-header.scss */
.header-top {
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5;
  clear: both;
}
/* line 296, ../../sass/layout/_detail-header.scss */
.header-top > div {
  width: 1200px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  color: #999;
  position: relative;
}
/* line 305, ../../sass/layout/_detail-header.scss */
.header-top .fl {
  float: left;
}
/* line 309, ../../sass/layout/_detail-header.scss */
.header-top .iconfont {
  float: left;
}
/* line 313, ../../sass/layout/_detail-header.scss */
.header-top li {
  float: left;
  cursor: pointer;
}
/* line 318, ../../sass/layout/_detail-header.scss */
.header-top a {
  color: #999;
  text-decoration: none;
}
/* line 323, ../../sass/layout/_detail-header.scss */
.header-top a:hover {
  color: #ff4d4f;
}
/* line 327, ../../sass/layout/_detail-header.scss */
.header-top .cw-icon {
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  border: 1px solid #e3e4e5;
}
/* line 336, ../../sass/layout/_detail-header.scss */
.header-top .cw-icon a {
  float: left;
}
/* line 341, ../../sass/layout/_detail-header.scss */
.header-top .dt {
  padding-left: 7px;
  padding-right: 7px;
}
/* line 346, ../../sass/layout/_detail-header.scss */
.header-top .dd {
  width: 300px;
  padding: 10px;
  line-height: 24px;
}
/* line 352, ../../sass/layout/_detail-header.scss */
.header-top .dorpdown-layer,
.header-top .dropdown-layer {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}
/* line 362, ../../sass/layout/_detail-header.scss */
.header-top .dropdown-layer {
  top: 30px;
  display: none;
  z-index: 9999;
}
/* line 368, ../../sass/layout/_detail-header.scss */
.header-top .item {
  float: left;
  width: 60px;
  padding: 2px 0;
}
/* line 374, ../../sass/layout/_detail-header.scss */
.header-top .item a {
  float: left;
  padding: 0 8px;
  text-decoration: none;
}
/* line 380, ../../sass/layout/_detail-header.scss */
.header-top .item a.selected {
  background-color: #f5222d;
  color: #fff;
}
/* line 385, ../../sass/layout/_detail-header.scss */
.header-top .ui-areamini-content-wrap {
  overflow: hidden;
}
/* line 390, ../../sass/layout/_detail-header.scss */
.header-top .fr {
  float: right;
}
/* line 394, ../../sass/layout/_detail-header.scss */
.header-top .shortcut_btn {
  z-index: 21;
}
/* line 398, ../../sass/layout/_detail-header.scss */
.header-top .fore1 {
  margin-right: 8px;
  z-index: 20;
}
/* line 403, ../../sass/layout/_detail-header.scss */
.header-top .style-red {
  color: #f5222d;
}
/* line 407, ../../sass/layout/_detail-header.scss */
.header-top li.spacer {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
/* line 415, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter {
  margin: 10px 0 10px 10px;
  overflow: hidden;
}
/* line 420, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_item {
  width: 145px;
  height: 26px;
  line-height: 26px;
}
/* line 426, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_split {
  width: 262px;
  height: 0;
  border-bottom: dotted 1px #eee;
}
/* line 432, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_desc {
  margin: 9px 0;
  color: #8f8f8f;
}
/* line 437, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter {
  margin: 10px 0 10px 10px;
}
/* line 441, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_list {
  overflow: hidden;
}
/* line 445, ../../sass/layout/_detail-header.scss */
.header-top .areamini_inter_ico {
  float: left;
  position: relative;
  top: 7px;
  margin-right: 8px;
  width: 15px;
  height: 10px;
  border: solid 1px transparent;
  background: #f5222d;
}
/* line 457, ../../sass/layout/_detail-header.scss */
.header-top .shortcut_btn:hover .cw-icon {
  padding-bottom: 2px;
  border-color: #ccc;
  border-bottom: none;
  background-color: #fff;
}
/* line 465, ../../sass/layout/_detail-header.scss */
.header-top .shortcut_btn:hover .dropdown-layer {
  display: block;
}
/* line 472, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .item-business,
.header-top .fore8 .item-client {
  padding-left: 15px;
  font-weight: 700;
  color: #666;
  overflow: hidden;
}
/* line 480, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .dd {
  right: 166px;
  width: 170px;
  padding: 10px 0;
}
/* line 486, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .item-business {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px dotted #eee;
}
/* line 492, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 70px;
  padding-left: 15px;
}
/* line 500, ../../sass/layout/_detail-header.scss */
.header-top .fore8 .item a {
  float: left;
  padding: 0;
  text-decoration: none;
}
/* line 508, ../../sass/layout/_detail-header.scss */
.header-top .fore9 .dd {
  right: 0;
  width: 1178px;
}
/* line 513, ../../sass/layout/_detail-header.scss */
.header-top .fore9 dt {
  margin-bottom: 5px;
  font-weight: 700;
  color: #666;
}
/* line 519, ../../sass/layout/_detail-header.scss */
.header-top .fore9 dl {
  float: left;
  width: 255px;
  padding-left: 15px;
  border-left: 1px solid #eee;
}
/* line 526, ../../sass/layout/_detail-header.scss */
.header-top .fore9 .item {
  overflow: hidden;
  float: left;
  width: 85px;
  white-space: nowrap;
}
/* line 533, ../../sass/layout/_detail-header.scss */
.header-top .fore9 dl.fore1 {
  border-left: none;
  width: 340px;
}
/* line 541, ../../sass/layout/_detail-header.scss */
.header-top .fore10:hover .mobile_static {
  display: block;
}
/* line 545, ../../sass/layout/_detail-header.scss */
.header-top .fore10:hover .dt {
  border: 1px solid #ccc;
  background-color: #fff;
  border-bottom: none;
}
/* line 553, ../../sass/layout/_detail-header.scss */
.header-top .fore10 .mobile_txt {
  border: 1px solid transparent;
  border-bottom: none;
}
/* line 558, ../../sass/layout/_detail-header.scss */
.header-top .fore10 .mobile_static {
  display: none;
  right: 0px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  z-index: 999;
}
/* line 568, ../../sass/layout/_detail-header.scss */
.header-top .fore10 img {
  width: 130px;
}
/* line 572, ../../sass/layout/_detail-header.scss */
.header-top .fore10 p {
  text-align: center;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  line-height: 20px;
}
/* line 580, ../../sass/layout/_detail-header.scss */
.header-top .fore10 .redtxt {
  color: #f5222d;
}

/* line 588, ../../sass/layout/_detail-header.scss */
.header-content {
  background: #fff;
}

/* line 592, ../../sass/layout/_detail-header.scss */
.header_nav {
  width: 1200px;
  margin: 0 auto;
  height: 38px;
  line-height: 38px;
}
/* line 598, ../../sass/layout/_detail-header.scss */
.header_nav > div {
  float: left;
}
/* line 602, ../../sass/layout/_detail-header.scss */
.header_nav .header_nav_left_title {
  width: 170px;
  background: #f5222d;
  color: #fff;
  height: 38px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding-left: 20px;
}

/* line 616, ../../sass/layout/_detail-header.scss */
.nav-list li {
  float: left;
  padding: 0 15px;
  font-size: 16px;
  overflow: hidden;
  height: 100%;
}
/* line 623, ../../sass/layout/_detail-header.scss */
.nav-list li a {
  color: #333;
  text-decoration: none;
}
/* line 628, ../../sass/layout/_detail-header.scss */
.nav-list li a:hover {
  color: #ff4d4f;
}

/* line 2, ../../sass/layout/_detail-footer.scss */
.detail.footer .wrap {
  margin: 0 auto;
  width: 1200px;
}
/* line 6, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service {
  height: 67px;
}
/* line 9, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
}
/* line 14, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a {
  float: left;
  display: block;
  _display: inline;
  width: 220px;
  overflow: hidden;
  margin: 0 51px;
  margin-right: 105px;
  margin-left: 0px;
  cursor: default;
}
/* line 25, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a:last-child {
  margin-right: 0;
}
/* line 28, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a img {
  float: left;
  display: block;
  _display: inline;
  width: 66px;
  height: 66px;
  margin-right: 15px;
}
/* line 37, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a b {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  float: left;
}
/* line 45, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_footer_service a span {
  font-size: 14px;
  color: #999;
  line-height: 26px;
  float: left;
}
/* line 51, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link {
  padding: 20px 0 20px;
  overflow: hidden;
}
/* line 55, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_help_list {
  float: left;
  padding-left: 15px;
}
/* line 59, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_code_wrap {
  width: 280px;
  overflow: hidden;
  float: left;
  margin-right: -50px;
}
/* line 65, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link dl {
  float: left;
  display: block;
  _display: inline;
  width: 195px;
  text-align: left;
}
/* line 72, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link dl dt {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  color: #666;
  font-weight: bold;
}
/* line 83, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link dl dd {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  overflow: hidden;
  white-space: normal;
  font-size: 12px;
}
/* line 90, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_service_link dl dd a {
  margin: 0;
}
/* line 94, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_code_wrap .ft_mobile_code {
  float: left;
  margin-right: 50px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
/* line 102, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_code_wrap .ft_mobile_code:last-child {
  margin: 0;
}
/* line 105, ../../sass/layout/_detail-footer.scss */
.detail.footer .ft_code_wrap .ft_mobile_code a {
  width: 90px;
  height: 90px;
  display: inline-block;
  background: red;
  color: #fff;
}

/*表单系列样式*/
/* line 4, ../../sass/layout/_form.scss */
.normal-check {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  background: #fff;
}
/* line 14, ../../sass/layout/_form.scss */
.normal-check.checked .icon-Group- {
  display: block;
}
/* line 20, ../../sass/layout/_form.scss */
.normal-check .sim-checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: solid 1px #dddddd;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 30, ../../sass/layout/_form.scss */
.normal-check .icon-Group- {
  display: none;
  position: absolute;
  left: 2px;
  top: 2px;
  font-weight: bold;
  color: green;
  line-height: 16px !important;
}
/* line 40, ../../sass/layout/_form.scss */
.normal-check input {
  position: absolute;
  left: 0;
  display: none;
  outline: none;
  outline: none;
}

/* line 51, ../../sass/layout/_form.scss */
.normal-select {
  position: relative;
  min-width: 120px;
  line-height: 26px;
}
/* line 56, ../../sass/layout/_form.scss */
.normal-select select {
  min-width: 100px;
  height: 26px;
  line-height: 26px;
  padding-left: 5px;
  border: solid 1px #dddddd;
}
/* line 63, ../../sass/layout/_form.scss */
.normal-select i {
  position: absolute;
  right: 10px;
  top: 0px;
}

/* line 71, ../../sass/layout/_form.scss */
.normal-input {
  min-width: 180px;
  height: 28px;
  border: solid 1px #dddddd;
  display: inline-block;
  font-size: 12px;
  padding-left: 10px;
}

/* line 80, ../../sass/layout/_form.scss */
.other-input {
  height: 28px;
  border: solid 1px #dddddd;
  display: inline-block;
  font-size: 12px;
  padding-left: 10px;
}

/* line 89, ../../sass/layout/_form.scss */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  position: relative;
  border: solid 1px #dddddd;
  width: 13px;
  height: 13px;
  border-radius: 10px;
}

/* line 100, ../../sass/layout/_form.scss */
input[type="radio"].checked:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  display: block;
  width: 9px;
  height: 9px;
  background: #ba9a5d;
  border-radius: 10px;
  z-index: 99;
}

/* line 114, ../../sass/layout/_form.scss */
.btn {
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 30px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* line 127, ../../sass/layout/_form.scss */
.btn-normal {
  background: #f5222d;
}

/* line 131, ../../sass/layout/_form.scss */
.btn-register {
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  color: #fff;
  background: #f5222d;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

/* line 144, ../../sass/layout/_form.scss */
.btn-text-group {
  display: inline-block;
  width: 260px;
  height: 34px;
  line-height: 34px;
  padding-right: 58px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
/* line 156, ../../sass/layout/_form.scss */
.btn-text-group input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0 none;
  outline: none;
  float: left;
  padding: 0 5px;
  color: #666;
}
/* line 167, ../../sass/layout/_form.scss */
.btn-text-group .group-btn {
  width: 58px;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

/* line 177, ../../sass/layout/_form.scss */
.btn-square-red {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 30px;
  background-color: #f5222d;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* line 192, ../../sass/layout/_form.scss */
.btn-square-gray {
  border: none;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  background-color: #cccccc;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

/* line 207, ../../sass/layout/_form.scss */
.btn-square-pink {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-align: center;
  background-color: #f9d7d7;
  border: 1px solid #f5222d;
  color: #f5222d;
}

/* line 219, ../../sass/layout/_form.scss */
.btn-square-graybg {
  height: 30px;
  border: 1px solid #cccccc;
  background: #f5f5f5;
  padding: 0 20px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

/* line 229, ../../sass/layout/_form.scss */
.minbtn-red {
  height: 24px;
  background: #f5222d;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 0 5px;
}

/* line 238, ../../sass/layout/_form.scss */
.minbtn-white {
  height: 24px;
  background-color: #fff;
  font-size: 12px;
  line-height: 24px;
  width: auto;
  padding: 0 10px;
  border: 1px solid #f5222d;
  color: #f5222d;
}

/* line 251, ../../sass/layout/_form.scss */
.transformation i {
  width: 27px;
  height: 28px;
  border: solid 1px #dddddd;
  float: left;
  background: #fff;
  line-height: 27px;
  text-align: center;
  color: #939393;
  font-size: 12px;
}
/* line 263, ../../sass/layout/_form.scss */
.transformation i.noclick {
  color: #ccc;
}
/* line 266, ../../sass/layout/_form.scss */
.transformation .other-input {
  float: left;
  width: 50px;
  border-left: none;
  border-right: none;
}
/* line 273, ../../sass/layout/_form.scss */
.transformation .other-input.nochange {
  color: #ccc;
}

/* line 1, ../../sass/layout/_tab-list.scss */
.tab-list {
  font-size: 15px;
  margin-bottom: 20px;
}
/* line 5, ../../sass/layout/_tab-list.scss */
.tab-list li {
  float: left;
  border-bottom: 2px solid #eaeaea;
  padding: 0 30px;
  line-height: 45px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
/* line 13, ../../sass/layout/_tab-list.scss */
.tab-list li.tab-list-detail:hover {
  color: #ff4d4f;
}
/* line 17, ../../sass/layout/_tab-list.scss */
.tab-list li.line {
  color: #eaeaea;
  padding: 0;
  font-weight: normal;
}
/* line 22, ../../sass/layout/_tab-list.scss */
.tab-list li.current {
  border-color: #f5222d;
}

/* line 30, ../../sass/layout/_tab-list.scss */
.tab-group .tab-nav ul {
  width: 100%;
  height: 40px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  position: relative;
  clear: both;
}
/* line 38, ../../sass/layout/_tab-list.scss */
.tab-group .tab-nav ul li {
  float: left;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
  margin-left: -1px;
  cursor: pointer;
}
/* line 50, ../../sass/layout/_tab-list.scss */
.tab-group .tab-nav ul .selected {
  border-top: 4px solid #f5222d;
  border-bottom: 4px solid #fff;
  line-height: 32px;
  background-color: #fff;
  color: #f5222d;
  z-index: 9;
}
/* line 60, ../../sass/layout/_tab-list.scss */
.tab-group .tab-items {
  min-height: 300px;
}
/* line 62, ../../sass/layout/_tab-list.scss */
.tab-group .tab-items .tab-item {
  display: none;
}
/* line 65, ../../sass/layout/_tab-list.scss */
.tab-group .tab-items .selected {
  display: block;
}

/* line 70, ../../sass/layout/_tab-list.scss */
.tab-group-border {
  border: 1px solid #e8e8e8;
  border-top: 0 none;
}

/* line 14, ../../sass/page/shopping-cart.scss */
.empty-cart {
  width: 1198px;
  border: solid 1px #dddddd;
  height: 500px;
  margin-top: 20px;
}

/* line 21, ../../sass/page/shopping-cart.scss */
.empty-content {
  width: 200px;
  margin: 100px auto 0;
  text-align: center;
}
/* line 26, ../../sass/page/shopping-cart.scss */
.empty-content img {
  width: 200px;
}
/* line 30, ../../sass/page/shopping-cart.scss */
.empty-content p {
  font-size: 16px;
  color: #8c8c8c;
}
/* line 35, ../../sass/page/shopping-cart.scss */
.empty-content .btn-square-pink {
  background-color: #fff;
  color: #f5222d;
  margin-top: 23px;
}

/* line 42, ../../sass/page/shopping-cart.scss */
.content {
  margin-top: 20px;
}

/* line 46, ../../sass/page/shopping-cart.scss */
.titlegray {
  height: 42px;
  border: solid 1px #dddddd;
  background: #f5f5f5;
  font-size: 13px;
  color: #666;
  line-height: 42px;
}

/* line 55, ../../sass/page/shopping-cart.scss */
.tab-list-nav {
  margin-bottom: 15px;
}
/* line 58, ../../sass/page/shopping-cart.scss */
.tab-list-nav li {
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}
/* line 65, ../../sass/page/shopping-cart.scss */
.tab-list-nav li a {
  color: #666;
  text-decoration: none;
}
/* line 72, ../../sass/page/shopping-cart.scss */
.tab-list-nav li:nth-child(1) {
  width: 110px;
}
/* line 76, ../../sass/page/shopping-cart.scss */
.tab-list-nav li:nth-child(2) {
  width: 390px;
}
/* line 80, ../../sass/page/shopping-cart.scss */
.tab-list-nav li:nth-child(3) {
  width: 180px;
}
/* line 84, ../../sass/page/shopping-cart.scss */
.tab-list-nav li:nth-child(4) {
  width: 220px;
}
/* line 88, ../../sass/page/shopping-cart.scss */
.tab-list-nav li:nth-child(5) {
  width: 120px;
}
/* line 92, ../../sass/page/shopping-cart.scss */
.tab-list-nav li:nth-child(6) {
  width: 100px;
}

/* line 98, ../../sass/page/shopping-cart.scss */
.order-detail {
  border: solid 1px #dddddd;
  padding: 20px;
  margin: 10px 0;
}
/* line 103, ../../sass/page/shopping-cart.scss */
.order-detail.discount {
  background: #fffbf0;
}
/* line 107, ../../sass/page/shopping-cart.scss */
.order-detail .redtips {
  color: #f5222d;
  border: 1px solid #f5222d;
  padding: 2px;
  font-size: 12px;
  border-radius: 2px;
  margin-left: 10px;
}

/* line 117, ../../sass/page/shopping-cart.scss */
.discount-detail {
  height: 46px;
  border-bottom: solid 1px #dddddd;
  margin-bottom: 10px;
  line-height: 46px;
}
/* line 123, ../../sass/page/shopping-cart.scss */
.discount-detail button {
  margin-top: 10px;
  margin: 10px;
}

/* line 131, ../../sass/page/shopping-cart.scss */
.order td:nth-child(1) {
  width: 50px;
}
/* line 135, ../../sass/page/shopping-cart.scss */
.order td:nth-child(2) {
  width: 120px;
}
/* line 139, ../../sass/page/shopping-cart.scss */
.order td:nth-child(3) {
  width: 335px;
  font-size: 13px;
}
/* line 144, ../../sass/page/shopping-cart.scss */
.order td:nth-child(4) {
  width: 180px;
}
/* line 148, ../../sass/page/shopping-cart.scss */
.order td:nth-child(5) {
  width: 220px;
}
/* line 152, ../../sass/page/shopping-cart.scss */
.order td:nth-child(6) {
  width: 150px;
}
/* line 158, ../../sass/page/shopping-cart.scss */
.order td:nth-child(7) .linl-b {
  display: block;
}

/* line 167, ../../sass/page/shopping-cart.scss */
.product-dropdown {
  width: 400px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 15px;
  left: 10px;
  display: none;
}
/* line 176, ../../sass/page/shopping-cart.scss */
.product-dropdown .dropdown-detail {
  position: relative;
  border: 1px solid #cccccc;
  padding: 10px 20px;
  margin-top: 10px;
}
/* line 183, ../../sass/page/shopping-cart.scss */
.product-dropdown .triangle {
  top: -16px;
  left: 10px;
}
/* line 187, ../../sass/page/shopping-cart.scss */
.product-dropdown button {
  margin-left: 0;
}

/* line 192, ../../sass/page/shopping-cart.scss */
.product-detail {
  color: #8c8c8c;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  position: relative;
}
/* line 198, ../../sass/page/shopping-cart.scss */
.product-detail p {
  height: 24px;
  line-height: 24px;
  margin: 5px 0;
}

/* line 206, ../../sass/page/shopping-cart.scss */
.iconforbr span {
  margin-bottom: 5px;
  margin-right: 10px;
}

/* line 211, ../../sass/page/shopping-cart.scss */
.product-detail:hover .product-dropdown {
  display: inline-block;
}

/* line 216, ../../sass/page/shopping-cart.scss */
.footer-tab {
  height: 75px;
  line-height: 75px;
}
/* line 219, ../../sass/page/shopping-cart.scss */
.footer-tab li:nth-child(2) {
  text-align: left;
}
/* line 221, ../../sass/page/shopping-cart.scss */
.footer-tab li:nth-child(2) a {
  margin-right: 10px;
}
/* line 225, ../../sass/page/shopping-cart.scss */
.footer-tab li:nth-child(3) {
  width: 698px;
}

/* line 230, ../../sass/page/shopping-cart.scss */
.total {
  width: 280px;
  text-align: right;
  line-height: 24px;
  margin-top: 12px;
  color: #8c8c8c;
}

/* line 237, ../../sass/page/shopping-cart.scss */
.total-sum {
  width: 240px;
  line-height: 24px;
  text-align: left;
  border-left: solid 1px #dddddd;
  margin-top: 10px;
  padding-left: 15px;
}
/* line 244, ../../sass/page/shopping-cart.scss */
.total-sum div a {
  font-size: 15px;
}
/* line 247, ../../sass/page/shopping-cart.scss */
.total-sum span {
  font-size: 20px;
  font-weight: bold;
  color: #f5222d;
}
/* line 252, ../../sass/page/shopping-cart.scss */
.total-sum > a {
  color: #f5222d !important;
}

/* line 256, ../../sass/page/shopping-cart.scss */
.go-order {
  width: 150px;
  height: 75px;
  font-size: 20px;
  text-align: center;
  line-height: 75px;
}

/* line 263, ../../sass/page/shopping-cart.scss */
.checked .iconfont {
  color: #f5222d;
}

/* line 268, ../../sass/page/shopping-cart.scss */
.transformation i {
  width: 27px;
  height: 28px;
  border: solid 1px #dddddd;
  float: left;
  background: #fff;
  line-height: 27px;
  text-align: center;
  color: #939393;
  font-size: 12px;
}
/* line 279, ../../sass/page/shopping-cart.scss */
.transformation i.noclick {
  color: #ccc;
}
/* line 282, ../../sass/page/shopping-cart.scss */
.transformation .other-input {
  float: left;
  width: 50px;
  border-left: none;
  border-right: none;
}
/* line 288, ../../sass/page/shopping-cart.scss */
.transformation .other-input.nochange {
  color: #ccc;
}
