@charset "utf-8";
@import "../variables/variables";
@import "../reset/reset";
@import "../layout/header";
@import "../layout/footer";

body {
    background: #f5f5f5;
}

.content {
    width: 1200px;
    margin: 0 auto 30px;

    &.list {
        height: 480px;
    }

    .list-nav {
        width: 190px;
        float: left;
        height: 470px;
        padding: 5px 0;
        background: #fff;
        position: relative;

        .cate_menu_item {
            height: 26px;
            line-height: 26px;
            padding-left: 18px;

            a {
                font-size: 14px;
                color: #626262;
                text-decoration: none;

                &:hover {
                    color: $red-5;
                }
            }

            &:hover {
                background: #d9d9d9;
            }
        }

    }

    .list-nav:hover {
        .cate_pop {
            display: block;
        }
    }

    .cate_pop {
        display: none;
        background-color: #fff;
        position: absolute;
        left: 191px;
        top: 0;
        width: 998px;
        min-height: 478px;
        border: 1px solid #f7f7f7;
        background-color: #fff;
        -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
        -moz-box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
        box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
        -webkit-transition: top .25s ease;
        -o-transition: top .25s ease;
        -moz-transition: top .25s ease;
        transition: top .25s ease;
        z-index: 9999;
    }

    .cate_pop_left {
        float: left;
        width: 800px;
    }

    .cate_channel {
        overflow: hidden;
        padding-left: 20px;
        height: 24px;
        margin-top: 18px;

        a {
            *cursor: pointer;
            float: left;
            margin-right: 10px;
            padding: 0 10px;
            height: 24px;
            background-color: #333;
            line-height: 24px;
            color: #fff;
            text-decoration: none;

            &:hover {
                background-color: #5c5251;
                color: #fff;
            }
        }

        i {
            font-size: 10px;
        }
    }

    .cate_detail {
        overflow: hidden;
        *zoom: 1;
        padding: 10px 0 0 20px;

        a {
            color: #666;
            text-decoration: none;
        }

        a:hover {
            color: $red-5;
        }
    }

    .cate_detail_item {
        position: relative;
        padding-left: 80px;

        .iconfont {
            font-size: 10px;
            margin-left: 5px;
        }
    }

    .cate_detail_tit {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 6px;
        width: 70px;
        text-align: right;
        font-weight: 700;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .cate_detail_con {
        overflow: hidden;
        *zoom: 1;
        padding: 5px 0;

    }

    .cate_detail_con_lk {
        float: left;
        margin: 3px 0;
        padding: 0 10px;
        height: 16px;
        border-left: 1px solid #e0e0e0;
        line-height: 16px;
        white-space: nowrap;
    }

    .cate_pop_right {
        float: left;
        width: 198px;
        margin-top: 18px;

        .top {
            margin: auto;
            width: 168px;
            font-size: 0;
            overflow: hidden;
        }

        .top a {
            overflow: hidden;
            display: inline-block;
            width: 83px;
            height: 35px;
            margin: 0 0 1px 1px;
            background-color: #e7e7e7;
            float: left;
        }

        .bottom {
            margin: 10px auto 0;
            width: 168px;
            overflow: hidden;

            img {
                width: 168px;
            }
        }

        .bottom a {
            display: block;
            margin-bottom: 1px;
            height: 134px;
            background-color: #e7e7e7;
            float: left;
        }
    }


    .bannercontent {
        width: 780px;
        float: left;
        height: 100%;

        .banner {
            width: 760px;
            height: 470px;
            margin: 10px 10px 0;

            img {
                height: 470px;
            }
        }
    }

    .list-right {
        width: 200px;
        padding: 15px;
        height: 440px;
        margin-top: 10px;
        float: right;
        background: #fff;

        .userdetail {
            height: 84px;
            padding-top: 20px;
            border-bottom: $form-border;

            img {
                width: 52px;
                height: 52px;
                float: left;
            }

            .details {
                float: left;
                margin-left: 5px;

                &,
                & a {
                    color: #000;
                    line-height: 24px;
                }
            }

        }

        .kuaibao {
            position: relative;
            height: 162px;
            padding-top: 10px;
            border-bottom: $form-border;

            .title {
                height: 25px;
                font-size: 13px;
                line-height: 25px;

                h5 {
                    display: inline-block;
                    margin-left: 15px;
                    color: #1e1e1e;
                    font-weight: bold;
                }

                a {
                    float: right;
                    font-size: 12px;
                    color: #999;
                }
            }

            ul {

                padding-top: 8px;
                margin: 0 15px;
                height: 88px;
            }

            li {
                line-height: 21px;
                max-width: 160px;
                _width: 160px;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #999;

                .newtag {
                    display: inline-block;
                    position: relative;
                    font-size: 12px;
                    height: 16px;
                    width: 35px;
                    line-height: 16px;
                    text-align: center;
                    vertical-align: 0;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    color: #fff;
                    background-color: #e47f7f;
                    margin-right: 6px;
                }
            }


        }

        .others {
            padding-top: 20px;

            li {
                width: 56px;
                height: 56px;
                float: left;
                margin: 5px;
                text-align: center;

                i {
                    font-size: 30px;
                    margin: 0 auto;
                }

                p {
                    text-align: center;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
}

.content.list2 {
    height: 450px;

    .box {
        width: 393px;
        height: 100%;
        float: left;
        background: #fff;

        &.center {
            margin: 0 10px;
        }
    }

    .title {
        text-decoration: none;
        display: block;
        padding: 0 20px;
        height: 60px;
        line-height: 60px;

        h3 {
            float: left;
            font-weight: normal;
            font-size: 22px;
            color: #222;
            line-height: 60px;
        }

        i {
            float: left;
            font-size: 23px;
            color: $redcolr;
            position: relative;
            top: 0px;
            left: 4px;
        }

        .box-subtit {
            float: left;
            font-size: 14px;
            color: #999;
            height: 60px;
            line-height: 60px;
            margin: 0 0 0 10px;
        }
    }

    .box-bottom {
        width: 100%;
        position: relative;

        &.first {
            height: 355px;
        }

        &.second {
            height: 390px;
        }

        .tab-header {
            height: 34px;
            line-height: 34px;
            text-align: center;
            background: #f7f7f7;

            a {
                float: left;
                width: 78px;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                color: #666;
                text-decoration: none;

                &:hover {
                    color: $red-5;
                }
            }
        }

        .tab-body {
            position: relative;
            height: 355px;

            >div {
                border-bottom: 1px solid $gray-3;
            }

            .slider-list {
                height: 107px;
                margin: 0 20px;
            }

            .slider-list .slider-list-img {
                float: left;
                width: 80px;
                height: 80px;
                margin-top: 15px;
            }

            .slider-list-num {
                color: $redcolr;
                float: left;
                width: 30px;
                height: 40px;
                margin: 36px 0 0 10px;
                line-height: 40px;
                font-size: 32px;
                text-align: center;
                font-family: 'impact', sans-serif;
            }

            .slider-list-name {
                display: block;
                margin-left: 125px;
                padding-top: 40px;
                height: 32px;
                line-height: 16px;
                font-size: 12px;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    color: $red-5;
                }
            }

        }

        .slider_point {
            width: 32px;
            height: 16px;
            position: absolute;
            left: 188px;
            bottom: 10px;

            .point {
                width: 16px;
                height: 16px;
                float: left;
                background: url(../../images/index/point.png) no-repeat;
            }

            .current.point {
                width: 16px;
                height: 16px;
                background: url(../../images/index/cpoint.png) no-repeat;
            }

        }

        .slider-list.img1 {
            width: 350px;
            height: 128px;
            background: $red-1;
            margin: 0 auto 20px;
        }

        .slider-list.img2 {
            width: 350px;
            margin: 0 auto;

            .imgbox {
                height: 105px;
            }

            .imgbox span {
                float: left;
                width: 105px;
                height: 105px;
                background: $red-1;
            }

            .imgbox span.center {
                margin: 0 17.5px;
            }

            h3 {
                height: 58px;
                line-height: 58px;
                font-size: 18px;
                text-align: center;
                color: #222;
            }

            .subtit {
                font-size: 14px;
                height: 36px;
                line-height: 18px;
                margin: 0 auto 0;
                text-align: center;
                overflow: hidden;
                color: #666;
            }
        }

        .slider-list.img3 {
            width: 350px;
            height: 101px;
            background: $red-1;
            margin: 0 auto 20px;

            &>div {
                float: left;
            }

            >span {
                float: left;
                margin: 6px 0 0 10px;
                width: 70px;
                height: 70px;
                padding: 10px;
                -moz-border-radius: 50%;
                border-radius: 50%;
                -webkit-transition: opacity ease 0.2s;
                -o-transition: opacity ease 0.2s;
                -moz-transition: opacity ease 0.2s;
                transition: opacity ease 0.2s;
                background: #fff;
                transition: opacity ease 0.2s;
            }

            .mod_price {
                font-size: 14px;
                color: #e33333;
                font-family: 'impact', sans-serif;
                display: block;
                height: 38px;
                line-height: 38px;

                a {
                    margin-right: 3px;
                    font-family: arial, sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: none;
                }

                span {
                    font-size: 34px;
                }
            }

            .coupon_limit {
                color: #b1b3b0;
                font-size: 14px;
                line-height: 24px;
                height: 24px;
                overflow: hidden;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            }

            .coupon_desc {
                cursor: pointer;
                color: #767b77;
                font-size: 14px;
                line-height: 24px;
                height: 24px;
                overflow: hidden;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .coupon_info {
                padding-top: 10px;
                margin: 0 63px 0 12px;
            }

            .coupon_more_inner {
                width: 1px;
                line-height: 15px;
                vertical-align: middle;
                margin-top: 7px;
                cursor: pointer;

                &:hover {
                    color: $red-5;
                }
            }

            .coupon_more {
                float: right;
                height: 100%;
                line-height: 118px;
                margin-right: 34px;
                font-size: 12px;
            }
        }
    }

}

.content.list3 {
    height: 425px;
    background: #fff;

    .box {
        float: left;
        width: 1029px;
        height: 100%;
    }

    .box.right {
        position: relative;
        float: right;
        width: 170px;
        border-left: 1px solid $gray-3;
        height: 100%;
        position: relative;

        &>img {
            position: absolute;
            right: 0;
            top: 0;
            width: 85px;

        }

        p {
            margin-left: 20.5px;
            font-size: 14px;
            color: #999;
            margin-top: 7px;
            width: 130px;
            height: 21px;
            overflow: hidden;
            white-space: nowrap;
        }

        .qua_top_font {
            font-size: 16px;
            color: #333;
            margin-top: 20px;
        }

        .qua_top_slideCon {
            height: 317px;
            width: 90px;
            margin: 0 auto;
        }

        .qua_top_imgCon {
            width: 90px;
            height: 90px;
            position: relative;
            background-color: #fff;
            -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
            margin-bottom: 11px;
            cursor: pointer;

            img {
                width: 90px;
            }
        }

        .qua_top_imgCon .qua_imgCon_font {
            position: absolute;
            background: url(../../images/index/top1.png) no-repeat;
            font-size: 12px;
            color: #fff;
            width: 40px;
            height: 16px;
            text-align: center;
            font-family: Tahoma;
            font-weight: bold;
        }

        .qua_top_slideCon_ul {
            margin-top: 13px;
        }

        .qua_left,
        .qua_right {
            background-color: #ebebeb !important;
            color: #fff;
            border-radius: 5px;
            position: absolute;
            width: 16px;
            height: 16px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            background: #ebebeb;
            color: #fff;
            bottom: 20px;
            text-align: center;
            line-height: 16px;
            background: #d5d5d5;
            cursor: pointer;
        }

        .qua_left {
            left: 60px;
        }

        .qua_right {
            left: 94px;
        }


    }

    .qua_tit {
        height: 67px;
        display: block;
        text-decoration: none;
        position: relative;
    }

    .qua_tit_spanFirst {
        height: 35px;
        margin-left: 20px;
        line-height: 35px;
        font-size: 26px;
        color: #92a700;
        display: inline-block;
        cursor: pointer;
        max-width: 190px;
        overflow: hidden;
    }

    .qua_tit_spanLast {
        margin-left: 8px;
        font-size: 16px;
        color: #b6c166;
        color: rgba(133, 152, 0, 0.7);
        margin-top: 27px;
        height: 21px;
        cursor: pointer;
        display: inline-block;
        max-width: 208px;
        overflow: hidden;
        position: relative;
        top: -3px;
    }

    .box.left {


        .qua_nav {
            height: 30px;
            position: absolute;
            left: 300px;
            top: 25px;
            font-size: 13px;

            li {
                padding: 0 12px;
                float: left;
                color: #999;
            }

        }

        .que_more {
            position: absolute;
            right: 10px;
            top: 25px;
            color: #999;
        }


        .qua_show_con {
            position: relative;
            padding-left: 20px;

            >img {
                width: 189px;
                height: 334px;
                float: left;
            }
        }

        .qua_left_font_con {

            font-size: 14px;
            color: #fff;
            position: absolute;
            width: 176px;
            height: 90px;
            margin-left: 14px;
            top: 16px;
        }

        .qua_left_f_con_font {
            background: rgba(255, 255, 255, 0.1) !important;
            border: 1px solid rgba(255, 255, 255, 0.61) !important;
            width: 74px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            float: left;
            margin-right: 9px;
            margin-bottom: 9px;
            cursor: pointer;
            color: #fff;
            overflow: hidden;
        }

        .qua_show_con_right {
            width: 800px;
            height: 334px;
            float: left;
        }

        .import_snacks div {
            margin-left: 30px;
            font-size: 14px;
        }

        .import_snacks {
            width: 400px;
            height: 167px;
            position: relative;
            float: left;
            background-color: #faf7f6;
            text-decoration: none;
        }

        .import_tit {
            margin-top: 40px;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            width: 150px;
            margin-left: 30px;
            font-size: 14px;
            color: #3c8020;
        }

        .voucher_tit {
            margin-top: 5px;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            width: 150px;
            color: #69b14b;
            margin-left: 30px;
            font-size: 14px;
        }

        .buy_btn {

            width: 78px;
            height: 27px;
            text-align: center;
            line-height: 27px;
            margin-top: 15px;
            cursor: pointer;
            overflow: hidden;
            border: 1px solid rgba(114, 191, 37, 0.50);
            color: #72BF25;
        }

        .bursting {
            float: left;
            position: relative;
            width: 199px;
            height: 167px;
            cursor: pointer;
            border-right: 1px solid #f6f6f6;
        }

        .bursting p {
            margin-left: 15px;
            font-size: 14px;
            color: #666;
            margin-top: -1px;
            overflow: hidden;
            height: 14px;
            width: 102px;
            line-height: 1;
            margin-bottom: 7px;
            color: #666 !important;
            margin-top: 15px !important;
        }

        .eat_money {
            font-weight: Bold;
            font-size: 14px;
            color: #2a2a2a;
            margin-left: 13px !important;
            font-family: Tahoma, "Microsoft YaHei";
        }

        .bursting img {
            position: absolute;
            width: 90px;
            height: 90px;
            bottom: 10px;
            right: 10px;
            margin-top: 15px;
            margin-left: 15px;
        }

        .import_snacks img {
            position: absolute;
            right: 30px;
            bottom: 27px;
            cursor: pointer;
            width: 110px;
            height: 110px;
        }

    }

    .title2 {
        color: #7d75c8 !important;
        height: 60px;
        line-height: 60px;
    }

    .loves {
        width: 1160px;
        padding: 0 20px;
        height: 100%;

        li {
            float: left;
            width: 244px;
            margin-right: 60px;

            img {
                width: 244px;
            }

        }

        li:last-child {
            margin-right: 0px;
        }

        .imgdetail {
            text-align: center;
            padding: 0 40px;
            margin-top: 5px;

            p {
                color: #000;
                font-weight: bold;
            }

            .price {
                font-weight: normal;
                color: $red-6;
                border-bottoM: $form-border;
                padding-bottom: 5px;
                margin-bottom: 5px;

                span {
                    color: $gray-7;
                    text-decoration: line-through;
                }
            }

            .detail {
                color: $gray-7;
            }
        }

        .xianshi {
            font-size: 12px;
            background: $red-6;
            padding: 1px 3px;
            display: block;
            width: 50px;
            color: #fff;
            text-align: center;
            margin: 0 auto;
        }

    }
}

// 左侧悬浮
.mui-lift {
    position: fixed;
    bottom: 50px;
    left: 50%;
    z-index: 9999;
    width: 35px;
    text-align: center;
    margin-left: -650px;
}

.mui-lift .mui-lift-nav {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
    background-color: #666;
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
    font-size: 12px;
}

.mui-lift .mui-lift-nav.nav-header,
.mui-lift .mui-lift-nav.nav-header:hover {
    background-color: $red-6;
}

.mui-lift .mui-lift-nav .mui-lift-nav-name {
    line-height: 12px;
    width: 24px;
    height: 28px;
    margin: 6px auto;
}

.mui-lift .mui-lift-nav.nav-back {
    line-height: 13px;
    background-color: #666;
    background-color: rgba(0, 0, 0, .3);
}

.mui-lift .mui-lift-nav:hover {
    background-color: $red-5;
}

// 品牌
.content.list4 {
    overflow: hidden;
    background: #f5f5f5;
    position: relative;

    li {
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
        width: 119px;
        height: 104px;
        position: relative;
    }

    img {
        width: 119px;
    }

    .brand-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: #333;
        background-color: rgba(0, 0, 0, .8);
        transition: all .3s ease-out;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    li:hover .brand-mask {
        opacity: 1;
    }

    .brand-mask .coupon {
        color: #fff;
        text-align: center;
        line-height: 90px;
        height: 60px;
    }

    .brand-mask .coupon span {
        display: block;
        padding: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .brand-mask .enter {
        text-align: center;
        height: 32px;
    }

    .brand-mask .enter span {
        display: inline-block;
        color: #fff;
        width: 63px;
        height: 18px;
        font-size: 12px;
        line-height: 15px;
        background-color: #FF0036;
        border-radius: 9px;
    }

    .refresh-btn {
        width: 119px;
        height: 104px;
        display: block;
        color: #999;
        background-color: #fff;
        position: absolute;
        bottom: 1px;
        right: 1px;
        overflow: hidden;
        transition: all .3s ease-out;
        z-index: 500;
        float: left;
        text-decoration: none;
        text-align: center;

        .iconfont {
            position: absolute;
            top: 24px;
            left: 40px;
            font-size:34px;

        }
    }

    .refresh-btn:hover {
        color: #fff;
        background-color: $red-6;
    }

    .refresh-btn .btn-text {
        display: block;
        font-size: 14px;
        line-height: 136px;
        text-align: center;
    }

    .refresh-btn .rotate-icon {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -30px;
        font-size: 30px;
        text-align: center;
        line-height: 38px;
        border-radius: 20px;
    }
}