@charset "utf-8";
@import "../variables/variables";
@import "../reset/reset";
@import "../layout/header";
@import "../layout/footer";

.container {
    width: 1200px;
    margin: 0 auto;
}

// 进度条
.progress-bar {
    position: relative;
    margin: 80px auto 0;
    width: 400px;
    display: flex;
    height: 52px;
    overflow: hidden;

    .pro-step {
        position: absolute;
        text-align: center;
    }

    .pro-line,
    .pro-step .step-index {
        background: url(../../images/register/reg-icon.png) no-repeat;
    }

    .pro-line {
        position: absolute;
        top: 7px;
        width: 74px;
        height: 10px;
        background-position: 0 -40px;
    }

    .pro-step {
        .step-index {
            margin: 0 auto;
            display: block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            background-position: -45px -200px;
            font-size: 12px;
            font-weight: 700;
            color: #ccc;
        }

        .step-desc {
            margin-top: 10px;
            font-size: 12px;
            color: #999;
        }
    }

    .cur-step {
        .step-index {
            background-position: 1px -200px;
            color: #fff;
        }

        .step-desc {
            color: #3b4;
        }
    }

    .done-step {
        .step-index {
            background-position: 0 0px;
            color: transparent;
        }

        .step-desc {
            color: #3b4;
        }
    }

}

.pro-step2 {
    left: 105px;
}

.pro-step3 {
    left: 215px;
}

.pro-step4 {
    right: 10px;
}

.pro-line1 {
    left: 50px;
}

.pro-line2 {
    left: 160px;
}

.pro-line3 {
    left: 270px;
}


/* main */
.main {
    margin: 50px auto 186px;
    width: 400px;
}

.reg-other {
    margin-top: 28px;

    a {
        color: #333;
        cursor: pointer;
        text-decoration: none;
        font-size:14px;
    }

    a:hover {
        color: $red-5;
    }

    .iconfont {
        font-size:26px;
        color:#adadad;
        float:left;
        margin-right:8px;
    }

    .reg-other-inter {
        float: right;
    }

    .reg-other-person {
        float: left;
    }

}

.input-tip,
.agree-tip {
    color: #c5c5c5;
}

.input-tip {
    color: #c5c5c5;
    height: 27px;
    font-size: 12px;
    padding-top: 5px;
    clear: both;

    span i {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: text-top;
        margin-right: 8px;
    }
}

.form-item {
    position: relative;
    border: $form-border;
    width: 398px;
    height: 52px;
    z-index: 0;
    &:hover {
        border-color:#999!important;
        .select-country,.item-input-wrap{
            border-color:#999!important;
        }
    }
    label {
        float: left;
        width: 87px;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
    }
    .item-input-wrap {
        float: left;
        width: 288px;
        height: 50px;
        border: solid 1px #ddd;
    }
    .field {
        border: 0 none;
        font-size: 14px;
        width: 200px;
        height: 19px;
        padding-bottom: 11px;
        padding-left: 20px;
        padding-top: 16px;
    }
}
.item-phone-wrap {
    height: 86px;
    position: relative;
    z-index: 2;
}
.item-phonecode-wrap {
    display: none;
    height: 86px;
}

.form-item-phone {
    border: none;
    .select-country {
        border: $form-border;
        border-right: none;
        padding: 0 0 0 20px;
        color: #666;
    }
}

.form-agreen .agree-tip i, .form-agreen .sim-checkbox, .reg-other .reg-ohter-icon {
    background: url(../../images/form/reg-icon.png) no-repeat;
}

txt{
    position: absolute;
    z-index: 2;
    line-height: 46px;
    margin-left: 20px;
    font-size: 14px;
    font-family: Arial;
    color: rgb(204, 204, 204);
    display: inline;
}

.form-item-getcode {
    line-height: 52px;
    text-align: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    z-index: 2;
    &:hover {
        border-color: #666;
        cursor: pointer;
    }
}
.form-agreen {
    position: relative;
    margin-bottom: 20px;
    color: #333;
    font-size: 12px;
    word-wrap: break-word;
    white-space: nowrap;
    margin-top:30px;
    .sim-checkbox {
        background-position: -107px -156px;
        float: left;
        margin-right: 10px;
        width: 18px;
        height: 18px;
        border: $form-border;
    }
    .sim-checkbox.not-checked {
        background: 0 0;
    }
    input{
        position: absolute;
        left: 0;
        display: none;
        outline:none;
        outline:none;
    }
    
}
.form-item .field::-webkit-input-placeholder{
    color: #ccc;
    font-size: 13px;
 }


 
//  from-icon
 .i-company, .i-def, .i-error1, .i-global, .i-info, .i-pwd-medium, .i-pwd-strong, .i-pwd-weak, .i-suc, .voiceVerifyDialog .ico {
    background: url(../../images/form/icon.png) no-repeat;
}
.i-error {
    color: #c5c5c5;
}
.i-cancel {
    color: #c8c8c8;
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
.i-status {
    position: absolute;
    top: 18px;
    right: 20px;
    color: green;
    font-size: 20px;
}


//btn
.btn-register {
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    background: #e2231a;
    border: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
    cursor: pointer;
}