<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账号信息</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/page/account.css">
    <script src="../font/iconfont.js"></script>
</head>

<body>
    <div class="header-top">
        <div class="page-auto">
            <ul class="header-top-adress">
                <li><i class="iconfont  icon-shouye2"></i>一号店首页</li>
                <li><i class="iconfont  icon-location"></i>送货地址：北京</li>
            </ul>
            <ul class="header-top-nav">
                <li>Hi,You Are My star <i class="iconfont  icon-star"></i><span class="duan">白银</span></li>
                <li><i class="iconfont  icon-wenben"></i>我的订单</li>
                <li>客户服务<i class="iconfont  icon-xiangxia1"></i></li>
                <li><i class="iconfont  icon-shouji"></i>APP下载</li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo-white.png" /> </a>
            </div>
            <ul class="header-nav">
                <li>首页</li>
                <li class="selected">
                    个人设置
                    <i class="iconfont  icon-xiangxia"></i>
                    <ul class="header-nav-detailed">
                        <li>个人资料</li>
                        <li>账户安全设置</li>
                        <li>地址管理</li>
                    </ul>
                </li>
                <li>金融</li>
                <li>消息 <span class="bubble-news">15</span></li>
            </ul>
            <div class="header-search">
                <i class="iconfont  icon-xiazai17 header-search-icon"></i>
                <input type="text" placeholder="搜全站">
                <div class="header-search-btn">搜索</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-auto">
            <div class="left-nav navigation">
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li class="selected"><span>个人中心</span></li>
                        <li><span>消息通知</span><i class="reddot"></i></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-content">
                <ul class="tab-list clearfix">
                    <li class="tab-list-detail current">基本资料</li>
                    <li class="line">|</li>
                    <li class="tab-list-detail">感兴趣的分类</li>
                </ul>
                <div class="tab-list-content">
                    <form>
                        <div class="user-content clearfix">
                            <div class="user-list">
                                <label>用户头像</label>
                                <div class="user-detail">
                                    <img src="../images/account/img1.png" />
                                </div>
                            </div>
                            <div class="user-list">
                                <label>用户ID</label>
                                <div class="user-detail">
                                    87492255841
                                </div>
                            </div>
                            <div class="user-list">
                                <label>帐&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                                <div class="user-detail">
                                    allenjing@163.com
                                </div>
                            </div>
                            <div class="user-list">
                                <label>昵&nbsp;&nbsp;&nbsp;&nbsp;称</label>
                                <div class="user-detail">
                                    <input type="text" value="allenjing" />
                                </div>
                            </div>
                            <div class="user-list">
                                <label>性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                                <div class="user-detail">
                                    <label><span><input type="radio" name="sex"></span>男</label>
                                    <label><input type="radio" name="sex">女</label>
                                </div>
                            </div>
                            <div class="user-list">
                                <label>手机号码</label>
                                <div class="user-detail">
                                    <a href="#" class="link-a">绑定手机号</a>
                                </div>
                            </div>
                            <div class="user-list">
                                <label>出生年月</label>
                                <div class="user-detail">
                                    <div class="selectdiv clearfix fll">
                                        <select name="year">
                                            <option>--</option>
                                            <option>1999</option>
                                            <option>1999</option>
                                            <option>1999</option>
                                            <option>1999</option>
                                        </select>
                                        <i class="iconfont icon-xiaosanjiaodown"></i>年
                                    </div>
                                    
                                    <div class="selectdiv clearfix fll">
                                        <select name="mouth">
                                            <option>--</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                        <i class="iconfont icon-xiaosanjiaodown"></i>
                                        月
                                    </div>
                                    <div class="selectdiv clearfix fll">
                                        <select name="day">
                                            <option>--</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                        <i class="iconfont icon-xiaosanjiaodown"></i>日
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btnbox">
                            <button class="btn btn-normal">保存</button>
                        </div>
                    </form>
                    <div class="head-portrait">
                        <p>多选几个，小选会推荐地更精准哦！</p>
                        <form>
                            <ul class="check-list clearfix">
                                <li>
                                    <img src="../images/account/img2.jpg" />
                                    <div>
                                        <span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        床品被枕
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img3.jpg" />
                                    <div>
                                        <span class="normal-check checked">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        餐厨用品
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img2.jpg" />
                                    <div>
                                        <span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        床品被枕
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img3.jpg" />
                                    <div>
                                        <span class="normal-check checked">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        餐厨用品
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img2.jpg" />
                                    <div>
                                        <span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        床品被枕
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img3.jpg" />
                                    <div>
                                        <span class="normal-check checked">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        餐厨用品
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img2.jpg" />
                                    <div>
                                        <span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        床品被枕
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img3.jpg" />
                                    <div>
                                        <span class="normal-check checked">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        餐厨用品
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img2.jpg" />
                                    <div>
                                        <span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        床品被枕
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img3.jpg" />
                                    <div>
                                        <span class="normal-check checked">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        餐厨用品
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img2.jpg" />
                                    <div>
                                        <span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        床品被枕
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img3.jpg" />
                                    <div>
                                        <span class="normal-check checked">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        餐厨用品
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img2.jpg" />
                                    <div>
                                        <span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        床品被枕
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/account/img3.jpg" />
                                    <div>
                                        <span class="normal-check checked">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        餐厨用品
                                    </div>
                                </li>

                                <li>
                                    <img src="../images/account/img2.jpg" />
                                    <div>
                                        <span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>
                                        床品被枕
                                    </div>
                                </li>
                            </ul>
                            <div class="btnbox">
                                <button class="btn btn-normal">提交</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>