<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/page/adress.css">
    <script src="../font/iconfont.js"></script>
</head>

<body>
    <div class="header-top">
        <div class="page-auto">
            <ul class="header-top-adress">
                <li><i class="iconfont  icon-shouye2"></i>一号店首页</li>
                <li><i class="iconfont  icon-location"></i>送货地址：北京</li>
            </ul>
            <ul class="header-top-nav">
                <li>Hi,You Are My star <i class="iconfont  icon-star"></i><span class="duan">白银</span></li>
                <li><i class="iconfont  icon-wenben"></i>我的订单</li>
                <li>客户服务<i class="iconfont  icon-xiangxia1"></i></li>
                <li><i class="iconfont  icon-shouji"></i>APP下载</li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
            </div>
            <ul class="header-nav">
                <li>首页</li>
                <li class="selected">
                    个人设置
                    <i class="iconfont  icon-xiangxia"></i>
               <ul class="header-nav-detailed"> 
                    <li>个人资料</li>
                    <li>账户安全设置</li>
                    <li>地址管理</li>
               </ul>
                </li>
                <li>金融</li>
                <li>消息 <span class="bubble-news">15</span></li>
            </ul>
            <div class="header-search">
                <i class="iconfont  icon-xiazai17 header-search-icon"></i>
                <input type="text" placeholder="搜全站">
                <div class="header-search-btn">搜索</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-auto">
            <div class="left-nav navigation">
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li class="selected"><span>个人中心</span></li>
                        <li><span>消息通知</span><i class="reddot"></i></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-content">
                <p class="receiving-address-info">
                    <span>已保存收货地址（地址最多20条，还能保存18条）</span>
                    <span class="flr link-a">+新建地址</span>
                </p>
                <div class="bare-grid receiving-address">
                    <ul class="bare-grid-title">
                        <li class="td-a">收货人</li>
                        <li class="td-b">地址</li>
                        <li class="td-c">联系方式</li>
                        <li class="td-d">操作</li>
                        <li class="td-e"></li>
                    </ul>
                    <ul>
                        <li class="td-a">小魏</li>
                        <li class="td-b">北京市朝阳区三元桥中电发展大厦6层</li>
                        <li class="td-c">18807086654</li>
                        <li class="td-d">
                            <span class="link-a">编辑</span>
                            <span class="link-a">删除</span>
                        </li>
                        <li class="td-e">
                            <span class="default-address">默认地址</span>
                        </li>
                    </ul>
                    <ul>
                        <li class="td-a">小魏</li>
                        <li class="td-b">北京市朝阳区三元桥中电发展大厦6层</li>
                        <li class="td-c">18807086654</li>
                        <li class="td-d">
                            <span class="link-a">编辑</span>
                            <span class="link-a">删除</span>
                        </li>
                        <li class="td-e">
                            <span class="link-a">设为默认地址</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>