<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>售后详情</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/page/after-sale.css">
    <script src="../font/iconfont.js"></script>
</head>

<body>
    <div class="header-top">
        <div class="page-auto">
            <ul class="header-top-adress">
                <li><i class="iconfont  icon-shouye2"></i>一号店首页</li>
                <li><i class="iconfont  icon-location"></i>送货地址：北京</li>
            </ul>
            <ul class="header-top-nav">
                <li>Hi,You Are My star <i class="iconfont  icon-star"></i><span class="duan">白银</span></li>
                <li><i class="iconfont  icon-wenben"></i>我的订单</li>
                <li>客户服务<i class="iconfont  icon-xiangxia1"></i></li>
                <li><i class="iconfont  icon-shouji"></i>APP下载</li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo-white.png" /> </a>
            </div>
            <ul class="header-nav">
                <li>首页</li>
                <li class="selected">
                    个人设置
                    <i class="iconfont  icon-xiangxia"></i>
                    <ul class="header-nav-detailed">
                        <li>个人资料</li>
                        <li>账户安全设置</li>
                        <li>地址管理</li>
                    </ul>
                </li>
                <li>金融</li>
                <li>消息 <span class="bubble-news">15</span></li>
            </ul>
            <div class="header-search">
                <i class="iconfont  icon-xiazai17 header-search-icon"></i>
                <input type="text" placeholder="搜全站">
                <div class="header-search-btn">搜索</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-auto">
            <div class="left-nav navigation">
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li class="selected"><span>个人中心</span></li>
                        <li><span>消息通知</span><i class="reddot"></i></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-content">
                <p class="tab-title">申请售后</p>
                <div class="tab-list-content">
                    <table>
                        <thead>
                            <th>商品名称</th>
                            <th>包装清单</th>
                            <th>赠送清单</th>
                            <th>购买数量</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="detail clearfix">
                                        <img src="../images/after-sale/img1.png" />
                                        <p>索尼头戴式无限蓝牙降噪耳机</p>
                                    </div>
                                    <div>[赠品]耳机包</div>
                                </td>
                                <td>无限降噪立体声耳机（1）连接线约50cm（2）连接线约50cm（3）连接线约50cm（4）连接线约50cm</td>
                                <td>-</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><span class="redspan">*温馨提示：</span>本次售后服务将由第三方卖家<span class="redspan">武汉金锁电子有限公司</span>为您提供</p>
                </div>

                <div class="after-sale clearfix">
                    <div class="after-detail clearfix">
                        <div class="clearfix">
                            <label><span class="redspan">*</span>提交数量</label>
                            <div class="iconforbr">
                                <span class="current">换货<i class="iconfont icon-youxiajiaogouxuan"></i></span>
                                <span>维修</span>
                                <span>服务预约</span>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label><span class="redspan">*</span>提交数量</label>
                            <div class="form-right">
                                <div class="transformation clearfix">
                                    <i class="iconfont icon-jianhao noclick"></i>
                                    <input type="text" class="other-input" value="1" />
                                    <i class="iconfont icon-jiahao"></i>
                                </div>
                                <p class="gray-tips">您最多可提交数量为1个</p>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label><span class="redspan">*</span>提交原因</label>
                            <div class="form-right">
                                <div class="normal-select clearfix">
                                    <select>
                                        <option>质量问题</option>
                                        <option>数量问题1</option>
                                        <option>数量问题2</option>
                                        <option>数量问题3</option>
                                        <option>数量问题4</option>
                                    </select>
                                    <i class="iconfont icon-xiaosanjiaodown"></i>
                                </div>
                                <p class="gray-tips">建议您上传问题商品的图片（换货请注明换货商品型号或颜色尺寸）</p>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label><span class="redspan">*</span>问题描述</label>
                            <div class="form-right">
                                <textarea class="form-right"></textarea>
                                <p class="gray-tips flr">10-500字</p>
                            </div>
                        </div>
                    </div>
                    <div class="after-detail clearfix confirm-information">
                        <p class="title">确认信息</p>
                        <div>
                            <label>申请凭据</label>
                            <div class="form-right">
                                <span class="normal-check checked">
                                    <input type="checkbox">
                                    <i class="iconfont icon-Group-"></i>
                                    <div class="sim-checkbox"></div>
                                </span>有发票
                                <span class="normal-check">
                                    <input type="checkbox">
                                    <i class="iconfont icon-Group-"></i>
                                    <div class="sim-checkbox"></div>
                                </span>有检测报告
                            </div>
                        </div>
                        <div>
                            <label><span class="redspan">*</span>返回方式</label>
                            <div class="iconforbr">
                                <span class="current">京东快递上门取件<i class="iconfont icon-question-circle"></i><i
                                        class="iconfont icon-youxiajiaogouxuan"></i></span>
                                <span>快递至第三方卖家<i class="iconfont icon-question-circle"></i></span>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label><span class="redspan">*</span>取货地址</label>
                            <div class="form-right">
                                <div class="clearfix selectbox">
                                    <div class="normal-select clearfix fll">
                                        <select>
                                            <option>请选择</option>
                                            <option>河北省</option>
                                            <option>山东省</option>
                                        </select>
                                        <i class="iconfont icon-xiaosanjiaodown"></i>
                                    </div>
                                    <div class="normal-select clearfix fll">
                                        <select>
                                            <option>请选择</option>
                                            <option>河北省</option>
                                            <option>山东省</option>
                                        </select>
                                        <i class="iconfont icon-xiaosanjiaodown"></i>
                                    </div>
                                    <div class="normal-select clearfix fll">
                                        <select>
                                            <option>请选择</option>
                                            <option>河北省</option>
                                            <option>山东省</option>
                                        </select>
                                        <i class="iconfont icon-xiaosanjiaodown"></i>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" class="normal-input" />
                                    <div><span class="normal-check">
                                            <input type="checkbox">
                                            <i class="iconfont icon-Group-"></i>
                                            <div class="sim-checkbox"></div>
                                        </span>与取货地址相同</div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <label><span class="redspan">*</span>客户姓名</label>
                            <div>
                                <input type="text" class="normal-input" />
                            </div>
                        </div>
                        <div>
                            <label><span class="redspan">*</span>手机号</label>
                            <div>
                                <input type="text" class="normal-input" disabled />
                                <span class="normal-check">
                                    <input type="checkbox">
                                    <i class="iconfont icon-Group-"></i>
                                    <div class="sim-checkbox"></div>
                                </span>与订单中手机号相同

                            </div>
                        </div>
                    </div>
                    <div class="sale-bottom">
                        <div class="fll">
                            <span class="normal-check">
                                <input type="checkbox">
                                <i class="iconfont icon-Group-"></i>
                                <div class="sim-checkbox"></div>
                            </span>我已阅读并同意<a href="#">上门取件服务协议</a>
                        </div>
                        <button class="btn-square-red flr">确认提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>