<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>入驻流程</title>
    <script src="../font/iconfont.js"></script>
    <link type="text/css" rel="stylesheet" href="../font/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="../css/page/entry-process.css">
    <link />
</head>

<body>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
            </div>
            <ul class="header-nav">
                <li><a href="#">首页</a></li>
                <li class="selected"><a href="#">入驻流程</a></li>
                <li><a href="#">资质资费</a></li>
                <li><a href="#">招商联系人</a></li>
                <li><a href="#">招商会</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">优创商家</a></li>
                <li><a href="#">拼购商家</a></li>
            </ul>
        </div>
    </div>
    <div class="content page-auto">
        <div class="process">
            <div class="process-icon"></div>
            <div class="process-title">阶段一：入驻前准备</div>
            <div class="process-content">
                <ul>
                    <li>
                        <span class="num">01</span>
                        <div class="content-title">
                            <i class="iconfont"></i>
                            <a href="#">了解招商信息</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">02</span>
                        <div class="content-title">
                            <i class="iconfont"></i>
                            <a href="#">了解招商信息</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">03</span>
                        <div class="content-title">
                            <i class="iconfont"></i>
                            <a href="#">了解招商信息</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">04</span>
                        <div class="content-title">
                            <i class="iconfont"></i>
                            <a href="#">了解招商信息</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>