<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>入驻流程</title>
    <script src="../font/iconfont.js"></script>
    <link type="text/css" rel="stylesheet" href="../font/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="../css/page/entry-process.css">
    <link />
</head>

<body>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
            </div>
            <ul class="header-nav">
                <li><a href="#">首页</a></li>
                <li class="selected"><a href="#">入驻流程</a></li>
                <li><a href="#">资质资费</a></li>
                <li><a href="#">招商联系人</a></li>
                <li><a href="#">招商会</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">优创商家</a></li>
                <li><a href="#">拼购商家</a></li>
            </ul>
        </div>
    </div>
    <div class="content page-auto">
        <div class="process clearfix">
            <div class="process-header">
                <div class="process-icon fll clearfix">
                    <i class="iconfont icon-yonghu"></i>
                    <span class="trianglebtn"></span>
                </div>
                <div class="process-title fll">阶段一：入驻前准备</div>
            </div>
            <div class="process-content clearfix">
                <ul>
                    <li>
                        <span class="num">01</span>
                        <div class="content-title">
                            <i class="iconfont icon-youjian"></i>
                            <a href="#">了解招商信息</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">02</span>
                        <div class="content-title">
                            <i class="iconfont icon-wendang"></i>
                            <a href="#">准备资质材料</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商<a href="#">连接</a></p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">03</span>
                        <div class="content-title">
                            <i class="iconfont icon-qianbao"></i>
                            <a href="#">开通京东钱包</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="process clearfix">
            <div class="process-header">
                <div class="process-icon fll clearfix">
                    <i class="iconfont icon-wenjian-wenben"></i>
                    <span class="trianglebtn"></span>
                </div>
                <div class="process-title fll">阶段二：入驻申请</div>
            </div>
            <div class="process-content clearfix">
                <ul>
                    <li>
                        <span class="num">01</span>
                        <div class="content-title">
                            <i class="iconfont icon-combinedshapecopy2"></i>
                            <a href="#">注册账号</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">02</span>
                        <div class="content-title">
                            <i class="iconfont icon-gongsi"></i>
                            <a href="#">填写公司信息</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商<a href="#">连接</a></p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">03</span>
                        <div class="content-title">
                            <i class="iconfont icon-dianpu"></i>
                            <a href="#">填写店铺信息</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">04</span>
                        <div class="content-title">
                            <i class="iconfont icon-gongzhang"></i>
                            <a href="#">签署合同提交入驻</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                </ul>
            </div>
        </div> 
        <div class="process clearfix">
            <div class="process-header">
                <div class="process-icon fll clearfix">
                    <i class="iconfont icon-rili"></i>
                    <span class="trianglebtn"></span>
                </div>
                <div class="process-title fll">阶段三：审核</div>
            </div>
            <div class="process-content clearfix">
                <ul>
                    <li>
                        <span class="num">01</span>
                        <div class="content-title">
                            <i class="iconfont icon-weibiaoti525"></i>
                            <a href="#">资质初审</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">02</span>
                        <div class="content-title">
                            <i class="iconfont icon-gongzhang"></i>
                            <a href="#">招商复审</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商<a href="#">连接</a></p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">03</span>
                        <div class="content-title">
                            <i class="iconfont icon-jindu"></i>
                            <a href="#">审核进度查询</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                </ul>
            </div>
        </div> 
        <div class="process clearfix">
            <div class="process-header">
                <div class="process-icon fll clearfix">
                    <i class="iconfont icon-qianbao1"></i>
                    <span class="trianglebtn"></span>
                </div>
                <div class="process-title fll">阶段四：开店任务</div>
            </div>
            <div class="process-content clearfix">
                <ul>
                    <li>
                        <span class="num">01</span>
                        <div class="content-title">
                            <i class="iconfont icon-weixiuguanli"></i>
                            <a href="#">联系人和地址信息维护</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">02</span>
                        <div class="content-title">
                            <i class="iconfont icon-dunpai"></i>
                            <a href="#">账号安全验证</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商<a href="#">连接</a></p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                    <li>
                        <span class="num">03</span>
                        <div class="content-title">
                            <i class="iconfont icon-open"></i>
                            <a href="#">缴费开店</a>
                        </div>
                        <p>1）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>2）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                        <p>3）品牌：京东枚举的重点招募品牌，您也可以推荐优质品牌给京东，部分类目不限定品牌招商</p>
                    </li>
                </ul>
            </div>
        </div> 
    </div>

</body>

</html>