<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="https://at.alicdn.com/t/font_1203883_3kuqo3dfvkf.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/page/index.css">
</head>

<body>
    <div class="header detail">
        <div class="logoheader">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="header_nav">
            <div class="header_nav_left">
                <div class="header_nav_left_title">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-unorderedlist"></use>
                    </svg>
                    <span>全部类目</span>
                </div>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="#" title="抢金币" target="_blank">抢金币</a>
                </li>
                <li>
                    <a href="#" title="金币签到" target="_blank">金币签到</a>
                </li>
                <li>
                    <a href="#" title="充值" target="_blank">充值</a>
                </li>
                <li>
                    <a href="#" title="超级单品" target="_blank">超级单品</a>
                </li>
                <li>
                    <a href="#" title="超级品牌" target="_blank">超级品牌</a>
                </li>
                <li>
                    <a href="#" title="超级品类" target="_blank">超级品类</a>
                </li>
                <li>
                    <a href="#" title="领券中心" target="_blank"
                        clstag="pageclick|keycount|shouye_20181018|NaviTab7">领券中心</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content list">
        <div class="list-nav">
            <ul class="cate_menu">
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
                <li class="cate_menu_item">
                    <a target="_blank" class="cate_menu_lk" href="#">家用电器</a>
                </li>
            </ul>
        </div>
        <div class="bannercontent">
            <div class="banner"><img src="../images//index/banner.png" /></div>
        </div>
        <div class="list-right">
            <div class="userdetail">
                <img src="../images/index/userheader.png" />
                <div class="details">
                    <p>Hi,欢迎来到懂微商城!</p>
                    <span>
                        <a href="#">登陆</a>
                        <a href="#">注册</a>
                    </span>

                </div>
            </div>
            <div class="kuaibao">
                <div class="title">
                    <h5>京东快报</h5><a>更多>></a>
                </div>
                <ul>
                    <li><span class="newtag">hot</span>外媒外媒外媒外媒外媒外媒</li>
                    <li><span class="newtag">hot</span>外媒外媒外媒外媒外媒外媒</li>
                    <li><span class="newtag">hot</span>外媒外媒外媒外媒外媒外媒</li>
                    <li><span class="newtag">hot</span>外媒外媒外媒外媒外媒外媒</li>
                    <li><span class="newtag">hot</span>外媒外媒外媒外媒外媒外媒</li>
                </ul>
            </div>
            <div class="others">
                <ul>
                    <li>
                        <span class="othersicon"></span>
                        <p>充话费</p>
                    </li>
                    <li>
                        <span class="othersicon"></span>
                        <p>充话费</p>
                    </li>
                    <li>
                        <span class="othersicon"></span>
                        <p>充话费</p>
                    </li>
                    <li>
                        <span class="othersicon"></span>
                        <p>充话费</p>
                    </li>
                    <li>
                        <span class="othersicon"></span>
                        <p>充话费</p>
                    </li>
                    <li>
                        <span class="othersicon"></span>
                        <p>充话费</p>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <div class="content list2">
        <div class="box left">
            <a class="title" href="#">
                <h3 class="box-tit">排行榜</h3>
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-unorderedlist"></use>
                </svg>
                <span class="box-subtit">专属你的购物指南</span>
            </a>
            <div class="box-bottom">
                <div class="tab-header">
                    <a href="#">手机</a>
                    <a href="#">手机</a>
                    <a href="#">手机</a>
                    <a href="#">手机</a>
                    <a href="#">手机</a>
                </div>
                <div class="tab-body">
                    <div>
                            <div class="slider-list">
                                    <div class="slider-list-img"><img src="../images/index/1.jpg.webp" /></div>
                                    <span class="slider-list-num">1</span>
                                    <span class="slider-list-name">美的（Midea）12升智能精控恒温 断电记忆侧焰稳燃主动防漏气 双重防冻燃气热水器天然气JSQ22-HWA</span>
                                </div>
                                <div class="slider-list">
                                    <div class="slider-list-img"><img src="../images/index/1.jpg.webp" /></div>
                                    <span class="slider-list-num">2</span>
                                    <span class="slider-list-name">美的（Midea）12升智能精控恒温 断电记忆侧焰稳燃主动防漏气 双重防冻燃气热水器天然气JSQ22-HWA</span>
                                </div>
                                <div class="slider-list">
                                    <div class="slider-list-img"><img src="../images/index/1.jpg.webp" /></div>
                                    <span class="slider-list-num">3</span>
                                    <span class="slider-list-name">美的（Midea）12升智能精控恒温 断电记忆侧焰稳燃主动防漏气 双重防冻燃气热水器天然气JSQ22-HWA</span>
                                </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="box center">
            <a class="title" href="#">
                <h3 class="box-tit">排行榜</h3>
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-unorderedlist"></use>
                </svg>
                <span class="box-subtit">专属你的购物指南</span>
            </a>
            <div class="box-bottom">

            </div>
        </div>
        <div class="box right">
            <a class="title" href="#">
                <h3 class="box-tit">排行榜</h3>
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-unorderedlist"></use>
                </svg>
                <span class="box-subtit">专属你的购物指南</span>
            </a>
            <div class="box-bottom">

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="links">
            <a rel="nofollow" target="_blank" href="#"> 关于我们</a>|
            <a rel="nofollow" target="_blank" href="#">联系我们</a>|
            <a rel="nofollow" target="_blank" href="#">人才招聘</a>|
            <a rel="nofollow" target="_blank" href="#">商家入驻</a>|
            <a rel="no  follow" target="_blank" href="#">广告服务</a>|
            <a rel="nofollow" target="_blank" href="#">手机京东</a>|
            <a target="_blank" href="#">友情链接</a>|
            <a target="_blank" href="#">销售联盟</a>|
            <a href="#" target="_blank">京东社区</a>|
            <a href="#" target="_blank">京东公益</a>|
            <a target="_blank" href="#">English Site</a>
        </div>
        <div class="copyright">
            Copyright&copy;2004-2019&nbsp;&nbsp;京东JD.com&nbsp;版权所有
        </div>
    </div>

</body>

</html>