<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单详情</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/page/order-details.css">
    <script src="../font/iconfont.js"></script>
</head>

<body>
    <div class="header-top">
        <div class="page-auto">
            <ul class="header-top-adress">
                <li><i class="iconfont  icon-shouye2"></i>一号店首页</li>
                <li><i class="iconfont  icon-location"></i>送货地址：北京</li>
            </ul>
            <ul class="header-top-nav">
                <li>Hi,You Are My star <i class="iconfont  icon-star"></i><span class="duan">白银</span></li>
                <li><i class="iconfont  icon-wenben"></i>我的订单</li>
                <li>客户服务<i class="iconfont  icon-xiangxia1"></i></li>
                <li><i class="iconfont  icon-shouji"></i>APP下载</li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo-white.png" /> </a>
            </div>
            <ul class="header-nav">
                <li>首页</li>
                <li class="selected">
                    个人设置
                    <i class="iconfont  icon-xiangxia"></i>
                    <ul class="header-nav-detailed">
                        <li>个人资料</li>
                        <li>账户安全设置</li>
                        <li>地址管理</li>
                    </ul>
                </li>
                <li>金融</li>
                <li>消息 <span class="bubble-news">15</span></li>
            </ul>
            <div class="header-search">
                <i class="iconfont  icon-xiazai17 header-search-icon"></i>
                <input type="text" placeholder="搜全站">
                <div class="header-search-btn">搜索</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-auto">
            <div class="navigation-map">
                <a href="#">我的京东</a><span>></span><a href="#">订单中心</a><span>></span><a href="#">订单：958468113452</a>
            </div>
            <div class="order-logistics clearfix">
                <div class="logistics-left fll">
                    <p>订单号：958468113452</p>
                    <span class="type">完成</span>
                    <button class="btn-square-graybg">查看发票详情</button>
                    <button class="btn-square-pink ">评价</button>
                    <div><i class="iconfont icon-dianpu"></i>打印订单</div>
                </div>
                <div class="logistics-right flr">
                    <p>订单已经完成，感谢您在京东商城购物，欢迎您对本次交易及所购商品进行评价</p>
                    <div class="progress-bar clearfix">
                        <div class="pro-step done-step">
                            <span class="step-index"><i class="iconfont icon-wenben"></i></span>
                            <p class="step-desc">提交订单<br />2019-05-18 10:50:30</p>
                        </div>
                        <div class="pro-line done-line"></div>
                        <div class="pro-step pro-step2  cur-step">
                            <span class="step-index"><i class="iconfont icon-yinxingqia3"></i></span>
                            <p class="step-desc">付款成功</p>
                        </div>
                        <div class="pro-line pro-line2"></div>
                        <div class="pro-step pro-step3">
                            <span class="step-index"><i class="iconfont icon-daishouhuo"></i></span>
                            <p class="step-desc">商品出库</p>
                        </div>
                        <div class="pro-line pro-line3"></div>
                        <div class="pro-step pro-step4">
                            <span class="step-index"><i class="iconfont icon-daishouhuo"></i></span>
                            <p class="step-desc">等待收货</p>
                        </div>
                        <div class="pro-line pro-line3"></div>
                        <div class="pro-step pro-step4">
                            <span class="step-index"><i class="iconfont icon-Group-"></i></span>
                            <p class="step-desc">完成</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bg"></div>

            <div class="logistics-information logistics clearfix">
                <div class="information-left fll clearfix">
                    <img src="../images/order-details/img2.jpg" class="fll" />
                    <div class="fll">
                        <div>
                            <label>送货方式：</label>
                            <span>普通快递</span>
                        </div>
                        <div>
                            <label>承运人：</label>
                            <span>京东快递<a href="#">快递咨询</a></span>
                        </div>
                        <div>
                            <label>货运单号：</label>
                            <span>dkjoe545656456</span>
                        </div>
                    </div>
                </div>
                <div class="information-right flr">
                    <ul>
                        <li class="clearfix">
                            <label>2019-5-19/周日 22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li>
                            <label>22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li class="clearfix">
                            <label>2019-5-19/周日 22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li>
                            <label>22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li class="clearfix">
                            <label>2019-5-19/周日 22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li>
                            <label>22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li class="clearfix">
                            <label>2019-5-19/周日 22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li>
                            <label>22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li class="clearfix">
                            <label>2019-5-19/周日 22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                        <li>
                            <label>22:31:38</label>
                            <span class="dot"></span>
                            <div>您的订单在京东【上海松江分拨中心】分拣完成</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="order-logistics clearfix all-information">
                <div class="information">
                    <p class="title">收货人信息</p>
                    <div class="details">
                        <ul>
                            <li><label>收货人：</label><span>小明</span></li>
                            <li><label>地址：</label><span>上海闵行区春申路2634号</span></li>
                            <li><label>手机号：</label><span>130****8888</span></li>
                        </ul>
                    </div>
                </div>
                <div class="information">
                    <p class="title">配送信息</p>
                    <div class="details">
                        <ul>
                            <li><label>配送方式：</label><span>普通快递</span></li>
                            <li><label>运费：</label><span>￥0.00</span></li>
                        </ul>
                    </div>
                </div>
                <div class="information">
                    <p class="title">付款信息</p>
                    <div class="details">
                        <ul>
                            <li><label>付款方式：</label><span>在线支付</span></li>
                            <li><label>付款时间：</label><span>2019-05-18 10:51:29</span></li>
                            <li><label>商品总额：</label><span>￥819.00</span></li>
                            <li><label>应支付金额：</label><span>￥819.00</span></li>
                            <li>更多>></li>
                        </ul>
                    </div>
                </div>
                <div class="information">
                    <p class="title">发票信息</p>
                    <div class="details">
                        <ul>
                            <li><label>发票类型：</label><span>电子普通发票</span></li>
                            <li><label>发票抬头：</label><span>懂微信息技术（上海）有限公司</span></li>
                            <li><label>发票内容：</label><span>商品信息</span></li>
                            <li><label>纳税识别号：</label><span>9122363216464</span></li>
                            <li>
                                <p class="gray">电子发票与纸质发票具有同等法律效力，可作为用户维权，保修的有效凭据</p>
                                <i class="iconfont icon-xiazai17"></i>查看发票详情
                                <i class="iconfont"></i>点击下载发票
                            </li>
                            <li>
                                <img src="../images/order-details/img3.jpg" class="fll">
                                <p class="code-tips fll">微信扫码下载电子发票</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix order-content">
                <p class="title">金索数码专营店</p>
                <table>
                    <thead>
                        <th>商品</th>
                        <th>商品编号</th>
                        <th>京东价</th>
                        <th>商品数量</th>
                        <th>京豆</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="detail clearfix">
                                    <img src="../images/order-details/img1.jpg" />
                                    <p>索尼头戴式无限蓝牙降噪耳机</p>
                                </div>
                            </td>
                            <td>28574916459841</td>
                            <td>￥819.00</td>
                            <td>1</td>
                            <td>81</td>
                            <td>
                                <a href="#" class="link-b">申请售后</a><br />
                                <a href="#" class="link-b">评价|晒单</a>
                                <button class="btn-square-graybg"><i class="iconfont "></i>立即购买</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="detail clearfix">
                                    <img src="../images/order-details/img4.jpg" />
                                    <p>耳机包</p>
                                </div>
                            </td>
                            <td>28574916459841</td>
                            <td>赠品</td>
                            <td>1</td>
                            <td>0</td>
                            <td>
                                <a href="#" class="link-b">申请售后</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="detail clearfix">
                                    <span class="yunfei"><i class="iconfont icon-anquan1"></i></span>
                                    <p>
                                        运费险<br />
                                        <a href="#" class="link-b">最高赔付25元/单</a>
                                    </p>
                                </div>
                            </td>
                            <td></td>
                            <td>卖家赠送</td>
                            <td>1</td>
                            <td>0</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <div>
                        <label>商品总额：</label><span>￥819.00</span>
                    </div>
                    <div>
                        <label>运费：</label><span>￥0.00</span>
                    </div>
                    <div class="price">
                        <label>应付总额：</label><span>￥819.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>