<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../swiper/swiper.min.css">
    <link rel="stylesheet" href="../css/page/personal-data.css">
    <script src="../font/iconfont.js"></script>
</head>

<body>
    <div class="header-top">
        <div class="page-auto">
            <ul class="header-top-adress">
                <li><i class="iconfont  icon-shouye2"></i>一号店首页</li>
                <li><i class="iconfont  icon-location"></i>送货地址：北京</li>
            </ul>
            <ul class="header-top-nav">
                <li>Hi,You Are My star <i class="iconfont  icon-star"></i><span class="duan">白银</span></li>
                <li><i class="iconfont  icon-wenben"></i>我的订单</li>
                <li>客户服务<i class="iconfont  icon-xiangxia1"></i></li>
                <li><i class="iconfont  icon-shouji"></i>APP下载</li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
            </div>
            <ul class="header-nav">
                <li>首页</li>
                <li class="selected">
                    个人设置
                    <i class="iconfont  icon-xiangxia"></i>
                    <ul class="header-nav-detailed">
                        <li>个人资料</li>
                        <li>账户安全设置</li>
                        <li>地址管理</li>
                    </ul>
                </li>
                <li>金融</li>
                <li>消息 <span class="bubble-news">15</span></li>
            </ul>
            <div class="header-search">
                <i class="iconfont  icon-xiazai17 header-search-icon"></i>
                <input type="text" placeholder="搜全站">
                <div class="header-search-btn">搜索</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-auto">
            <div class="left-nav navigation">
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li class="selected"><span>个人中心</span></li>
                        <li><span>消息通知</span><i class="reddot"></i></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-content">
                <div class="my-Wallet">
                    <!-- 会员权益 -->
                    <div class="member">
                        <div class="member-portrait">
                            <img src="../images/personal-data/touxiang.jpg" alt="">
                        </div>
                        <div class="member-plus">
                            <span>哈哈哈</span>
                            <span>
                                <i class="iconfont  icon-huiyuan"></i> PLUS
                            </span>
                        </div>
                        <p class="member-integral">
                            <span>积分 1933</span>
                            <span>信用 97.5</span>
                        </p>
                        <div class="member-good">
                            <span>会员尊享10大权益</span>
                            <span class="toshops">去逛逛</span>
                        </div>
                    </div>
                    <p class="module-title">
                        <span>我的钱包</span>
                        <i class="iconfont  icon-eye flr"></i>
                    </p>
                    <ul class="wallet-info">
                        <li>
                            <p class="submodule-title">5</p>
                            <p class="submodule-name">优惠券</p>
                            <p><span class="link-a">领券</span></p>
                        </li>
                        <li>
                            <p class="submodule-title">1445</p>
                            <p class="submodule-name">豆豆</p>
                            <p><span class="link-a">赚豆豆</span>|<span class="link-a">花豆豆</span></p>
                        </li>
                        <li>
                            <p class="submodule-title">0.00</p>
                            <p class="submodule-name">余额</p>
                            <p><span class="link-a">重置</span></p>
                        </li>
                        <li>
                            <p class="submodule-title">0</p>
                            <p class="submodule-name">白条本月待还</p>
                            <p><span class="link-a">还款</span></p>
                        </li>
                        <li>
                            <p class="submodule-title">5000000.00</p>
                            <p class="submodule-name">
                                <span>小金库昨日收益</span>
                                <span>总额0.00</span>
                            </p>
                            <p><span class="link-a">转入小金库，马上赚钱</span></p>
                        </li>
                    </ul>
                </div>
                <div class="my-other-info">
                    <div class="my-order my-info-left">
                        <p class="module-title">我的订单</p>
                        <ul class="order-operation">
                            <li>
                                <div>
                                    <i class="iconfont  icon-daishouhuo"></i>
                                </div>
                                <span>待付款</span>
                            </li>
                            <li>
                                <div>
                                    <i class="iconfont  icon-daishouhuo"></i>
                                </div>
                                <span>待收货</span>
                            </li>
                            <li>
                               <div>
                                    <i class="iconfont  icon-daipingjia"></i>
                                    <span class="bubble-tips">15</span>
                               </div>
                                <span>待评价</span>
                            </li>
                            <li>
                               <div>
                                <i class="iconfont  icon-daipingjia"></i>
                               </div>
                                <span>退换/售后</span>
                            </li>
                            <li>
                                <div>
                                    <i class="iconfont  icon-daipingjia"></i>
                                </div>
                                <span>全部订单</span>
                            </li>
                        </ul>
                        <div class="order-info">
                            <ul>
                                <li class="li-a">
                                    <img src="../images/personal-data/demo.jpg" alt="">
                                </li>
                                <li class="li-b">
                                    <p>您的订单已由本人签收。感谢您在京东购物，欢迎再次光临。</p>
                                    <p>普通宽地 | 2019-05-20 11:18:47</p>
                                </li>
                                <li class="li-c">
                                    <a href="javascript:void(0)">查看详情</a>|<a href="javascript:void(0)">查看发票</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="li-a">
                                    <img src="../images/personal-data/demo.jpg" alt="">
                                </li>
                                <li class="li-b">
                                    <p>您的订单已由本人签收。感谢您在京东购物，欢迎再次光临。</p>
                                    <p>普通宽地 | 2019-05-20 11:18:47</p>
                                </li>
                                <li class="li-c">
                                        <a href="javascript:void(0)">查看发票</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="li-a">
                                    <img src="../images/personal-data/demo.jpg" alt="">
                                </li>
                                <li class="li-b">
                                    <p>您的订单已由本人签收。感谢您在京东购物，欢迎再次光临。</p>
                                    <p>普通宽地 | 2019-05-20 11:18:47</p>
                                </li>
                                <li class="li-c">
                                        <a href="javascript:void(0)">查看详情</a>|<a href="javascript:void(0)">查看发票</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="li-a">
                                    <img src="../images/personal-data/demo.jpg" alt="">
                                </li>
                                <li class="li-b">
                                    <p>您的订单已由本人签收。感谢您在京东购物，欢迎再次光临。</p>
                                    <p>普通宽地 | 2019-05-20 11:18:47</p>
                                </li>
                                <li class="li-c">
                                        <a href="javascript:void(0)">查看发票</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-info-right">
                        <div class="my-concern">
                            <p  class="module-title">我的关注</p>
                            <ul>
                                <li>
                                    <p class="concern-num">17 <span class="bubble-tips2">4个降价</span></p>
                                    <p class="concern-name">商品关注</p>
                                </li>
                                <li>
                                    <p class="concern-num">19</p>
                                    <p class="concern-name">店铺关注</p>
                                </li>
                                <li>
                                    <p class="concern-num">0</p>
                                    <p class="concern-name">收藏内容</p>
                                </li>
                            </ul>
                        </div>
                        <div class="shopping-list">
                            <p  class="module-title">常购清单 <span class="flr more-link">更多></span></p>
                            <div class="shopping-imgs">
                                <ul class="clearfix">
                                    <li><img src="../images/personal-data/demo.jpg" alt=""></li>
                                    <li><img src="../images/personal-data/demo.jpg" alt=""></li>
                                    <li><img src="../images/personal-data/demo.jpg" alt=""></li>
                                    <li><img src="../images/personal-data/demo.jpg" alt=""></li>
                                </ul>
                                <div class="shopping-imgs-btn">
                                    <span class="active"></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>