<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品列表</title>
    <script src="../font/iconfont.js"></script>
    <link type="text/css" rel="stylesheet" href="../font/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="../css/page/product-list.css">
</head>

<body>
    <div class="header-top">
        <div>
            <ul class="fl">
                <li class="shortcut_btn dropdown">
                    <div class="dt cw-icon ui-areamini-text-wrap">
                        <i class="iconfont icon-dingwei2"></i>
                        <span class="ui-areamini-text" title="北京">北京</span>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <div class="ui-areamini-content-wrap">
                            <div class="ui-areamini-content">
                                <div class="ui-areamini-content-list">
                                    <div class="item"><a href="javascript:void(0)" class="selected">北京</a>
                                    </div>
                                    <div class="item"><a href="javascript:void(0)">上海</a></div>
                                    <div class="item"><a href="javascript:void(0)">天津</a></div>
                                    <div class="item"><a href="javascript:void(0)">重庆</a></div>
                                    <div class="item"><a href="javascript:void(0)">河北</a></div>
                                    <div class="item"><a href="javascript:void(0)">山西</a></div>
                                    <div class="item"><a href="javascript:void(0)">河南</a></div>
                                    <div class="item"><a href="javascript:void(0)">辽宁</a></div>
                                    <div class="item"><a href="javascript:void(0)">吉林</a></div>
                                    <div class="item"><a href="javascript:void(0)">黑龙江</a></div>
                                    <div class="item"><a href="javascript:void(0)">内蒙古</a></div>
                                    <div class="item"><a href="javascript:void(0)">江苏</a></div>
                                    <div class="item"><a href="javascript:void(0)">山东</a></div>
                                    <div class="item"><a href="javascript:void(0)">安徽</a></div>
                                    <div class="item"><a href="javascript:void(0)">浙江</a></div>
                                    <div class="item"><a href="javascript:void(0)">福建</a></div>
                                    <div class="item"><a href="javascript:void(0)">湖北</a></div>
                                    <div class="item"><a href="javascript:void(0)">湖南</a></div>
                                    <div class="item"><a href="javascript:void(0)">广东</a></div>
                                    <div class="item"><a href="javascript:void(0)">广西</a></div>
                                    <div class="item"><a href="javascript:void(0)">江西</a></div>
                                    <div class="item"><a href="javascript:void(0)">四川</a></div>
                                    <div class="item"><a href="javascript:void(0)">海南</a></div>
                                    <div class="item"><a href="javascript:void(0)">贵州</a></div>
                                    <div class="item"><a href="javascript:void(0)">云南</a></div>
                                    <div class="item"><a href="javascript:void(0)">西藏</a></div>
                                    <div class="item"><a href="javascript:void(0)">陕西</a></div>
                                    <div class="item"><a href="javascript:void(0)">甘肃</a></div>
                                    <div class="item"><a href="javascript:void(0)">青海</a></div>
                                    <div class="item"><a href="javascript:void(0)">宁夏</a></div>
                                    <div class="item"><a href="javascript:void(0)">新疆</a></div>
                                    <div class="item"><a href="javascript:void(0)">港澳</a></div>
                                    <div class="item"><a href="javascript:void(0)">台湾</a></div>
                                    <div class="item"><a href="javascript:void(0)">钓鱼岛</a></div>
                                    <div class="item"><a href="javascript:void(0)">海外</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="areamini_inter">
                            <div class="areamini_inter_split"></div>
                            <p class="areamini_inter_desc">地区专享版本</p>
                            <ul class="areamini_inter_list">
                                <li class="areamini_inter_item">
                                    <a class="areamini_inter_lk" href="javascript: void(0);">
                                        <div class="areamini_inter_name">中國港澳</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="areamini_inter">
                            <div class="areamini_inter_split"></div>
                            <p class="areamini_inter_desc">Available Sites</p>
                            <ul class="areamini_inter_list">
                                <li class="areamini_inter_item">
                                    <a class="areamini_inter_lk" href="#" target="_blank">
                                        <div class="areamini_inter_ico areamini_inter_ico_global"></div>
                                        <div class="areamini_inter_name">Global Site</div>
                                    </a>
                                </li>
                                <li class="areamini_inter_item">
                                    <a class="areamini_inter_lk" href="#" target="_blank">
                                        <div class="areamini_inter_ico areamini_inter_ico_global"></div>
                                        <div class="areamini_inter_name">Global Site</div>
                                    </a>
                                </li>
                                <li class="areamini_inter_item">
                                    <a class="areamini_inter_lk" href="#" target="_blank">
                                        <div class="areamini_inter_ico areamini_inter_ico_global"></div>
                                        <div class="areamini_inter_name">Global Site</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fr">
                <li class="shortcut_btn fore1 dropdown">
                    <a href="javascript:login();" class="link-login style-red">*****，请登录</a>&nbsp;&nbsp;<a
                        href="javascript:regist();" class="link-regist">免费注册</a></li>
                <li class="spacer"></li>
                <li class="shortcut_btn fore2">
                    <div class="dt"><a target="_blank" href="#">我的订单</a></div>
                </li>
                <li class="spacer"></li>
                <li class="shortcut_btn fore3 dropdown">
                    <div class="dt cw-icon"><a target="_blank" href="#">我的京东</a><i class="iconfont icon-xiangxia1"></i>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="shortcut_btn fore4">
                    <div class="dt"><a target="_blank" href="#">京东会员</a></div>
                </li>
                <li class="spacer"></li>
                <li class="shortcut_btn fore5 dropdown className shortcut_btn_company shortcut_btn_company2">
                    <div class="dt cw-icon"><a target="_blank" href="#">企业采购</a><i class="iconfont icon-xiangxia1"></i>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="shortcut_btn fore8 dropdown">
                    <div class="dt cw-icon"><a target="_blank" href="#">客户服务</a><i class="iconfont icon-xiangxia1"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="item-client">客户</div>
                        <div class="item"><a href="#" target="_blank" class="false">帮助中心</a>
                        </div>
                        <div class="item"><a href="#" target="_blank" class="false">售后服务</a></div>
                        <div class="item"><a href="#" target="_blank" class="false">在线客服</a></div>
                        <div class="item"><a href="#" target="_blank" class="false">意见建议</a></div>
                        <div class="item"><a href="#" target="_blank" class="false">电话客服</a></div>
                        <div class="item"><a href="#" target="_blank" class="false">客服邮箱</a></div>
                        <div class="item"><a href="#" class="false">金融咨询</a></div>
                        <div class="item"><a href="#" target="_blank" class="false">全球售客服</a></div>
                        <div class="item-business">商户</div>
                        <div class="item"><a href="#" target="_blank" class="1">合作招商</a></div>
                        <div class="item"><a href="#" target="_blank" class="1">成长中心</a></div>
                        <div class="item"><a href="#" target="_blank" class="1">商家后台</a></div>
                        <div class="item"><a href="#" target="_blank" class="1">京麦工作台</a>
                        </div>
                        <div class="item"><a href="#" target="_blank" class="1">商家帮助</a></div>
                        <div class="item"><a href="#" target="_blank" class="1">规则平台</a>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="shortcut_btn fore9 dropdown">
                    <div class="dt cw-icon"><a target="_blank" href="#">网站导航</a>
                        <i class="iconfont icon-xiangxia1"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <dl class="fore1">
                            <dt>特色主题</dt>
                            <dd>
                                <div class="item"><a href="#" target="_blank" class="false">京东试用</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京东金融</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">全球售</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">国际站</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京东会员</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京东预售</a>
                                </div>
                                <div class="item"><a href="#" target="_blank" class="false">买什么</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">俄语站</a>
                                </div>
                                <div class="item"><a href="#" target="_blank" class="false">装机大师</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">0元评测</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">港澳售</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">优惠券</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">秒杀</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">闪购</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">印尼站</a>
                                </div>
                                <div class="item"><a href="#" target="_blank" class="false">京东金融科技</a>
                                </div>
                                <div class="item"><a href="#" target="_blank" class="false">陪伴计划</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">出海招商</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">拍拍二手</a>
                                </div>
                            </dd>
                        </dl>
                        <dl class="fore2">
                            <dt>行业频道</dt>
                            <dd>
                                <div class="item"><a href="#" target="_blank" class="false">手机</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">智能数码</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">玩3C</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">电脑办公</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">家用电器</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京鱼座智能</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">服装城</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京东生鲜</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">家装城</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">母婴</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">食品</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">农资频道</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">整车</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">图书</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">劳动防护</a></div>
                            </dd>
                        </dl>
                        <dl class="fore3">
                            <dt>生活服务</dt>
                            <dd>
                                <div class="item"><a href="#" target="_blank" class="false">手机</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">智能数码</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">玩3C</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">电脑办公</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">家用电器</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京鱼座智能</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">服装城</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京东生鲜</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">家装城</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">母婴</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">食品</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">农资频道</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">整车</a></div>
                            </dd>
                        </dl>
                        <dl class="fore4">
                            <dt>更多精选</dt>
                            <dd>
                                <div class="item"><a href="#" target="_blank" class="false">手机</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">智能数码</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">玩3C</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">电脑办公</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">家用电器</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京鱼座智能</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">服装城</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">京东生鲜</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">家装城</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">母婴</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">食品</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">农资频道</a></div>
                                <div class="item"><a href="#" target="_blank" class="false">整车</a></div>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="shortcut_btn fore10 mobile">
                    <div class="dt mobile_txt"><a target="_blank" href="#">手机京东</a></div>
                    <div class="mobile_static">
                        <div class="mobile_static_qrcode">
                            <img src="../images/index/img13.png" />
                            <p>下载客户端</p>
                            <p class="redtxt">享专属优惠</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 增加fixed class变为固定头部搜索 -->
    <div class="header detail">
        <div class="logoheader">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
            </div>
            <div class="header_right">
                <div class="serchbox">
                    <div class="serch">
                        <input type="text" placeholder="水果礼盒" />
                        <button class="searchbtn">搜索</button>
                    </div>
                    <div class="ahreflist">
                        <a title="雅培" target="_blank" href="#">雅培</a>|
                        <a title="雅培" target="_blank" href="#">雅培</a>|
                        <a title="雅培" target="_blank" href="#">雅培</a>|
                        <a title="雅培" target="_blank" href="#">雅培</a>|
                        <a title="雅培" target="_blank" href="#">雅培</a>|
                        <a title="雅培" target="_blank" href="#">雅培</a>
                    </div>
                    <i class="iconfont icon-xiazai17"></i>
                </div>
                <div class="shoppingbox">
                    <a href="#">
                        <i class="iconfont icon-gouwuche2"></i>购物车
                        <span class="num">0</span>
                    </a>
                    <div class="shopingdetail">
                        <div class="trianglebox"><span class="triangle"></span></div>
                        <div class="shoppinglist">
                            <ul>
                                <li class="list">
                                    <img src="../images/index/imgl.png" />
                                    <div class="listdetail">
                                        <p>网易全屏网易全屏网易全屏</p>
                                        <div><span>白</span><span>全屏</span><span>x1</span></div>
                                    </div>
                                    <p class="shoppingprice">￥299</p>
                                    <i class="iconfont icon-cuowu1"></i>
                                </li>
                            </ul>
                            <div class="shoppingbottom">
                                <div class="leftprice">
                                    <p>商品合计：</p>
                                    <p class="totalprice">￥299</p>
                                </div>
                                <button class="btn-register btn">去购物车结算</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="header_nav">
            <div class="header_nav_left">
                <div class="header_nav_left_title">
                    <i class="iconfont icon-unorderedlist"></i>
                    <span>全部类目</span>
                </div>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="#" title="抢金币" target="_blank">抢金币</a>
                </li>
                <li>
                    <a href="#" title="金币签到" target="_blank">金币签到</a>
                </li>
                <li>
                    <a href="#" title="充值" target="_blank">充值</a>
                </li>
                <li>
                    <a href="#" title="超级单品" target="_blank">超级单品</a>
                </li>
                <li>
                    <a href="#" title="超级品牌" target="_blank">超级品牌</a>
                </li>
                <li>
                    <a href="#" title="超级品类" target="_blank">超级品类</a>
                </li>
                <li>
                    <a href="#" title="领券中心" target="_blank"
                        clstag="pageclick|keycount|shouye_20181018|NaviTab7">领券中心</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class=" page-auto">
            123
        </div>
    </div>
</body>

</html>