<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>资质资费</title>
    <script src="../font/iconfont.js"></script>
    <link type="text/css" rel="stylesheet" href="../font/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="../css/page/qualification-fee.css">
    <link />
</head>

<body>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
            </div>
            <ul class="header-nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">入驻流程</a></li>
                <li class="selected"><a href="#">资质资费</a></li>
                <li><a href="#">招商联系人</a></li>
                <li><a href="#">招商会</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">优创商家</a></li>
                <li><a href="#">拼购商家</a></li>
            </ul>
        </div>
    </div>
    <div class="content page-auto clearfix">
        <div>
            <label>请选择您的主要经营类目：</label><button class="btn-square-pink">添加</button>
        </div>
        <div class="titlegray first">
            <ul>
                <li>一级类目</li>
                <li>二级类目</li>
                <li>三级类目</li>
                <li>操作</li>
            </ul>
        </div>
        <div class="radiodiv">
            <div>
                <label>请选择店铺类型：</label>
                <input type="radio" class="checked" />旗舰店
                <input type="radio" />专卖店
                <input type="radio"/>专营店<i class="iconfont icon-question-circle"></i>
            </div>
            <div>
                <label>请选择进口类型：</label><input type="radio" class="checked" />非进口<input type="radio" />进口<i class="iconfont icon-question-circle"></i>
            </div>
        </div>
        <p class="explain">说明：您在此查询的资质信息为SOP第三方商家入驻所需资质，若您希望入驻的店铺为其他类型，请联系客服，谢谢！</p>
        <div class="investment-information">
            <p class="title">招商说明和要求</p>
            <table>
                <thead>
                    <th>企业资质列表</th>
                    <th>详情描述（复印件需加盖公司红章）</th>
                </thead>
                <tbody>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <th>企业资质列表</th>
                    <th>详情描述（复印件需加盖公司红章）</th>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#" class="link-a">商标注册证/商品注册申请书<i class="iconfont icon-tupian"></i></a></td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                    <tr>
                        <td>三证合一营业执照</td>
                        <td>提供三证合一营业执照，需确保在企业经营名录中且所售商品在营业执照经营范围内</td>
                    </tr>
                </tbody>
            </table>
            <p class="title">资费<a href="#" class="flr">特殊资费政策查询 ></a></p>
            <table>
                <thead>
                    <th>类目</th>
                    <th>扣点（%）</th>
                </thead>
                <tbody>
                    <tr>
                       <td colspan="2">表格暂无数据</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <th>平台使用费（元/月）<i class="iconfont icon-question-circle"></i></th>
                    <th>保证金（元）<i class="iconfont icon-question-circle"></i></th>
                </thead>
                <tbody>
                    <tr>
                       <td colspan="2">表格暂无数据</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footerbtn">
        <button class="btn-square-red">马上入驻</button>
    </div>

</body>

</html>