<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账号安全</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/page/security.css">
    <script src="../font/iconfont.js"></script>
</head>

<body>
    <div class="header-top">
        <div class="page-auto">
            <ul class="header-top-adress">
                <li><i class="iconfont  icon-shouye2"></i>一号店首页</li>
                <li><i class="iconfont  icon-location"></i>送货地址：北京</li>
            </ul>
            <ul class="header-top-nav">
                <li>Hi,You Are My star <i class="iconfont  icon-star"></i><span class="duan">白银</span></li>
                <li><i class="iconfont  icon-wenben"></i>我的订单</li>
                <li>客户服务<i class="iconfont  icon-xiangxia1"></i></li>
                <li><i class="iconfont  icon-shouji"></i>APP下载</li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="page-auto">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo-white.png" /> </a>
            </div>
            <ul class="header-nav">
                <li>首页</li>
                <li class="selected">
                    个人设置
                    <i class="iconfont  icon-xiangxia"></i>
                    <ul class="header-nav-detailed">
                        <li>个人资料</li>
                        <li>账户安全设置</li>
                        <li>地址管理</li>
                    </ul>
                </li>
                <li>金融</li>
                <li>消息 <span class="bubble-news">15</span></li>
            </ul>
            <div class="header-search">
                <i class="iconfont  icon-xiazai17 header-search-icon"></i>
                <input type="text" placeholder="搜全站">
                <div class="header-search-btn">搜索</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-auto">
            <div class="left-nav navigation">
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li class="selected"><span>个人中心</span></li>
                        <li><span>消息通知</span><i class="reddot"></i></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
                <div class="navigation-item">
                    <span class="navigation-item-title">
                        账号管理
                    </span>
                    <ul>
                        <li><span>个人中心</span></li>
                        <li><span>消息通知</span></li>
                        <li><span>账号信息</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-content">
                <div class="safe-list clearfix">
                    <span>您当前的帐号</span>
                    <span>56748154968744961</span>
                </div>
                <ul class="safe-menu clearfix">
                    <li>
                        <div class="safe-list clearfix">
                            <span><i class="iconfont icon-Group-1"></i>登录密码</span>
                            <span>56748154968744961</span>
                            <a href="#"  class="linek-a">修改</a>
                        </div>
                    </li>
                    <li>
                        <div class="safe-list clearfix">
                            <span><i class="iconfont icon-gantanhao-yuankuang"></i>绑定手机</span>
                            <span>56748154968744961</span>
                            <a href="#"  class="linek-a">修改</a>
                        </div>
                    </li>
                    <li>
                        <div class="safe-list clearfix">
                            <span><i class="iconfont icon-gantanhao-yuankuang"></i>支付密码</span>
                            <span>56748154968744961</span>
                            <a href="#"  class="linek-a">立即设置</a>
                        </div>
                    </li>
                </ul>
                <div class="safe-tips">
                    <div class="title">安全服务提示</div>
                    <ul>
                        <li><span class="dot"></span>全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示
                        </li>
                        <li><span
                                class="dot"></span>示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示安全提示
                        </li>
                    </ul>
                </div>
                <div class="set-pas">
                    <div class="title">设置支付密码</div>
                    <div class="set-detail clearfix">
                        <div class="set-num">
                            <div class="set-list clearfix current">
                                <span class="num">1</span>
                                <span class="line"></span>
                                绑定手机号
                            </div>
                            <div class="set-list clearfix">
                                <span class="num">2</span>
                                <span class="line"></span>
                                设置支付密码
                            </div>
                            <div class="set-list clearfix">
                                <span class="num">3</span>
                                <span class="line"></span>
                                完成
                            </div>
                            
                        </div>
                        <form>
                            <input type="text" placeholder="请输入手机号" />
                            <div class="verification">
                                <input type="text" placeholder="请输入验证码" /><button class="btn">获取验证码</button>
                            </div>
                            <div class="set-btn"><button class="btn">提交</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>