<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结算页</title>
    <script src="../font/iconfont.js"></script>
    <link type="text/css" rel="stylesheet" href="../font/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="../css/page/settlement.css">
    <link />
</head>

<body>
    <div class="header">
        <div class="logoheader">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
                <div class="logo-title">结算页</div>
            </div>
            <div class="logoright">
                <div class="set-num">
                    <div class="set-list clearfix done ">
                        <span class="num">1</span>
                        <span class="line"></span>
                        1.我的购物车
                    </div>
                    <div class="set-list clearfix current">
                        <span class="num">2</span>
                        <span class="line"></span>
                        2.请填写核对订单
                    </div>
                    <div class="set-list clearfix">
                        <span class="num">3</span>
                        <span class="line"></span>
                        3.成功提交订单
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="fill-information page-auto">
        <p>填写并核对订单信息</p>
        <div class="fill-detail grip-list">
            <div class="titlegray">收货信息</div>
            <div class="information clearfix">
                <form class="fll">
                    <div class=" clearfix">
                        <label>所在地区：</label>
                        <div>
                            <div class="normal-select clearfix fll">
                                <select>
                                    <option>请选择</option>
                                    <option>河北省</option>
                                    <option>山东省</option>
                                </select>
                                <i class="iconfont icon-xiaosanjiaodown"></i>
                            </div>
                            <div class="normal-select clearfix fll">
                                <select>
                                    <option>请选择</option>
                                    <option>河北省</option>
                                    <option>山东省</option>
                                </select>
                                <i class="iconfont icon-xiaosanjiaodown"></i>
                            </div>
                            <div class="normal-select clearfix fll">
                                <select>
                                    <option>请选择</option>
                                    <option>河北省</option>
                                    <option>山东省</option>
                                </select>
                                <i class="iconfont icon-xiaosanjiaodown"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>详细地址</label>
                        <textarea placeholder="详细地址、街道、门牌号等"></textarea>
                    </div>
                    <div class="consignee clearfix">
                        <div class="fll">
                            <label>收货人：</label><input type="text" class="normal-input" />
                        </div>
                        <div class="fll">
                            <label>手机号码：</label><input type="text" class="normal-input" />
                        </div>
                    </div>
                </form>
                <div class="flr eefault-address">
                    <div>
                        <span class="normal-check">
                            <input type="checkbox">
                            <i class="iconfont icon-Group-"></i>
                            <div class="sim-checkbox"></div>
                        </span> 设为默认
                    </div>
                    <button class="btn-square-red">保存地址</button>
                    <button class="btn-square-pink ">取消</button>
                </div>
            </div>
        </div>

        <div class="fill-detail grip-list">
            <div class="titlegray">收货信息</div>
            <div class="information clearfix address">
                <div class="fll">
                    <div><i class="iconfont icon-dingwei"></i>默认地址<button class="btn-square-pink">修改</button></div>
                    <div><label>收货人：</label><span>小薇</span></div>
                    <div><label>联系方式：</label><span>13400000000</span></div>
                    <div><label>收货地址：</label><span>上海市闵行区江川路2564号</span></div>
                </div>
                <div class="flr eefault-address">
                    <a href="#" class="link-a">地址切换</a>
                    <button class="btn-square-graybg">新建地址</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>