<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link type="text/css" rel="stylesheet" href="../css/page/signin.css">
    <script src="../javascript/jquery-1.11.1.min.js"></script>
    <link />
</head>

<body>
    <div class="header">
        <div class="logoheader w">
            <div class="logoleft">
                <a href="#" class="logo "><img src="../images/header/logo.jpg" /> </a>
                <div class="logo-title">欢迎登录</div>
            </div>
            <a href="javascript:void(0)" target="_blank" class="q-link"><b></b>登录页面，调查问卷</a>

        </div>
    </div>
    <div class="content">
        <div class="tips-wrapper">
            <div class="tips-inner">
                <div class="cont-wrapper">
                    <i class="icon-tips"></i>
                    <p>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！ 新版<a href="https://about.jd.com/privacy/" class="black"
                            target="_blank">《京东隐私政策》</a>已上线，将更有利于保护您的个人隐私。</p>
                </div>
            </div>
        </div>
        <div class="login-wrap">
            <div class="w">
                <div class="login-form">
                    <div class="tips-wrapper">
                        <div class="tips-inner">
                            <div class="cont-wrapper"><i class="icon-tips"></i>
                                <p>京东不会以任何理由要求您转账汇款，谨防诈骗。</p>
                            </div>
                        </div>
                    </div>
                    <div class="login-tab login-tab-l">
                        <a href="javascript:void(0)" > 扫码登录</a>
                    </div>
                    <div class="login-tab login-tab-r">
                        <a href="javascript:void(0)" >账户登录</a>
                    </div>
                    <div class="login-box">
                        <div class="mt tab-h">
                        </div>
                        <div class="msg-wrap">
                            <div class="msg-error"><b></b>账户名不存在，请重新输入</div>
                        </div>
                        <div class="mc">
                            <div class="form">
                                <form method="post" onsubmit="return false;">

                                    <div class="item item-fore1">
                                        <label for="loginname" class="login-label name-label"></label>
                                        <input type="text" class="itxt" name="loginname" tabindex="1"
                                            autocomplete="off" value="" placeholder="邮箱/用户名/已验证手机" />
                                        <span class="clear-btn"></span>
                                    </div>

                                    <div class="item item-fore2">
                                        <label class="login-label pwd-label" for="nloginpwd"></label>
                                        <input type="password"  name="nloginpwd" class="itxt itxt-error"
                                            tabindex="2" autocomplete="off" placeholder="密码" />
                                        <span class="clear-btn"></span>
                                        <span class="capslock"><b></b>大小写锁定已打开</span>
                                    </div>

                                    <div class="item item-fore4">
                                        <div class="safe">
                                            <span></span>
                                            <span class="forget-pw-safe">
                                                <a href="#"target="_blank" >忘记密码</a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="item item-fore5">
                                        <div class="login-btn">
                                            <a href="javascript:;" class="btn-img btn-entry">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                                        </div>
                                    </div>

                                    <div class="item item-fore5  login-type">
                                        <a href="javascript:void(0)" class="link-a">手机号快速登录(支持门店预留手机)</a></div>
                                </form>
                            </div>
                            <div class="form form2 hide">
                                <div class="item">
                                    <input type="text" class="itxt" placeholder="请输入手机号（支持门店预留手机）">
                                </div>
                                <div class="item verifyCode">
                                    <input type="text" class="itxt" placeholder="短信验证码">
                                    <div class="check-phone">
                                        <span>获取短信验证码</span>
                                    </div>
                                </div>
                                <div class="item item-fore4">
                                    <p class="detailContent">未注册的手机号将自动注册，且代表您同意<a href="javascript:;"
                                            class="fontBlink">《服务协议》</a> </p>
                                </div>
                                <div class="item item-fore5">
                                    <div class="login-btn">
                                        <a href="javascript:;" class="btn-img btn-entry"  tabindex="6"
                                            clstag="pageclick|keycount|login_pc_201804112|12">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                                    </div>
                                </div>

                                <div class="item item-fore5 login-type"><a style="color: #2875cc;"
                                        href="javascript:void(0)">账号密码登录</a></div>
                            </div>
                        </div>

                    </div>

                    <div class="qrcode-login" style="display: none">
                        <div class="mc">
                            <div class="qrcode-error-2016">
                                <div class="qrcode-error-mask">
                                </div>
                                <p class="err-cont">服务器出错</p>
                                <a href="javascript:void(0)" class="refresh-btn"
                                    clstag="pageclick|keycount|login_pc_201804112|11">刷新</a>
                            </div>
                            <div class="qrcode-main">
                                <div class="qrcode-img">
                                    <img src="../images/signin/show.png" alt="">
                                </div>
                                <div class="qrcode-help"></div>
                            </div>
                            <div class="qrcode-panel">
                                <ul>
                                    <li class="fore1">
                                        <span>打开</span>
                                        <a href="/uc/links?tag=apps" target="_blank"
                                            clstag="pageclick|keycount|201607144|9">
                                            <span class="red">手机京东</span></a>
                                    </li>
                                    <li>扫描二维码</li>
                                </ul>
                            </div>
                            <div class="coagent qr-coagent">
                                <ul>
                                    <li><b></b><em>免输入</em></li>
                                    <li><b class="faster"></b><em>更快&nbsp;</em></li>
                                    <li><b class="more-safe"></b><em>更安全</em></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="coagent">
                        <ul>
                            <li>
                                <b></b>
                                <a href="javascript:void(0)" class="pdl"><b class="QQ-icon"></b><span>QQ</span></a>
                                <span class="line">|</span>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="pdl"><b class="weixin-icon"></b><span>微信</span></a>
                            </li>
                            <li class="extra-r">
                                <div>
                                    <div class="regist-link"><a href="javascript:volid(0)"
                                             target="_blank"><b></b>立即注册</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="login-banner" >
                <div class="w">
                    <div class="i-inner"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="links">
            <a rel="nofollow" target="_blank" href="#"> 关于我们</a>|
            <a rel="nofollow" target="_blank" href="#">联系我们</a>|
            <a rel="nofollow" target="_blank" href="#">人才招聘</a>|
            <a rel="nofollow" target="_blank" href="#">商家入驻</a>|
            <a rel="no  follow" target="_blank" href="#">广告服务</a>|
            <a rel="nofollow" target="_blank" href="#">手机京东</a>|
            <a target="_blank" href="#">友情链接</a>|
            <a target="_blank" href="#">销售联盟</a>|
            <a href="#" target="_blank">京东社区</a>|
            <a href="#" target="_blank">京东公益</a>|
            <a target="_blank" href="#">English Site</a>
        </div>
        <div class="copyright">
            Copyright&copy;2004-2019&nbsp;&nbsp;京东JD.com&nbsp;版权所有
        </div>
    </div>
    <script>
        $(function () {
            $(".login-type").on("click", function () {
                $(".form").toggle()
            })
            $(".login-tab-r").on("click", function () {
                $(".qrcode-login").hide();
                $(".login-box").show();
            })
            $(".login-tab-l").on("click", function () {
                $(".qrcode-login").show();
                $(".login-box").hide();
            })
        })
    </script>
</body>

</html>