//首页头部
.detail.header {
    box-shadow: none;

    .header_right {
        width: 700px;
        float: right;
        height: 70px;
        margin-top: 25px;
    }

    .serchbox {
        float: left;
        width: 512px;
        position: relative;

        .icon-xiazai17 {
            position: absolute;
            left: 17px;
            top: 12px;
            color: #d1d1d1;
        }
    }

    .serch {
        height: 38px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $red-6;

        input {
            border: none;
            height: 38px;
            line-height: 38px;
            float: left;
            width: 382px;
            padding-left: 40px;
            background: transparent;
            font-size: 14px;
        }

        button {
            float: right;
            width: 90px;
            background: $red-6;
            border: none;
            box-shadow: none;
            color: #fff;
            height: 38px;
            border-radius: 0 20px 20px 0;
            text-align: center;
            font-size: 14px;
        }
    }

    .ahreflist {
        height: 19px;
        padding-top: 8px;
        padding-left: 32px;
        overflow: hidden;

        a {
            text-decoration: none;
            margin-right: 10px;
            line-height: 19px;
            font-size: 12px;
            color: #aaa;
            margin-left:5px;
        }

        a:hover {
            color: $red-5;
        }
    }

    .shoppingbox {
        position: relative;
        float: right;
        width: 122px;
        height: 38px;
        border-radius: 20px;
        border: 1px solid $red-6;
        font-size: 14px;
        position: relative;
        &:hover .shopingdetail{
            display: block;
        }

        a {
            color: $red-6;
            text-decoration: none;
            position: absolute;
            left: 16px;
            top: 10px;
        }

        .iconfont {
            color: #b79f79;
            float: left;
            margin-right: 5px;
        }

        .num {
            background: $red-6;
            border-radius: 10px;
            color: #fff;
            padding: 0 5px;
        }
    }

    .shopingdetail {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        width: 330px;
        height: 340px;
        z-index: 2;
        background: #fff;

    }

    .trianglebox {
        position: relative;
        height: 15px;
    }

    .triangle {
        position: absolute;
        right: 200px;
    }

    .triangle:before,
    .triangle .before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 150px;
        width: 0;
        height: 0;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        border: 8px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $red-6 transparent;
    }

    .triangle:after,
    .triangle .after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        border: 7px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        left: 151px;
        top: 2px;
    }

    .shoppinglist {
        border: 1px solid $red-6;
        height: 326px;
    }

    .shoppinglist ul {
        height: 230px;
        padding: 15px;

    }

    .shoppinglist li {
        position: relative;
        cursor: pointer;
        .shoppingprice{
            font-size:12px;
            color:$red-6;
            line-height:35px;
            margin-left:10px;
            float:left;
        }

        .listdetail {
            float: left;
            width: 140px;
            margin-left: 10px;
            p{
                white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height:35px;
            }
            div span{
                font-size:12px;
                color:#9b9b9b;
                margin-right:3px;
            }
        }

        img {
            width: 60px;
            float: left;
        }

        .icon-cuowu1 {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

    }

    .shoppingbottom {
        height: 36px;
        background: #fff1f0;
        padding:15px;
        .leftprice{
            float:left;
        }
        p{
            font-size:13px;
            color:#9b9b9b;
        }
        .totalprice{
            color:$red-6;
        }
        .btn-register{
            float:right;
        }
        .btn{
            background:$red-6;
            font-size:12px;
            color:#fff;
            border-radius: 2px;
            height:36px;
            line-height:36px;
            padding:0 20px;
            border:none;
            cursor: pointer;
        }
    }
}

//滚动后首页头部
.detail.header.fixed {
    width: 100%;
    text-align: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);

    .logoheader,
    .logoleft {
        height: 60px;
    }

    .logoleft img {
        margin-top: 0;
    }

    .header_right {
        height: 40px;
        margin-top: 10px;
    }

    .serchbox {
        width: 675px;
    }

    .serch input {
        width: 530px;
    }

    .ahreflist,
    .shoppingbox {
        display: none;
    }
}
//首页toplist
.top-list {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    clear: both;

    >div {
        width: 1200px;
        margin: 0 auto;
        height: 30px;
        line-height: 30px;
        color: #999;
        position: relative;
    }

    .fl {
        float: left;
    }

    .iconfont {
        float: left;
    }

    & li {
        float: left;
        cursor: pointer;
    }

    & a {
        color: #999;
        text-decoration: none;
    }

    & a:hover {
        color: $red-5;
    }

    .cw-icon {
        height: 28px;
        line-height: 28px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        float: left;
        border: 1px solid #e3e4e5;

        a {
            float: left;
        }
    }

    & .dt {
        padding-left: 7px;
        padding-right: 7px;
    }

    .dd {
        width: 300px;
        padding: 10px;
        line-height: 24px;
    }

    .dorpdown-layer,
    .dropdown-layer {
        position: absolute;
        border: 1px solid #ccc;
        background-color: #fff;
        -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
        -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
        box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
    }

    .dropdown-layer {
        top: 30px;
        display: none;
        z-index: 9999;
    }

    .item {
        float: left;
        width: 60px;
        padding: 2px 0;
    }

    .item a {
        float: left;
        padding: 0 8px;
        text-decoration: none;
    }

    .item a.selected {
        background-color: $red-6;
        color: #fff;
    }

    .ui-areamini-content-wrap {
        overflow: hidden;
    }


    .fr {
        float: right;
    }

    .shortcut_btn {
        z-index: 21;
    }

    .fore1 {
        margin-right: 8px;
        z-index: 20;
    }

    .style-red {
        color: $red-6;
    }

    li.spacer {
        overflow: hidden;
        margin: 11px 5px 0;
        width: 1px;
        height: 10px;
        background-color: #ccc;
    }

    .areamini_inter {
        margin: 10px 0 10px 10px;
        overflow: hidden;
    }

    .areamini_inter_item {
        width: 145px;
        height: 26px;
        line-height: 26px;
    }

    .areamini_inter_split {
        width: 262px;
        height: 0;
        border-bottom: dotted 1px #eee;
    }

    .areamini_inter_desc {
        margin: 9px 0;
        color: #8f8f8f;
    }

    .areamini_inter {
        margin: 10px 0 10px 10px;
    }

    .areamini_inter_list {
        overflow: hidden;
    }

    .areamini_inter_ico {
        float: left;
        position: relative;
        top: 7px;
        margin-right: 8px;
        width: 15px;
        height: 10px;
        border: solid 1px transparent;
        background: $red-6;
    }

    .shortcut_btn:hover {
        & .cw-icon {

            padding-bottom: 2px;
            border-color: #ccc;
            border-bottom: none;
            background-color: #fff;
        }

        & .dropdown-layer {
            display: block;
        }
    }

    .fore8 {

        .item-business,
        .item-client {
            padding-left: 15px;
            font-weight: 700;
            color: #666;
            overflow: hidden;
        }

        .dd {
            right: 166px;
            width: 170px;
            padding: 10px 0;
        }

        .item-business {
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px dotted #eee;
        }

        .item {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 70px;
            padding-left: 15px;
        }

        .item a {
            float: left;
            padding: 0;
            text-decoration: none;
        }
    }

    .fore9 {
        .dd {
            right: 0;
            width: 1178px;
        }

        dt {
            margin-bottom: 5px;
            font-weight: 700;
            color: #666;
        }

        dl {
            float: left;
            width: 255px;
            padding-left: 15px;
            border-left: 1px solid #eee;
        }

        .item {
            overflow: hidden;
            float: left;
            width: 85px;
            white-space: nowrap;
        }

        dl.fore1 {
            border-left: none;
            width: 340px;
        }
    }

    .fore10 {
        &:hover {
            .mobile_static {
                display: block;
            }

            .dt {
                border: 1px solid #ccc;
                background-color: #fff;
                border-bottom: none;
            }

        }

        .mobile_txt {
            border: 1px solid transparent;
            border-bottom: none;
        }

        .mobile_static {
            display: none;
            right: 0px;
            position: absolute;
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 15px;
            z-index: 999;
        }

        img {
            width: 130px;
        }

        p {
            text-align: center;
            font-size: 14px;
            color: #000;
            font-weight: bold;
            line-height: 20px;
        }

        .redtxt {
            color: $red-6;
        }
    }
}


//首页导航
.header-content {
    background: #fff;
}

.header_nav {
    width: 1200px;
    margin: 0 auto;
    height: 38px;
    line-height: 38px;

    >div {
        float: left;
    }

    .header_nav_left_title {
        width: 170px;
        background: $redcolr;
        color: #fff;
        height: 38px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        padding-left: 20px;
    }
}

.nav-list {
    li {
        float: left;
        padding: 0 15px;
        font-size: 16px;
        overflow: hidden;
        height: 100%;

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: $red-5;
        }
    }
}
