.footer {
    font-size: 12px;
    text-align: center;
    color: #999;
    padding-bottom: 30px;
    background:#fff;
    .links {
        border-top: solid 1px #e6e6e6;
        width:1200px;
        padding-top: 30px;
        padding-bottom: 15px;
        margin:0 auto;
    }
    a {
        color: #999;
        margin: 0 10px;
    }
}











