.footer {
    font-size: 12px;
    text-align: center;
    color: #999;
    padding-bottom: 30px;
    background:#fff;
    .links {
        border-top: solid 1px #e6e6e6;
        width:1200px;
        padding-top: 30px;
        padding-bottom: 15px;
        margin:0 auto;
    }
    a {
        color: #999;
        margin: 0 10px;
    }

    
}
.detail.footer{
    .wrap{
        margin: 0 auto;
        width: 1200px;
    }
    .ft_footer_service {
        height:67px;
    }
    .ft_footer_service {
        padding: 30px 0;
        border-bottom: 1px solid #ebebeb;
       
    }
    .ft_footer_service a {
        float: left;
        display: block;
        _display: inline;
        width: 220px;
        overflow: hidden;
        margin: 0 51px;
        margin-right: 105px;
        margin-left: 0px;
        cursor: default;
    }
    .ft_footer_service a:last-child{
        margin-right:0;
    }
    .ft_footer_service a img {
        float: left;
        display: block;
        _display: inline;
        width: 66px;
        height: 66px;
        margin-right: 15px;
        
    }
    .ft_footer_service a b {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        color: #333;
        text-align:center;
        float:left;
    }
    .ft_footer_service a span {
        font-size: 14px;
        color: #999;
        line-height: 26px;
        float:left;
    }
    .ft_service_link {
        padding: 20px 0 20px;
        overflow: hidden;
    }
    .ft_help_list {
        float: left;
        padding-left: 15px;
    }
    .ft_code_wrap {
        width: 280px;
        overflow: hidden;
        float: left;
        margin-right: -50px;
    }
    .ft_service_link dl {
        float: left;
        display: block;
        _display: inline;
        width: 195px;
        text-align: left;
    }
    .ft_service_link dl dt {
        height: 32px;
        padding: 0 8px;
        font-size: 14px;
        color: #666;
        line-height: 32px;
        overflow: hidden;
        font-family: "Microsoft YaHei";
        color: #666;
        font-weight: bold;
    }
    .ft_service_link dl dd {
        height: 24px;
        padding: 0 8px;
        line-height: 24px;
        overflow: hidden;
        white-space: normal;
        font-size: 12px;
        a{
            margin:0;
        }
    }
    .ft_code_wrap .ft_mobile_code {
        float: left;
        margin-right: 50px;
        line-height: 32px;
        font-size: 14px;
        font-weight: bold;
        color: #666;
    }
    .ft_code_wrap .ft_mobile_code:last-child{
        margin:0;
    }
    .ft_code_wrap .ft_mobile_code a {
        width: 90px;
        height: 90px;
        display: inline-block;
        background: red;
        color:#fff;
    }
}










