body {
    font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #666;
    background: #fff;
}

//注册+登陆头部
.header {
    height: 100px;
    background: #fff;
    box-shadow: 0 0 10px #b4b4b4;
    .logoheader {
        width: 1200px;
        margin: 0 auto;
        height: 100px;

        .logoleft {
            overflow: hidden;
            height: 100px;
            float: left;

            img {
                margin-top: 25px;
            }

            .logo {
                float: left;
            }

            .logo-title {
                font-size: 24px;
                margin-left: 36px;
                float: left;
                line-height:100px;
            }
        }
    }

    .w {
        width: 990px;
        margin: 0 auto;
    }

    .have-account {
        font-size: 16px;
        color: #999;
        float: right;
        line-height:100px;

        a {
            color: #e22
        }
    }

    // 登录界面 调查问卷链接
    .q-link {
        position: relative;
        color: #999;
        float: right;
        top: 30px;

        b {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 18px;
            height: 14px;
            margin: 0 5px;
            background: url(../../images/header/q-icon.png) no-repeat;
            overflow: hidden;
            vertical-align: middle;
        }
    }

}



