.tab-list {
    font-size: 15px;
    margin-bottom:20px;

    li {
        float: left;
        border-bottom: 2px solid $border-c4;
        padding: 0 30px;
        line-height: 45px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        &.tab-list-detail:hover{
            color:$link-a1-hover;
        }

        &.line {
            color: $border-c4;
            padding: 0;
            font-weight:normal;
        }
        &.current{
            border-color:$link-a1;
        }
    }
}